<div *ngIf="shared.optionsPage === 'Design'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Dashboard')"
      class="panelBack matIcon"
      aria-label="Back to dashboard"
      title="Back to dashboard"
    >arrow_back</button>
    {{'options.design.design' | translate}}
  </h2>
  <form #designOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="selectColors" class="panelLabel">{{'options.design.colors' | translate}}</label>
        </div>
        <button
          class="panelBtn"
          (click)="goTo.emit('Theme')"
          [attr.aria-label]="'Choose colors'"
          [title]="'Choose colors'"
          >
          <span class="matIcon">palette</span>
          Choose color theme
        </button>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="selectColors" class="panelLabel">{{'options.design.wallpaper' | translate}}</label>
          <ng-container *ngIf="shared.bg && shared.bg != null && shared.bg != ''">
            <p
              *ngIf="settings.config.design.wallpaperType === 'upload'"
              class="panelDescription">
              Uploaded image
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'pattern'"
              class="panelDescription">
              Pattern "{{settings.config.design.patternId}}"
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'search'"
              class="panelDescription">
              Unsplash author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'topics'"
              class="panelDescription">
              Unsplash Topic: "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'collections'"
              class="panelDescription">
              Unsplash Collection: "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
            </p>
          </ng-container>
        </div>
        <div class="panelFieldInput">
          <button
            class="panelBtn"
            (click)="goTo.emit('Wallpaper')"
            [attr.aria-label]="'Choose colors'"
            [title]="'Choose colors'"
            >
            <span class="matIcon">wallpaper</span>
            Choose wallpaper
          </button>
        </div>
      </div>
      <div class="panelField">
        <div class="panelFieldContent">
          <label for="font" class="panelLabel">{{'options.design.font' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect" name="font" id="font"
            [(ngModel)]="settings.config.design.font"
            (ngModelChange)="getFont();"
            [style.fontFamily]="currentFont"
            [style.fontWeight]="currentWeight"
            style="font-size: 1em; font-weight: 400;">
            <option
              [ngValue]="font.id"
              *ngFor="let font of fonts;"
              [style.fontFamily]="setFont(font.family)"
              [style.fontWeight]="font.weight">
              {{font.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="panelField" *ngIf="settings.config.design.font === 0">
        <div class="panelFieldContent">
          <label for="customFont" class="panelLabel">{{'options.design.customFontName' | translate}}</label>
          <!-- <p class="panelDescription">{{'options.design.customFontDesc' | translate}}</p> -->
          <p class="panelDescription">{{'options.design.customFontUsage' | translate | translateCut:0}}<a href="https://www.adobe.com/products/type/install-instructions.html">{{'options.design.customFontUsage' | translate | translateCut:1}}</a>{{'options.design.customFontUsage' | translate | translateCut:2}}<a href="https://fonts.google.com">{{'options.design.customFontUsage' | translate | translateCut:3}}</a>{{'options.design.customFontUsage' | translate | translateCut:4}}<a href="https://www.1001freefonts.com/">{{'options.design.customFontUsage' | translate | translateCut:5}}</a>{{'options.design.customFontUsage' | translate | translateCut:6}}</p>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput" type="text" id="customFont" name="customFont" [(ngModel)]="settings.config.design.customFont" autocomplete="off">
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.design.font === 0">
        <div class="panelFieldContent">
          <label for="customFontWeight" class="panelLabel">{{'options.design.fontWeight' | translate}}</label>
          <p class="panelDescription">{{'options.design.fontWeightDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputLg" name="customFontWeight" id="customFontWeight"
            [(ngModel)]="settings.config.design.customFontWeight"
          >
            <option [ngValue]="w.id" *ngFor="let w of fontWeights;">
              {{w.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="globalSizeLabel" class="panelLabel">{{'options.design.globalSize' | translate}}</label>
          <p class="panelDescription">{{'options.design.globalSizeDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" labelledby="globalSizeLabel" name="globalSize" min="1" max="50" [(ngModel)]="settings.config.design.scaling"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="scalingMethodLabel" class="panelLabel">{{'options.design.dynScale' | translate}}</label>
          <p class="panelDescription">{{'options.design.dynScaleDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="scalingMethodLabel" id="scalingMethod" name="scalingMethod" [(ngModel)]="settings.config.design.scalingMethod"></options-toggle>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Dashboard')"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Dashboard</button>
</div>

<div *ngIf="shared.optionsPage === 'Theme'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Design')"
      class="panelBack matIcon"
      aria-label="Back to Design"
      title="Back to Design"
    >arrow_back</button>
    Color theme
  </h2>
  <form #themeOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setForeground" class="panelLabel">{{'options.design.fg' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setForeground" name="fg-color"
            [(ngModel)]="settings.config.design.foreground"
            (ngModelChange)="settings.config.design.colorsId = 0;"
            [style.backgroundColor]="settings.config.design.foreground"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setForeground" name="fg-code" [(ngModel)]="settings.config.design.foreground" (ngModelChange)="settings.config.design.colorsId = 0; " autocomplete="off">
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setBackgroundLabel" class="panelLabel">{{'options.design.bg' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setBackgroundLabel" name="bg-color"
            [(ngModel)]="settings.config.design.background"
            (ngModelChange)="settings.config.design.colorsId = 0; updateBackgroundStyles()"
            [style.backgroundColor]="settings.config.design.background"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setBackgroundLabel" name="bg-code" [(ngModel)]="settings.config.design.background"
            (ngModelChange)="settings.config.design.colorsId = 0; updateBackgroundStyles()"
            autocomplete="off">
        </div>
      </div>
      <div class="panelField">
        <div class="panelThemeGrid">
          <button
            *ngFor="let color of colors;"
            class="panelBtn panelBtnTheme"
            [ngClass]="{'active': settings.config.design.colorsId === color.id}"
            [style.backgroundColor]="color.bg"
            [style.color]="color.fg"
            (click)="setColors(color);"
            [attr.aria-label]="'Select theme ' + color.id"
            [title]="'Select theme ' + color.id"
            >
            abc 123
          </button>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Design')"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Design</button>
</div>

<div *ngIf="shared.optionsPage === 'Wallpaper'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Design')"
      class="panelBack matIcon"
      aria-label="Back to Design"
      title="Back to Design"
    >arrow_back</button>
    {{'options.design.wallpaper' | translate}}
  </h2>
  <form #themeOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField {{['topics', 'collections'].includes(settings.config.design.wallpaperType) ? '' : 'panelFieldInline'}}" *ngIf="shared.bg && shared.bg != null && shared.bg != ''">
        <div class="panelFieldContent">
          <label for="wallpaperPreview" class="panelLabel">
            Current wallpaper
          </label>
          <p
            *ngIf="settings.config.design.wallpaperType === 'upload'"
            class="panelDescription">
            Uploaded image
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'pattern'"
            class="panelDescription">
            Pattern "{{settings.config.design.patternId}}"
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'search'"
            class="panelDescription">
            Unsplash author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'topics'"
            class="panelDescription">
            Unsplash Topic: "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'collections'"
            class="panelDescription">
            Unsplash Collection: "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
          </p>
        </div>
        <div class="panelFieldInput">
          <button class="panelBtn" type="button" (click)="removeWallpaper();">
            <span class="matIcon">delete</span>
            Remove wallpaper
          </button>
          <button
            *ngIf="['topics', 'collections'].includes(settings.config.design.wallpaperType)"
            class="panelBtn"
            style="margin-left: auto;"
            type="button"
            title="Request a new random photo from the selected Unsplash list."
            (click)="getSelectedUnsplashImage(settings.config.design.unsplashId, settings.config.design.unsplashList,  settings.config.design.unsplashListLink)">
            <span class="matIcon">refresh</span>
            New photo
          </button>
        </div>
      </div>
      <div class="panelField">
        <div class="panelFieldContent">
          <label id="bgImgFileLabel" class="panelLabel">Choose type of wallpaper</label>
          <p class="panelDescription">{{'options.design.dontSync' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <input class="panelFile" id="bgImgFile" #bgImgFile name="imageUrl" type="file" accept="image/*" (change)="encodeImage($event, bgImgFile)" />
          <div class="panelBtnGroup" style="width: 100%">
            <button class="panelBtn {{wallpaperType === 'upload' ? 'active' : ''}}" aria-labelledby="bgImgFileLabel" type="button" (click)="bgImgFile.click();">
              Upload file
            </button>
            <button class="panelBtn {{wallpaperType === 'pattern' ? 'active' : ''}}" aria-labelledby="bgImgFileLabel" type="button" (click)="goTo.emit('Patterns')">
              Patterns
            </button>
            <button [disabled]="!shared.paid" class="panelBtn {{wallpaperType === 'search' || wallpaperType === 'topics' || wallpaperType === 'collections' ? 'active' : ''}}" aria-labelledby="bgImgFileLabel" type="button" (click)="openUnsplash()">
              <premium-label></premium-label>
              Unsplash.com
            </button>
          </div>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="brightnessLabel" class="panelLabel">{{'options.design.brightness' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" name="brightness" labelledby="brightnessLabel" min="0" max="30" [(ngModel)]="settings.config.design.brightness" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="contrastLabel" class="panelLabel">Contrast</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="contrast" labelledby="contrastLabel" min="0" max="30" [(ngModel)]="settings.config.design.contrast" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="saturationLabel" class="panelLabel">Saturation</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="saturation" labelledby="saturationLabel" min="0" max="30" [(ngModel)]="settings.config.design.saturation" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="blurLabel" class="panelLabel">Blur</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="blur" labelledby="blurLabel" min="0" max="50" [(ngModel)]="settings.config.design.imageBlur" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="fill" class="panelLabel">{{'options.design.fill' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputLg" name="fill" id="fill"
            [(ngModel)]="settings.config.design.imageSize"
            (ngModelChange)="updateBackgroundStyles()">
            <option
              [ngValue]="s.id"
              *ngFor="let s of bgSize;">
              {{s.label}}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="[40, 50].includes(settings.config.design.imageSize)" class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="scaleLabel" class="panelLabel">Scale</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="scale" labelledby="scaleLabel" min="10" max="200" [(ngModel)]="settings.config.design.imageScale" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="blend" class="panelLabel">{{'options.design.filter' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputLg" name="blend" id="blend"
            [(ngModel)]="settings.config.design.imageBlend"
            (ngModelChange)="updateBackgroundStyles()">
            <option
              [ngValue]="b.id"
              *ngFor="let b of bgBlend;">
              {{b.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="blend" class="panelLabel">Reset wallpaper styles</label>
          <p class="panelDescription">Reset brightness, contrast, saturation, blur, scale, and filter options back to default.</p>
        </div>
        <div class="panelFieldInput">
          <button class="panelBtn" type="button" (click)="resetWallpaperStyles();">
            <span class="matIcon">restart_alt</span>
            Reset styles
          </button>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Design')"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Design</button>
</div>

<div *ngIf="shared.optionsPage === 'Patterns'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Wallpaper')"
      class="panelBack matIcon"
      aria-label="Back to Wallpaper"
      title="Back to Wallpaper"
    >arrow_back</button>
    Patterns
  </h2>
  <form #patternsOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField">
        <div class="panelFieldContent">
          <label class="panelLabel">Patterns</label>
        </div>
        <div class="panelThemeGrid">
          <button
            *ngFor="let p of patterns;"
            class="panelBtn panelBtnTheme panelBtnThemeWallpaper"
            [ngClass]="{'active': settings.config.design.patternId === p.id}"
            [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(./assets/patterns/' + p.pattern + ')')"
            (click)="setPattern(p);"
            [attr.aria-label]="'Select pattern ' + p.id"
            [title]="'Select pattern ' + p.id"
          >
            &nbsp;
          </button>
        </div>
        <div class="panelFieldContent">
          <p class="panelDescription">
            {{'options.design.getMorePatterns' | translate | translateCut:0}}<a href="https://www.transparenttextures.com/">{{'options.design.getMorePatterns' | translate | translateCut:1}}</a>{{'options.design.getMorePatterns' | translate | translateCut:2}}<a href="https://www.toptal.com/designers/subtlepatterns/">{{'options.design.getMorePatterns' | translate | translateCut:3}}</a>{{'options.design.getMorePatterns' | translate | translateCut:4}}
          </p>
          <p class="panelDescription">
            {{'options.design.hardToSee' | translate}}
          </p>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Wallpaper')"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Wallpaper</button>
</div>


<div *ngIf="shared.optionsPage === 'Unsplash'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Wallpaper')"
      class="panelBack matIcon"
      aria-label="Back to Wallpaper"
      title="Back to Wallpaper"
    >arrow_back</button>
    Unsplash photos
  </h2>
  <div class="panelGroup">
    <div class="panelField">
      <div class="panelFieldContent">
        <label id="unsplashPhotoSearchLabel" class="panelLabel">Search Unsplash photos</label>
        <p class="panelDescription">Find a single photo to use as the wallpaper from Unsplash.</p>
      </div>
      <form #unsplashSearch="ngForm" novalidate (ngSubmit)="openUnsplashPhotoSearch()">
        <div class="panelFieldInput">
          <input class="panelInput" type="text" aria-labelledby="unsplashPhotoSearchLabel" name="unsplashPhotoSearch" [(ngModel)]="unsplashPhotoSearchTerm" autocomplete="off">
          <button type="submit" class="panelBtn" aria-label="Search Unsplash">
            <span class="matIcon">search</span>
          </button>
        </div>
      </form>
    </div>
    <div class="panelField">
      <div class="panelFieldContent">
        <label class="panelLabel">Random daily photo from Unsplash lists</label>
        <p class="panelDescription">Selecting a list will show a random photo from that list each day. Choose what type of lists you would like to browse.</p>
      </div>
      <div class="panelFieldInput">
        <div class="panelBtnGroup" style="width: 100%">
          <button type="button" class="panelBtn {{unsplashPage === 'topics' && 'active'}}" (click)="openUnsplashTopics()">Topics</button>
          <button type="button" class="panelBtn {{unsplashPage === 'collections' && 'active'}}" (click)="openUnsplashCollections()">Collections</button>
        </div>
      </div>
    </div>
    <div *ngIf="!shared.loading && unsplashPage != null" class="panelField">
      <div class="panelFieldContent">
        <label *ngIf="unsplashPage === 'search'" class="panelLabel">Search results for "{{unsplashPhotoSearchTerm.trim()}}"</label>
        <label *ngIf="unsplashPage === 'topics'" class="panelLabel">Unsplash Topics</label>
        <label *ngIf="unsplashPage === 'collections'" class="panelLabel">Unsplash Collections</label>
      </div>
      <div *ngIf="unsplashListItems.length <= 0" class="panelFieldContent">
        No results found, please try a different search.
      </div>
      <div *ngIf="unsplashListItems.length > 0" class="panelUnsplashGrid">
        <div *ngFor="let result of unsplashListItems | slice:0:10" class="panelBtnUnsplashItem">
          <ng-container *ngIf="unsplashPage === 'search'; else unsplashListItem">
            <button
              class="panelBtn panelBtnTheme panelBtnUnsplashPreview"
              [attr.aria-label]="'Select photo by ' + result.user.name ? result.user.name : result.user.username"
              [title]="'Select photo by ' + result.user.name ? result.user.name : result.user.username"
              (click)="getSelectedUnsplashImage(result.id, result.title, result.links.html)"
            >
              <div
                [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + result.urls.thumb + ')')"
              ></div>
            </button>
            <div class="panelBtnUnsplashText">
              <div class="panelBtnUnsplashMeta">
                Author: <a [href]="result.user.links.html + '?utm_source=carettab&utm_medium=referral'" target="_blank" rel="noreferrer">{{result.user.name ? result.user.name : result.user.username}}</a>
              </div>
            </div>
          </ng-container>
          <ng-template #unsplashListItem>
            <button
              class="panelBtn panelBtnTheme panelBtnUnsplashPreviewList"
              [attr.aria-label]="'Select photo ' + (wallpaperType === 'topics' ? 'topic' : 'collection') + ' ' + result.title"
              [title]="'Select photo ' + (wallpaperType === 'topics' ? 'topic' : 'collection') + ' ' + result.title"
              (click)="getSelectedUnsplashImage(result.id, result.title, result.links.html)"
            >
              <ng-container *ngIf="result.preview_photos && result.preview_photos.length > 0">
                <ng-container *ngFor="let preview of result.preview_photos | slice:0:3">
                  <div
                    [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + preview.urls.thumb + ')')"
                  ></div>
                </ng-container>
              </ng-container>
            </button>
            <div class="panelBtnUnsplashText">
              <div class="panelBtnUnsplashTitle">
                {{result.title}}
              </div>
              <div class="panelBtnUnsplashMeta">
                {{result.total_photos}} photos
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div *ngIf="unsplashListItems.length > 0" class="panelPagination">
        <button [disabled]="unsplashListPage <= 1" type="button" class="panelBtn" aria-label="Previous page" title="Previous page" (click)="getList(unsplashListPage - 1)">
          <span class="matIcon" aria-hidden="true">arrow_back</span>
        </button>
        <div class="panelCurrentPage">Page {{unsplashListPage}}</div>
        <button [disabled]="unsplashListItems.length <= 10" type="button" class="panelBtn" aria-label="Next page" title="Next page" (click)="getList(unsplashListPage + 1)">
          <span class="matIcon" aria-hidden="true">arrow_forward</span>
        </button>
      </div>
    </div>
  </div>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Wallpaper')"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Wallpaper</button>
</div>
