<div *ngIf="shared.optionsPage === 'Design'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Dashboard')"
      class="panelBack matIcon"
      attr.aria-label="{{'options.dashboard.backToDashboard' | translate}}"
      title="{{'options.dashboard.backToDashboard' | translate}}"
    >arrow_back</button>
    {{'options.design.design' | translate}}
  </h2>
  <form #designOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="selectColors" class="panelLabel">{{'options.design.colors' | translate}}</label>
        </div>
        <button
          class="panelBtn"
          (click)="goTo.emit('Theme')"
          >
          <span class="matIcon">palette</span>
          {{'options.design.chooseColorTheme' | translate}}
        </button>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="selectColors" class="panelLabel">{{'options.design.wallpaper' | translate}}</label>
          <ng-container *ngIf="shared.bg && shared.bg != null && shared.bg != ''">
            <p
              *ngIf="settings.config.design.wallpaperType === 'upload'"
              class="panelDescription">
              {{'options.design.uploadedImage' | translate}}
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'pattern'"
              class="panelDescription">
              {{'options.design.pattern' | translate}} "{{settings.config.design.patternId}}"
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'search'"
              class="panelDescription">
              {{'options.design.unsplashAuthor' | translate}} "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'topics'"
              class="panelDescription">
              {{'options.design.unsplashTopic' | translate}} "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
            </p>
            <p
              *ngIf="settings.config.design.wallpaperType === 'collections'"
              class="panelDescription">
              {{'options.design.unsplashCollection' | translate}} "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
            </p>
          </ng-container>
        </div>
        <div class="panelFieldInput">
          <button
            class="panelBtn"
            (click)="goTo.emit('Wallpaper')"
            >
            <span class="matIcon">wallpaper</span>
            {{'options.design.chooseWallpaper' | translate}}
          </button>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="font" class="panelLabel">{{'options.design.font' | translate}}</label>
          <div class="panelDescription"><premium-label></premium-label> {{'options.design.premiumFontsInternet' | translate}}</div>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputXl" name="font" id="font"
            [(ngModel)]="settings.config.design.font"
            (ngModelChange)="getFont();">
            <option
              [disabled]="!shared.paid && font.premium"
              [ngValue]="font.id"
              *ngFor="let font of fonts;">
              {{font.label}}<ng-container *ngIf="font.premium"> {{'options.design.premiumFont' | translate}}</ng-container>
            </option>
          </select>
        </div>
      </div>
      <div class="panelField" *ngIf="settings.config.design.font === 0">
        <div class="panelFieldContent">
          <label for="customFont" class="panelLabel">{{'options.design.customFontName' | translate}}</label>
          <!-- <p class="panelDescription">{{'options.design.customFontDesc' | translate}}</p> -->
          <p class="panelDescription">{{'options.design.customFontUsage' | translate | translateCut:0}}<a href="https://www.adobe.com/products/type/install-instructions.html">{{'options.design.customFontUsage' | translate | translateCut:1}}</a>{{'options.design.customFontUsage' | translate | translateCut:2}}<a href="https://fonts.google.com">{{'options.design.customFontUsage' | translate | translateCut:3}}</a>{{'options.design.customFontUsage' | translate | translateCut:4}}<a href="https://www.1001freefonts.com/">{{'options.design.customFontUsage' | translate | translateCut:5}}</a>{{'options.design.customFontUsage' | translate | translateCut:6}}</p>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput" type="text" id="customFont" name="customFont" [(ngModel)]="settings.config.design.customFont" autocomplete="off">
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.design.font === 0">
        <div class="panelFieldContent">
          <label for="customFontWeight" class="panelLabel">{{'options.design.fontWeight' | translate}}</label>
          <p class="panelDescription">{{'options.design.fontWeightDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputLg" name="customFontWeight" id="customFontWeight"
            [(ngModel)]="settings.config.design.customFontWeight"
          >
            <option [ngValue]="w.id" *ngFor="let w of fontWeights;">
              {{w.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="globalSizeLabel" class="panelLabel">{{'options.design.globalSize' | translate}}</label>
          <p class="panelDescription">{{'options.design.globalSizeDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" labelledby="globalSizeLabel" name="globalSize" min="1" max="50" [(ngModel)]="settings.config.design.scaling"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="scalingMethodLabel" class="panelLabel">{{'options.design.dynScale' | translate}}</label>
          <p class="panelDescription">{{'options.design.dynScaleDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="scalingMethodLabel" id="scalingMethod" name="scalingMethod" [(ngModel)]="settings.config.design.scalingMethod"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldMultipleWithToggle">
        <div class="panelFieldContent">
          <label id="shadowLabel" class="panelLabel">Shadow</label>
          <p class="panelDescription">Adds a shadow to widgets. Shadows do not work on all widgets.</p>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="shadowLabel" id="shadow" name="shadow" [(ngModel)]="settings.config.design.shadow"></options-toggle>
        </div>
        <div *ngIf="settings.config.design.shadow">
          <div class="panelField">
            <div class="panelFieldContent">
              <label for="shadowX" class="panelDescription">X Offset</label>
            </div>
            <div class="panelFieldInput">
              <input type="number" name="shadowX" id="shadowX" class="panelInput" [(ngModel)]="settings.config.design.shadowXOffset" />
            </div>
          </div>
          <div class="panelField">
            <div class="panelFieldContent">
              <label for="shadowY" class="panelDescription">Y Offset</label>
            </div>
            <div class="panelFieldInput">
              <input type="number" name="shadowY" id="shadowY" class="panelInput" [(ngModel)]="settings.config.design.shadowYOffset" />
            </div>
          </div>
          <div class="panelField">
            <div class="panelFieldContent">
              <label for="shadowBlur" class="panelDescription">Blur</label>
            </div>
            <div class="panelFieldInput">
              <input type="number" name="shadowBlur" id="shadowBlur" class="panelInput" [(ngModel)]="settings.config.design.shadowBlur" />
            </div>
          </div>
          <div class="panelField">
            <div class="panelFieldContent">
              <label id="shadowColorLabel" class="panelDescription">Color</label>
            </div>
            <div class="panelFieldInput">
              <input class="panelInput panelInputColor" type="color" aria-labelledby="shadowColorLabel" name="shadowColor"
                [(ngModel)]="settings.config.design.shadowColor"
                [style.backgroundColor]="settings.config.design.shadowColor"
              >
              <input class="panelInput panelInputSm" type="text" aria-labelledby="shadowColorLabel" name="shadowColor" [(ngModel)]="settings.config.design.shadowColor" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Dashboard')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.dashboard.backToDashboard' | translate}}</button>
</div>

<div *ngIf="shared.optionsPage === 'Theme'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Design')"
      class="panelBack matIcon"
      attr.aria-label="{{'options.design.backToDesign' | translate}}"
      title="{{'options.design.backToDesign' | translate}}"
    >arrow_back</button>
    {{'options.design.colorTheme' | translate}}
  </h2>
  <form #themeOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="randomColorsLabel" class="panelLabel">{{'options.design.randomColorTheme' | translate}}</label>
          <p class="panelDescription">{{'options.design.randomColorThemeDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="randomColorsLabel" id="randomColors" name="randomColors" [(ngModel)]="settings.config.design.randomColors"></options-toggle>
        </div>
      </div>
      <div *ngIf="!settings.config.design.randomColors" class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setForeground" class="panelLabel">{{'options.design.fg' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setForeground" name="fg-color"
            [(ngModel)]="settings.config.design.foreground"
            (ngModelChange)="settings.config.design.colorsId = 0;"
            [style.backgroundColor]="settings.config.design.foreground"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setForeground" name="fg-code" [(ngModel)]="settings.config.design.foreground" (ngModelChange)="settings.config.design.colorsId = 0; " autocomplete="off">
        </div>
      </div>
      <div *ngIf="!settings.config.design.randomColors" class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setBackgroundLabel" class="panelLabel">{{'options.design.bg' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setBackgroundLabel" name="bg-color"
            [(ngModel)]="settings.config.design.background"
            (ngModelChange)="settings.config.design.colorsId = 0; updateBackgroundStyles()"
            [style.backgroundColor]="settings.config.design.background"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setBackgroundLabel" name="bg-code" [(ngModel)]="settings.config.design.background"
            (ngModelChange)="settings.config.design.colorsId = 0; updateBackgroundStyles()"
            autocomplete="off">
        </div>
      </div>
      <div *ngIf="!settings.config.design.randomColors" class="panelField">
        <div class="panelThemeGrid">
          <button
            *ngFor="let color of colors;"
            class="panelBtn panelBtnTheme"
            [ngClass]="{'active': settings.config.design.colorsId === color.id}"
            [style.backgroundColor]="color.bg"
            [style.color]="color.fg"
            (click)="setColors(color);"
            attr.aria-label="{{'options.design.selectTheme' | translate}} {{color.id}}"
            title="{{'options.design.selectTheme' | translate}} {{color.id}}"
            >
            abc 123
          </button>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Design')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.design.backToDesign' | translate}}</button>
</div>

<div *ngIf="shared.optionsPage === 'Wallpaper'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Design')"
      class="panelBack matIcon"
      attr.aria-label="{{'options.design.backToDesign' | translate}}"
      title="{{'options.design.backToDesign' | translate}}"
    >arrow_back</button>
    {{'options.design.wallpaper' | translate}}
  </h2>
  <form #themeOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField {{['topics', 'collections'].includes(settings.config.design.wallpaperType) ? '' : 'panelFieldInline'}}" *ngIf="shared.bg && shared.bg != null && shared.bg != ''">
        <div class="panelFieldContent">
          <label for="wallpaperPreview" class="panelLabel">
            {{'options.design.currentWallpaper' | translate}}
          </label>
          <p
            *ngIf="settings.config.design.wallpaperType === 'upload'"
            class="panelDescription">
            {{'options.design.uploadedImage' | translate}}
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'pattern'"
            class="panelDescription">
            {{'options.design.pattern' | translate}} "{{settings.config.design.patternId}}"
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'search'"
            class="panelDescription">
            {{'options.design.unsplashAuthor' | translate}} "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'topics'"
            class="panelDescription">
            {{'options.design.unsplashTopic' | translate}} "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
          </p>
          <p
            *ngIf="settings.config.design.wallpaperType === 'collections'"
            class="panelDescription">
            {{'options.design.unsplashCollection' | translate}} "<a href="{{this.settings.config.design.unsplashListLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashList}}</a>".<br />Author: "<a href="{{this.settings.config.design.unsplashCreditLink}}?utm_source=carettab&utm_medium=referral" target="_blank" rel="noreferrer">{{settings.config.design.unsplashCredit}}</a>"
          </p>
        </div>
        <div class="panelFieldInput">
          <button class="panelBtn" type="button" (click)="removeWallpaper();">
            <span class="matIcon">delete</span>
            {{'options.design.removeWallpaper' | translate}}
          </button>
          <button
            *ngIf="['topics', 'collections'].includes(settings.config.design.wallpaperType)"
            class="panelBtn"
            style="margin-left: auto;"
            type="button"
            title="{{'options.design.newPhotoDesc' | translate}}"
            (click)="getSelectedUnsplashImage(settings.config.design.unsplashId, settings.config.design.unsplashList,  settings.config.design.unsplashListLink)">
            <span class="matIcon">refresh</span>
            {{'options.design.newPhoto' | translate}}
          </button>
        </div>
      </div>
      <div class="panelField">
        <div class="panelFieldContent">
          <label id="bgImgFileLabel" class="panelLabel">{{'options.design.chooseTypeOfWallpaper' | translate}}</label>
          <p class="panelDescription">{{'options.design.dontSync' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <input class="panelFile" id="bgImgFile" #bgImgFile name="imageUrl" type="file" accept="image/*" (change)="encodeImage($event, bgImgFile)" />
          <div class="panelBtnGroup" style="width: 100%">
            <button class="panelBtn {{wallpaperType === 'upload' ? 'active' : ''}}" aria-labelledby="bgImgFileLabel" type="button" (click)="bgImgFile.click();">
              {{'options.design.uploadImage' | translate}}
            </button>
            <button class="panelBtn {{wallpaperType === 'pattern' ? 'active' : ''}}" aria-labelledby="bgImgFileLabel" type="button" (click)="goTo.emit('Patterns')">
              {{'options.design.pattern' | translate}}
            </button>
            <button [disabled]="!shared.paid" class="panelBtn {{wallpaperType === 'search' || wallpaperType === 'topics' || wallpaperType === 'collections' ? 'active' : ''}}" aria-labelledby="bgImgFileLabel" type="button" (click)="openUnsplash()">
              <premium-label></premium-label>
              Unsplash.com
            </button>
          </div>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="brightnessLabel" class="panelLabel">{{'options.design.brightness' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" name="brightness" labelledby="brightnessLabel" min="0" max="30" [(ngModel)]="settings.config.design.brightness" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="contrastLabel" class="panelLabel">{{'options.design.contrast' | translate}}</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="contrast" labelledby="contrastLabel" min="0" max="30" [(ngModel)]="settings.config.design.contrast" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="saturationLabel" class="panelLabel">{{'options.design.saturation' | translate}}</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="saturation" labelledby="saturationLabel" min="0" max="30" [(ngModel)]="settings.config.design.saturation" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="blurLabel" class="panelLabel">{{'options.design.blur' | translate}}</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="blur" labelledby="blurLabel" min="0" max="50" [(ngModel)]="settings.config.design.imageBlur" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="fill" class="panelLabel">{{'options.design.fill' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputLg" name="fill" id="fill"
            [(ngModel)]="settings.config.design.imageSize"
            (ngModelChange)="updateBackgroundStyles()">
            <option
              [ngValue]="s.id"
              *ngFor="let s of bgSize;">
              {{s.label}}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="[40, 50].includes(settings.config.design.imageSize)" class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
        <div class="panelFieldContent">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            <label id="scaleLabel" class="panelLabel">{{'options.design.scale' | translate}}</label>
          </div>
        </div>
        <div class="panelFieldInput">
          <options-range [disabled]="!shared.paid" class="panelInputLg" name="scale" labelledby="scaleLabel" min="10" max="200" [(ngModel)]="settings.config.design.imageScale" (ngModelChange)="updateBackgroundStyles()"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="blend" class="panelLabel">{{'options.design.filter' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <select class="panelSelect panelInputLg" name="blend" id="blend"
            [(ngModel)]="settings.config.design.imageBlend"
            (ngModelChange)="updateBackgroundStyles()">
            <option
              [ngValue]="b.id"
              *ngFor="let b of bgBlend;">
              {{b.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="blend" class="panelLabel">{{'options.design.resetWallpaperStyles' | translate}}</label>
          <p class="panelDescription">{{'options.design.resetWallpaperStylesDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <button class="panelBtn" type="button" (click)="resetWallpaperStyles();">
            <span class="matIcon">restart_alt</span>
            {{'options.design.resetStyles' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Design')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.design.backToDesign' | translate}}</button>
</div>

<div *ngIf="shared.optionsPage === 'Patterns'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Wallpaper')"
      class="panelBack matIcon"
      attr.aria-label="{{'options.design.backToWallpaper' | translate}}"
      title="{{'options.design.backToWallpaper' | translate}}"
    >arrow_back</button>
    {{'options.design.patterns' | translate}}
  </h2>
  <form #patternsOptions="ngForm" novalidate>
    <div class="panelGroup">
      <div class="panelField">
        <div class="panelFieldContent">
          <label class="panelLabel">{{'options.design.patterns' | translate}}</label>
        </div>
        <div class="panelThemeGrid">
          <button
            *ngFor="let p of patterns;"
            class="panelBtn panelBtnTheme panelBtnThemeWallpaper"
            [ngClass]="{'active': settings.config.design.patternId === p.id}"
            [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(./assets/patterns/' + p.pattern + ')')"
            (click)="setPattern(p);"
            attr.aria-label="{{'options.design.selectPattern' | translate}} {{p.id}}"
            title="{{'options.design.selectPattern' | translate}} {{p.id}}"
          >
            &nbsp;
          </button>
        </div>
        <div class="panelFieldContent">
          <p class="panelDescription">
            {{'options.design.getMorePatterns' | translate | translateCut:0}}<a href="https://www.transparenttextures.com/">{{'options.design.getMorePatterns' | translate | translateCut:1}}</a>{{'options.design.getMorePatterns' | translate | translateCut:2}}<a href="https://www.toptal.com/designers/subtlepatterns/">{{'options.design.getMorePatterns' | translate | translateCut:3}}</a>{{'options.design.getMorePatterns' | translate | translateCut:4}}
          </p>
          <p class="panelDescription">
            {{'options.design.hardToSee' | translate}}
          </p>
        </div>
      </div>
    </div>
  </form>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Wallpaper')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.design.backToWallpaper' | translate}}</button>
</div>


<div *ngIf="shared.optionsPage === 'Unsplash'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Wallpaper')"
      class="panelBack matIcon"
      attr.aria-label="{{'options.design.backToWallpaper' | translate}}"
      title="{{'options.design.backToWallpaper' | translate}}"
    >arrow_back</button>
    {{'options.design.unsplashPhotos' | translate}}
  </h2>
  <div class="panelGroup">
    <div class="panelField">
      <div class="panelFieldContent">
        <label id="unsplashPhotoSearchLabel" class="panelLabel">{{'options.design.searchUnsplash' | translate}}</label>
        <p class="panelDescription">{{'options.design.searchUnsplashDesc' | translate}}</p>
      </div>
      <form #unsplashSearch="ngForm" novalidate (ngSubmit)="openUnsplashPhotoSearch()">
        <div class="panelFieldInput">
          <input class="panelInput" type="text" aria-labelledby="unsplashPhotoSearchLabel" name="unsplashPhotoSearch" [(ngModel)]="unsplashPhotoSearchTerm" autocomplete="off">
          <button type="submit" class="panelBtn" attr.aria-label="{{'options.design.searchUnsplash' | translate}}">
            <span class="matIcon">search</span>
          </button>
        </div>
      </form>
    </div>
    <div class="panelField">
      <div class="panelFieldContent">
        <label class="panelLabel">{{'options.design.randomDailyUnsplash' | translate}}</label>
        <p class="panelDescription">{{'options.design.randomDailyUnsplashDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <div class="panelBtnGroup" style="width: 100%">
          <button type="button" class="panelBtn {{unsplashPage === 'topics' && 'active'}}" (click)="openUnsplashTopics()">{{'options.design.topics' | translate}}</button>
          <button type="button" class="panelBtn {{unsplashPage === 'collections' && 'active'}}" (click)="openUnsplashCollections()">{{'options.design.collections' | translate}}</button>
        </div>
      </div>
    </div>
    <div *ngIf="!shared.loading && unsplashPage != null" class="panelField">
      <div class="panelFieldContent">
        <label *ngIf="unsplashPage === 'search'" class="panelLabel">{{'options.design.searchResultsFor' | translate}} "{{unsplashPhotoSearchTerm.trim()}}"</label>
        <label *ngIf="unsplashPage === 'topics'" class="panelLabel">{{'options.design.unsplashTopics' | translate}}</label>
        <label *ngIf="unsplashPage === 'collections'" class="panelLabel">{{'options.design.unsplashCollections' | translate}}</label>
      </div>
      <div *ngIf="unsplashListItems.length <= 0" class="panelFieldContent">
        {{'options.design.noSearchResults' | translate}}
      </div>
      <div *ngIf="unsplashListItems.length > 0" class="panelUnsplashGrid">
        <div *ngFor="let result of unsplashListItems | slice:0:10" class="panelBtnUnsplashItem">
          <ng-container *ngIf="unsplashPage === 'search'; else unsplashListItem">
            <button
              class="panelBtn panelBtnTheme panelBtnUnsplashPreview"
              attr.aria-label="{{'options.design.selectPhotoBy' | translate}} {{result.user.name ? result.user.name : result.user.username}}"
              title="{{'options.design.selectPhotoBy' | translate}} {{result.user.name ? result.user.name : result.user.username}}"
              (click)="getSelectedUnsplashImage(result.id, result.title, result.links.html)"
            >
              <div
                [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + result.urls.thumb + ')')"
              ></div>
            </button>
            <div class="panelBtnUnsplashText">
              <div class="panelBtnUnsplashMeta">
                {{'options.design.author' | translate}} <a [href]="result.user.links.html + '?utm_source=carettab&utm_medium=referral'" target="_blank" rel="noreferrer">{{result.user.name ? result.user.name : result.user.username}}</a>
              </div>
            </div>
          </ng-container>
          <ng-template #unsplashListItem>
            <button
              class="panelBtn panelBtnTheme panelBtnUnsplashPreviewList"
              attr.aria-label="{{'options.design.selectPhoto' | translate}} {{wallpaperType === 'topics' ? 'topic' : 'collection'}} {{result.title}}"
              title="{{'options.design.selectPhoto' | translate}} {{wallpaperType === 'topics' ? 'topic' : 'collection'}} {{result.title}}"
              (click)="getSelectedUnsplashImage(result.id, result.title, result.links.html)"
            >
              <ng-container *ngIf="result.preview_photos && result.preview_photos.length > 0">
                <ng-container *ngFor="let preview of result.preview_photos | slice:0:3">
                  <div
                    [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + preview.urls.thumb + ')')"
                  ></div>
                </ng-container>
              </ng-container>
            </button>
            <div class="panelBtnUnsplashText">
              <div class="panelBtnUnsplashTitle">
                {{result.title}}
              </div>
              <div class="panelBtnUnsplashMeta">
                {{result.total_photos}} {{'options.design.photos' | translate}}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div *ngIf="unsplashListItems.length > 0" class="panelPagination">
        <button [disabled]="unsplashListPage <= 1" type="button" class="panelBtn" attr.aria-label="{{'options.common.previousPage' | translate}}" title="{{'options.common.previousPage' | translate}}" (click)="getList(unsplashListPage - 1)">
          <span class="matIcon" aria-hidden="true">arrow_back</span>
        </button>
        <div class="panelCurrentPage">{{'options.common.page' | translate}} {{unsplashListPage}}</div>
        <button [disabled]="unsplashListItems.length <= 10" type="button" class="panelBtn" attr.aria-label="{{'options.common.nextPage' | translate}}" title="{{'options.common.nextPage' | translate}}" (click)="getList(unsplashListPage + 1)">
          <span class="matIcon" aria-hidden="true">arrow_forward</span>
        </button>
      </div>
    </div>
  </div>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Wallpaper')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.design.backToWallpaper' | translate}}</button>
</div>
