.analog {
  --analogBorderSize: .001em;
  --analogBorderOpacity: 0;
  --analogMarkMargin: 0;
  --analogQuarterMarkOpacity: 1;
  --analogHourMarkOpacity: 1;
  --analogMinuteMarkOpacity: 1;
  --analogHourWidth: .007em;
  --analogHourHeight: .11em;
  --analogHourRadius: calc(var(--analogHourWidth) / 2);
  --analogMinuteWidth: .005em;
  --analogMinuteHeight: .15em;
  --analogMinuteRadius: calc(var(--analogMinuteWidth) / 2);
  --analogSecondWidth: .003em;
  --analogSecondHeight: .2em;
  --analogSecondRadius: calc(var(--analogSecondWidth) / 2);
  --analogCenterSize: .02em;
  --analogCenterRadius: 50%;
  --analogCurrentHour: 0deg;
  --analogCurrentMinute: 0deg;
  --analogCurrentSecond: 0deg;
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: .4em;
  height: .4em;
  margin: 0 auto;
  border-radius: 50%;
  .analogFace,
  .analogHands {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    place-items: center;
    grid-template: 1fr / 1fr;
  }

  .analogFace {
    font-size: 0.01em; // Move decimal of ems for markers for ease of development
    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      opacity: var(--analogBorderOpacity);
      outline: var(--analogBorderSize) solid currentColor;
      border-radius: 50%;
    }
  }

  .analogIndicator {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: absolute;
    display: grid;
    place-items: start center;
    width: 100%;
    height: 100%;

    @for $i from 1 through 60 {
      &:nth-child(#{$i}) { rotate: #{$i * 6}deg; }
    }

    &::before {
      content: '';
      display: block;
      background-color: currentColor;
      margin: var(--analogMarkMargin);
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &::after {
      content: '';
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      color: currentColor;
      display: block;
    }

    &.analogIndicatorQuarter {
      &::before {
        width: var(--analogQuarterMarkWidth);
        height: var(--analogQuarterMarkHeight);
        border-radius: var(--analogQuarterMarkRadius);
        opacity: var(--analogQuarterMarkOpacity);
      }
    }

    &.analogIndicatorHour {
      &::before {
        width: var(--analogHourMarkWidth);
        height: var(--analogHourMarkHeight);
        border-radius: var(--analogHourMarkRadius);
        opacity: var(--analogHourMarkOpacity);
      }
    }

    &.analogIndicatorMinute {
      &::before {
        width: var(--analogMinuteMarkWidth);
        height: var(--analogMinuteMarkHeight);
        border-radius: var(--analogMinuteMarkRadius);
        opacity: var(--analogMinuteMarkOpacity);
      }
    }
  }

  .analogHour,
  .analogMinute,
  .analogSecond,
  .analogCenter {
    background-color: currentColor;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .analogHour {
    width: .03em;
    height: .4em;
    rotate: var(--analogCurrentHour);
  }

  .analogMinute {
    width: .03em;
    height: .4em;
    rotate: var(--analogCurrentMinute);
  }

  .analogSecond {
    width: .03em;
    height: .4em;
    rotate: var(--analogCurrentSecond);
    &.smooth {
      animation: rotate-second 60s linear infinite;
    }
  }

  .analogCenter {
    width: var(--analogCenterSize);
    height: var(--analogCenterSize);
    border-radius: var(--analogCenterRadius);
    z-index: +1;
  }
}

@keyframes rotate-second {
  from {
    rotate: var(--analogCurrentSecond);
  }
  to {
    rotate: calc(var(--analogCurrentSecond) + 360deg);
  }
}
