.faceStyle_none {
  .analogIndicatorQuarter {
    display: none;
  }

  .analogIndicatorFive {
    display: none;
  }

  .analogIndicatorMinute {
    display: none;
  }
}

.faceStyle_dash {
  --analogMarkMargin: .6em;

  --analogQuarterMarkWidth: .5em;
  --analogQuarterMarkHeight: 2em;
  --analogQuarterMarkRadius: .25em;

  --analogHourMarkWidth: .3em;
  --analogHourMarkHeight: 1em;
  --analogHourMarkRadius: .15em;

  --analogMinuteMarkWidth: .2em;
  --analogMinuteMarkHeight: .5em;
  --analogMinuteMarkRadius: .1em;
}

.faceStyle_dot {
  --analogMarkMargin: .6em;

  --analogQuarterMarkWidth: .5em;
  --analogQuarterMarkHeight: .5em;
  --analogQuarterMarkRadius: 50%;

  --analogHourMarkWidth: .5em;
  --analogHourMarkHeight: .5em;
  --analogHourMarkRadius: 50%;

  --analogMinuteMarkWidth: .2em;
  --analogMinuteMarkHeight: .2em;
  --analogMinuteMarkRadius: 50%;
  .analogIndicatorMinute {
    --analogMarkMargin: .75em;
  }
}

.faceStyle_romanDashHour {
  --analogMarkMargin: .6em;

  --analogQuarterMarkWidth: .5em;
  --analogQuarterMarkHeight: .8em;
  --analogQuarterMarkRadius: .15em;

  --analogHourMarkWidth: .3em;
  --analogHourMarkHeight: .8em;
  --analogHourMarkRadius: .1em;

  --analogMinuteMarkWidth: .2em;
  --analogMinuteMarkHeight: .4em;
  --analogMinuteMarkRadius: 0em;

  .analogIndicator:not(.analogIndicatorMinute) {
    &::after {
      translate: 0 .6em;
      font-family: 'EB Garamond', serif;
      font-size: 2.4em;
    }
    &:nth-child(5)::after {content: 'I';}
    &:nth-child(10)::after {content: 'II';}
    &:nth-child(15)::after {content: 'III';}
    &:nth-child(20)::after {content: 'IIII';}
    &:nth-child(25)::after {content: 'V';}
    &:nth-child(30)::after {content: 'VI';}
    &:nth-child(35)::after {content: 'VII';}
    &:nth-child(40)::after {content: 'VIII';}
    &:nth-child(45)::after {content: 'IX';}
    &:nth-child(50)::after {content: 'X';}
    &:nth-child(55)::after {content: 'XI';}
    &:nth-child(60)::after {content: 'XII';}
  }
}

.faceStyle_romanDashQuarter {
  --analogMarkMargin: .6em;

  --analogQuarterMarkWidth: .5em;
  --analogQuarterMarkHeight: .8em;
  --analogQuarterMarkRadius: .15em;

  --analogHourMarkWidth: .3em;
  --analogHourMarkHeight: .8em;
  --analogHourMarkRadius: .1em;

  --analogMinuteMarkWidth: .2em;
  --analogMinuteMarkHeight: .4em;
  --analogMinuteMarkRadius: 0em;

  .analogIndicator:not(.analogIndicatorMinute) {
    &::after {
      translate: 0 .6em;
      font-family: 'EB Garamond', serif;
      font-size: 2.4em;
    }
    &:nth-child(15)::after {content: 'III';}
    &:nth-child(30)::after {content: 'VI';}
    &:nth-child(45)::after {content: 'IX';}
    &:nth-child(60)::after {content: 'XII';}
  }
}

.faceStyle_arabicDashHour {
  --analogMarkMargin: .6em;

  --analogQuarterMarkWidth: .5em;
  --analogQuarterMarkHeight: .8em;
  --analogQuarterMarkRadius: .15em;

  --analogHourMarkWidth: .3em;
  --analogHourMarkHeight: .8em;
  --analogHourMarkRadius: .1em;

  --analogMinuteMarkWidth: .2em;
  --analogMinuteMarkHeight: .4em;
  --analogMinuteMarkRadius: 0em;

  .analogIndicator:not(.analogIndicatorMinute) {
    &::after {
      translate: 0 .6em;
      font-family: 'Quicksand', serif;
      font-size: 2.4em;
    }
    &:nth-child(5)::after {content: '1';rotate: -30deg;}
    &:nth-child(10)::after {content: '2';rotate: -60deg;}
    &:nth-child(15)::after {content: '3';rotate: -90deg;}
    &:nth-child(20)::after {content: '4';rotate: -120deg;}
    &:nth-child(25)::after {content: '5';rotate: -150deg;}
    &:nth-child(30)::after {content: '6';rotate: -180deg;}
    &:nth-child(35)::after {content: '7';rotate: -210deg;}
    &:nth-child(40)::after {content: '8';rotate: -240deg;}
    &:nth-child(45)::after {content: '9';rotate: -270deg;}
    &:nth-child(50)::after {content: '10';rotate: -300deg;}
    &:nth-child(55)::after {content: '11';rotate: -330deg;}
    &:nth-child(60)::after {content: '12';rotate: -360deg;}
  }
}

.faceStyle_arabicDashQuarter {
  --analogMarkMargin: .6em;

  --analogQuarterMarkWidth: .5em;
  --analogQuarterMarkHeight: .8em;
  --analogQuarterMarkRadius: .15em;

  --analogHourMarkWidth: .3em;
  --analogHourMarkHeight: .8em;
  --analogHourMarkRadius: .1em;

  --analogMinuteMarkWidth: .2em;
  --analogMinuteMarkHeight: .4em;
  --analogMinuteMarkRadius: 0em;

  .analogIndicator:not(.analogIndicatorMinute) {
    &::after {
      translate: 0 .6em;
      font-family: 'Quicksand', serif;
      font-size: 2.4em;
    }
    &:nth-child(15)::after {content: '3';rotate: -90deg;}
    &:nth-child(30)::after {content: '6';rotate: -180deg;}
    &:nth-child(45)::after {content: '9';rotate: -270deg;}
    &:nth-child(60)::after {content: '12';rotate: -360deg;}
  }
}

.faceStyle_swiss {
  --analogMarkMargin: 0em;

  --analogQuarterMarkWidth: 1em;
  --analogQuarterMarkHeight: 3em;
  --analogQuarterMarkRadius: 0%;

  --analogHourMarkWidth: 1em;
  --analogHourMarkHeight: 3em;
  --analogHourMarkRadius: 0%;

  --analogMinuteMarkWidth: .3em;
  --analogMinuteMarkHeight: 1.5em;
  --analogMinuteMarkRadius: 0%;
}
