.binaryContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

#binarySeconds,
#binaryMinutes,
#binaryHours {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.binaryColumn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-end;
}

.binaryMarker {
  background-color: currentColor;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  opacity: 0.5;
  text-align: center;
  line-height: 1;
  &.active {
    opacity: 1;
  }
  &.numbers {
    background-color: transparent;
    color: currentColor;
    &::before {
      content: attr(data-off);
    }
    &.active {
      &::before {
        content: attr(data-on);
      }
    }
  }
}
.binarySecondsDim #binarySeconds,
.binaryDim {
  .binaryMarker {
    opacity: 0.25;
    &.active {
      opacity: 1;
    }
  }
}
