.binaryContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

#binarySeconds,
#binaryMinutes,
#binaryHours {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.binaryColumn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-end;
}

.binaryMarker {
  background-color: currentColor;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  opacity: .5;
  &.active {
    opacity: 1;
  }
}
.binarySecondsDim #binarySeconds,
.binaryDim {
  .binaryMarker {
    opacity: .25;
    &.active {
      opacity: 1;
    }
  }
}
