$bookmarksBaseScale: 12px;
$barBg: #fdfeff;
$barBgHover: #e9eaec;
$barBorder: #b6b4b6;
$barTitleBg: #E2E2E2;
$barTitleBgHover: darken($barTitleBg, 5%);
$barBtnBorder: lighten($barBorder, 15%);
$barHeight: 22px;
$barMaxWidth: 9.7em;

.bookmarksBar {
  font-size: $bookmarksBaseScale;
}

.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: $barBg;
  color: black;
  padding: .4em .6em;
  border-bottom: 1px solid $barBorder;
  z-index: z('tabBookmarks');
}

.barTitle,
.barScroll,
.barLink,
.barFolder {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 auto;
  height: $barHeight;
  margin: 0 .1em;
  padding: 0 .5em;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: default;
  border-radius: ($barHeight / 2);
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    outline: none;
    background-color: $barBgHover;
  }
  &:disabled {
    opacity: .15;
  }
}

.barList {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  overflow: hidden;
  border-top: 0;
  border-bottom: 0;
}

.barTitle {
  background-color: $barTitleBg;
  font-weight: 700;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $barTitleBgHover;
  }
}

.barIcon {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.barIcon + .barLabel {
  margin-left: .6em;
}

.barLabel {
  flex: 1 1 auto;
  position: relative;
  white-space: nowrap;
  max-width: ($barMaxWidth - .1);
  text-overflow: clip;
  overflow: hidden;
  line-height: $barHeight;
  font-weight: 300;
  font-family: $settingsFont;
  &::after {
    content: '';
    width: $barMaxWidth;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: ($barHeight / 2);
  }
}

.barLink,
.barFolder {
  .barLabel::after {
    background: linear-gradient(to right, rgba($barBg, 0) 0%, rgba($barBg, 0) 80%, rgba($barBg, 1) 100%);
    transition: background-color .2s;
  }
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    .barLabel::after {
      background: linear-gradient(to right, rgba($barBgHover, 0) 0%, rgba($barBgHover, 0) 80%, rgba($barBgHover, 1) 100%);
    }
  }
}

.barTitle {
  .barLabel::after {
    background: linear-gradient(to right, rgba($barTitleBg, 0) 0%, rgba($barTitleBg, 0) 80%, rgba($barTitleBg, 1) 100%);
    transition: background-color .2s;
  }
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    .barLabel::after {
      background: linear-gradient(to right, rgba($barTitleBgHover, 0) 0%, rgba($barTitleBgHover, 0) 80%, rgba($barTitleBgHover, 1) 100%);
    }
  }
}
