.covid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: max-content;
}

.covidCountry {
  display: flex;
  align-items: center;
  gap: .3em;
}

.covidFlag {
  border:1px solid black;
  height: .8em;
  vertical-align: middle;
  margin: 0;
}

.covidNumbers {
  display: flex;
  align-items: center;
  gap: .2em;
  .icon {
    font-size: 1em;
  }
}