.covidContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .country{
    border-radius: 10px;
    background-color: burlywood;
    margin:15px;
    padding:5px;
  }
  
  .flag{
    margin:15px;
    border:1px solid black;
    box-shadow: 5px 10px #888888;
  }