.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.messageContainer{
  padding:20px;
  width:100%;  
}

.messageRemoveBtn{
  margin-left: 15px;
  color:black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}