$qlBorderColor: #1f2020;
$qlBorder: 1px solid $qlBorderColor;
$qlRadius: 8px;

.tabQuickLinks {
  width: max-content;
}

.quickLinksBar {
  display: flex;
  justify-content: center;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    &.quickLinksVertical {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &.quickLinksAlignLeft {
      justify-content: flex-start;
      &.quickLinksVertical {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
    &.quickLinksAlignCenter {
      justify-content: center;
      &.quickLinksVertical {
        justify-content: flex-start;
        align-items: center;
      }
    }
    &.quickLinksAlignRight {
      justify-content: flex-end;
      &.quickLinksVertical {
        justify-content: flex-start;
        align-items: flex-end;
      }
    }
  }
  button.link,
  a.link {
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: inherit;
    font-weight: inherit;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s;
    text-align: left;
    color: inherit;
    background: transparent;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    transform: scale(1);
    text-shadow: inherit;
    &:hover {
      text-decoration: none;
      transform: scale(1.1);
    }
  }
  .quickLinksIcon {
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    &.matIcon {
      font-size: 1em;
    }
  }
  .quickLinksLabel {
    flex: 1 1 auto;
  }
  .quickLinksIcon + .quickLinksLabel {
    margin-left: .4em;
  }

  .quickLinksAlignLeft {
    .quickLinksLabel {
      text-align: left;
    }
  }
  .quickLinksAlignCenter {
    .quickLinksLabel {
      text-align: center;
    }
  }
  .quickLinksAlignRight {
    .quickLinksLabel {
      text-align: right;
    }
    .quickLinksIcon {
      order: 2;
    }
    .quickLinksIcon + .quickLinksLabel {
      margin-right: .4em;
      margin-left: 0;
    }
  }
}

.bookmarksBar + .quickLinksBar ul {
  top: 33px;
}

.mostVisitedLink {
  position: relative;
  .link {
    img, div {
      pointer-events: none;
    }
  }
}
.mostVisitedMenu {
  position: fixed;
  z-index: z('tabQuickLinksMostVisited');
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 10em;
  max-width: 20em;
  background-color: var(--optBg);
  border: $qlBorder;
  border-radius: $qlRadius;
  box-shadow: none;
  a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
    color: var(--optText);
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: .5em 1em;
    cursor: pointer;
    transition: transform .2s;
    transform-origin: left center;
    img {
      flex: 0 0 auto;
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin-right: .6em;
    }
    div {
      flex: 1 1 auto;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 22px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
}
