.search {
  text-align: center;
  width: max-content;
  form {
    width: auto;
    display: inline-block;
    position: relative;
  }
  input {
    background: transparent;
    border: 0;
    color: currentColor;
    border-bottom: 1px solid currentColor;
    font-size: 1em;
    padding: 0 1.5em 0 .25em;
    line-height: 1.5em;
    opacity: .5;
    transition: opacity .2s;
    font-family: inherit;
    font-weight: inherit;
    text-shadow: inherit;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-transition-delay: 111111s !important;
      -webkit-transition: color 11111s ease-out, background-color 111111s ease-out !important;
    }
    &:focus {
      outline: none;
      opacity: 1;
    }
  }
  button {
    background: transparent;
    color: currentColor;
    border: 0;
    font-size: 1em;
    padding: 0;
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .5;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: opacity .2s;
    z-index: z('tabSearch');
    text-shadow: inherit;
    &:focus,
    &:hover {
      outline: none;
      opacity: 1;
    }
    .icon {
      font-size: 1em;
    }
  }
}
