.weather {
  display: flex;
  justify-content: center;
  width: 100%;
  .forecast {
    display: grid;
    grid-auto-flow: column;
  }

  .forecastDay,
  .current {
    white-space: nowrap;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: 0.1em;
  }

  .forecastDay--horz,
  .current--horz {
    grid-auto-flow: column;
    gap: 1em; 
  }
  .current--horz {
    // align-items: flex-start;
  }

  .forecastHero,
  .currentHero {
    text-align: center;
  }
  .currentHero {
    // display: grid;
    // grid-template-rows: auto auto;
    // align-items: center;
    // gap: .2em;
  }

  .forecastIcon i,
  .currentIcon i {
    font-size: 2.4em;
    line-height: 1.5em;
  }
  .currentIcon i {
    font-size: 4em;
  }

  .forecastDate,
  .currentCondition {
    font-size: 1em;
  }

  .forecastContent,
  .currentContent {
    text-align: center;
  }
  .forecastDay--horz .forecastContent,
  .current--horz .currentContent {
    text-align: left;
  }

  .forecastDegree {
    // display: inline-block;
    // width: 0;
  }

  .forecastTemp,
  .currentTemp {
    display: block;
  }
  .forecastDay--horz .forecastTemp,
  .current--horz .currentTemp {
    display: flex;
    align-items: center;
  }

  .forecastHigh {
    font-size: 2em;
  }

  .currentNow {
    font-size: 3em;
  }
  .current--horz .currentNow {
    font-size: 2em;
  }

  .forecastLow {
    font-size: 1em;
  }

  .currentFeelsLike {
    font-size: .8em;
  }
  .current--horz .currentFeelsLike {
    font-size: .9em;
  }

  .forecastSlash,
  .currentSlash {
    display: none;
    font-size: 1.3em;
    margin: 0 .2em 0 0;
  }
  .currentSlash {
    font-size: 1.1em;
  }
  .forecastTemp--NoDegree .forecastSlash,
  .currentTemp--NoDegree .currentSlash {
    margin: 0 .2em;
  }
  .forecastDay--horz .forecastSlash,
  .current--horz .currentSlash {
    display: inline-block;
  }

  .forecastDetails,
  .currentDetails {
    display: flex;
    align-items: center;
    gap: .8em;
  }

  .currentWind,
  .weatherDetail {
    display: flex;
    align-items: center;
    font-size: .8em;
    margin-top: .4em;
    [class^="w-"], [class*=" w-"] {
      margin-right: .4em;
      font-size: 1.1em;
    }
    &.weatherMoon [class*="w-"] {
      // margin-right: 0;
      font-size: 1.5em;
    }
  }

  .currentWind {
    [class^="w-"], [class*=" w-"] {
      margin-right: .4em;
      font-size: 1.5em;
      &.N {
        transform: rotate(0deg);
      }
      &.NNE {
        transform: rotate(23deg);
      }
      &.NE {
        transform: rotate(45deg);
      }
      &.ENE {
        transform: rotate(68deg);
      }
      &.E {
        transform: rotate(90deg);
      }
      &.ESE {
        transform: rotate(113deg);
      }
      &.SE {
        transform: rotate(135deg);
      }
      &.SSE {
        transform: rotate(158deg);
      }
      &.S {
        transform: rotate(180deg);
      }
      &.SSW {
        transform: rotate(203deg);
      }
      &.SW {
        transform: rotate(225deg);
      }
      &.WSW {
        transform: rotate(248deg);
      }
      &.W {
        transform: rotate(270deg);
      }
      &.WNW {
        transform: rotate(293deg);
      }
      &.NW {
        transform: rotate(313deg);
      }
      &.NNW {
        transform: rotate(336deg);
      }
    }
  }
}
