<div class="clock"
  *ngFor="let clock of settings.config.time.clocks"
  [ngStyle]="{
    'font-size': calcSize(clock.scaling),
    'font-family': getFont(clock.font)
  }">
  <div class="bracket bracket--left" *ngIf="clock.brackets.enabled && clock.brackets.left !== ''">{{clock.brackets.left}}</div>
  <div class="clock__content">
    <div class="time">
      <div class="timeDigit hour">
        <span>{{getHour(clock.timezone, clock.twentyFour, 1)}}</span>
        <span *ngIf="getHour(clock.timezone, clock.twentyFour, 2)">{{getHour(clock.timezone, clock.twentyFour, 2)}}</span>
      </div>
      <div class="delimiter">
        {{getDelimiter(clock.delimiter)}}
      </div>
      <div class="timeDigit minute">
        <span>{{getMinute(clock.timezone, 1)}}</span>
        <span>{{getMinute(clock.timezone, 2)}}</span>
      </div>
      <div *ngIf="clock.seconds.enabled" class="delimiter">
        {{getDelimiter(clock.delimiter)}}
      </div>
      <div *ngIf="clock.seconds.enabled" class="timeDigit second">
        <span>{{getSecond(clock.timezone, 1)}}</span>
        <span>{{getSecond(clock.timezone, 2)}}</span>
      </div>
    </div>
    <div class="label" *ngIf="clock.label !== ''">{{clock.label}}</div>
    <div class="clockDate">1 day ago</div>
  </div>
  <div class="bracket bracket--right" *ngIf="clock.brackets.enabled && clock.brackets.right !== ''">{{clock.brackets.right}}</div>
</div>
