<h2>{{ "options.message.customMsg" | translate }}</h2>
<form #messageOptions="ngForm" novalidate>
  <div class="input">
    <label>{{'options.message.msg' | translate}}</label>
    <options-toggle name="message" id="message" [(ngModel)]="settings.config.messages.enabled" (ngModelChange)="shared.toggleOrder(settings.config.messages.id, $event, settings.config.messages.position);"></options-toggle>
  </div>
  <div class="input" *ngIf="settings.config.messages.enabled">
    <label>{{'options.message.randomMsg' | translate}}<tooltip text="{{'options.message.randomMsgDesc' | translate}}"></tooltip></label>
    <options-toggle name="randomMessage" id="randomMessage" [(ngModel)]="settings.config.messages.random"></options-toggle>
  </div>
</form>
<ng-container *ngIf="settings.config.messages.enabled">

  <h3>{{'options.message.msgText' | translate}}</h3>
  <form #messageList="ngForm" novalidate>
    <div class="mb15" [ngClass]="{'grid cols-19' : settings.config.messages.random}">
      <ng-container *ngFor="let message of settings.config.messages.messageList; let i = index; trackBy:trackByFn; let isFirst = first; let isLast = last">
        <ng-container *ngIf="settings.config.messages.random || isFirst">
          <div [ngClass]="{'span-17' : settings.config.messages.random}">
            <input
              attr.aria-label="{{'options.message.msgText' | translate}}"
              type="text"
              [name]="'message'+i"
              #editText="ngModel"
              [(ngModel)]="message.text"

              autocomplete="off">
            <div class="valMsg" *ngIf="messageList.invalid && messageList.submitted">{{'options.message.messageValidation' | translate}}</div>
          </div>
          <div class="span-2 compactBtnList" *ngIf="settings.config.messages.random">
            <button
              type="button"
              class="btn btnIcon"
              [disabled]="settings.config.messages.messageList.length === 1"
              (click)="removeMessage(i);">
              <div class="icon" aria-hidden="true">delete</div>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
  <form *ngIf="settings.config.messages.random" #newMessage="ngForm" novalidate (ngSubmit)="addMessage(newMessage, newMessage.valid);">
    <div class="grid cols-19 mb1">
      <div class="span-15">
        <input
          type="text"
          name="newMessageText"
          placeholder="Add new message"
          #newMessageTextRef="ngModel"
          [(ngModel)]="newMessageText"

          autocomplete="off"
          required>
        <div class="valMsg" *ngIf="newMessageTextRef.invalid && newMessage.submitted">{{'options.message.messageValidation' | translate}}</div>
      </div>
      <div class="span-4">
        <button type="submit" class="btn" title="{{'options.message.save' | translate}}">
          <div class="icon" aria-hidden="true">add</div>{{'options.common.add' | translate}}
        </button>
      </div>
    </div>
  </form>

  <form class="pt15" #messageLayoutOptions="ngForm" novalidate>
    <!-- Layout -->
    <h3>{{'options.common.layout' | translate}}</h3>
    <div class="input">
      <label>{{ "options.common.size" | translate }}<tooltip text="{{'options.common.sizeDesc' | translate}}"></tooltip></label>
      <options-range
        name="messageSize"
        id="messageSize"
        min="1"
        max="50"
        [(ngModel)]="settings.config.messages.scaling"
      ></options-range>
    </div>
    <div class="input">
      <label>{{'options.common.order' | translate}}<tooltip text="{{'options.common.orderDesc' | translate}}"></tooltip></label>
      <div class="orderBtns">
        <button
          type="button"
          attr.aria-label="{{'options.common.moveUp' | translate}}"
          title="{{'options.common.moveUp' | translate}}"
          class="btn"
          [disabled]="shared.isFirst(settings.config.messages.id, settings.config.messages.position)"
          (click)="shared.changeOrder(settings.config.messages.id, true, settings.config.messages.position);">
          <div class="icon" aria-hidden="true">expand_less</div>
        </button>
        <button
          type="button"
          attr.aria-label="{{'options.common.moveDown' | translate}}"
          title="{{'options.common.moveDown' | translate}}"
          class="btn"
          [disabled]="shared.isLast(settings.config.messages.id, settings.config.messages.position)"
          (click)="shared.changeOrder(settings.config.messages.id, false, settings.config.messages.position);">
          <div class="icon" aria-hidden="true">expand_more</div>
        </button>
      </div>
    </div>
    <div class="input">
      <label for="messagePlacement">{{'options.common.position' | translate}}<tooltip text="{{'options.common.positionDesc' | translate}}"></tooltip></label>
      <options-position id="messagePlacement" name="messagePlacement" [settingId]="settings.config.messages.id" [(ngModel)]="settings.config.messages.position"></options-position>
    </div>
    <div class="input">
      <label for="messageTextAlign">{{'options.common.alignText' | translate}}<tooltip text="{{'options.common.alignTextDesc' | translate}}"></tooltip></label>
      <div id="messageTextAlign" class="connectedBtns">
        <button
          type="button"
          class="btn btnIcon"
          [ngClass]="{'active' : settings.config.messages.textAlign === 'left'}"
          title="{{'options.common.alignTextLeft' | translate}}"
          (click)="settings.config.messages.textAlign = 'left';">
          <div class="icon" aria-hidden="true">format_align_left</div>
        </button>
        <button
          type="button"
          class="btn btnIcon"
          [ngClass]="{'active' : settings.config.messages.textAlign === 'center'}"
          title="{{'options.common.alignTextCenter' | translate}}"
          (click)="settings.config.messages.textAlign = 'center';">
          <div class="icon" aria-hidden="true">format_align_center</div>
        </button>
        <button
          type="button"
          class="btn btnIcon"
          [ngClass]="{'active' : settings.config.messages.textAlign === 'right'}"
          title="{{'options.common.alignTextRight' | translate}}"
          (click)="settings.config.messages.textAlign = 'right';">
          <div class="icon" aria-hidden="true">format_align_right</div>
        </button>
      </div>
    </div>
    <div class="input">
      <label>{{'options.common.maxWidth' | translate}}<tooltip text="{{'options.common.maxWidthDesc' | translate}}"></tooltip></label>
      <options-range name="messageWidth" id="messageWidth" min="1" max="100" [(ngModel)]="settings.config.messages.width"></options-range>
    </div>
    <div class="input">
      <label for="messageMarginHeight">{{'options.common.marginHeight' | translate}}<tooltip text="{{'options.common.marginHeightDesc' | translate}}"></tooltip></label>
      <options-range name="messageMarginHeight" min="0" max="50" [(ngModel)]="settings.config.messages.marginHeight"></options-range>
    </div>
    <div class="input">
      <label for="messageMarginWidth">{{'options.common.marginWidth' | translate}}<tooltip text="{{'options.common.marginWidthDesc' | translate}}"></tooltip></label>
      <options-range name="messageMarginWidth" min="0" max="50" [(ngModel)]="settings.config.messages.marginWidth"></options-range>
    </div>
    <div class="input">
      <label>{{'options.common.offset' | translate}}<tooltip text="{{'options.common.offsetDesc' | translate}}"></tooltip></label>
      <options-range name="messageOffset" min="-50" max="50" [(ngModel)]="settings.config.messages.offset"></options-range>
    </div>
  </form>
</ng-container>
