<h2>{{'options.message.customMsg' | translate}}</h2>
<form #messageOptions="ngForm" novalidate>
  <div class="input">
    <label>{{'options.message.msg' | translate}}</label>
    <options-toggle name="message" id="message" [(ngModel)]="settings.config.message.enabled" (ngModelChange)="shared.toggleOrder(settings.config.message.id, $event, settings.config.message.position); ga.field('message.enabled', settings.config.message.enabled);"></options-toggle>
  </div>
  <ng-container *ngIf="settings.config.message.enabled">
    <div class="input">
      <label>{{'options.message.msgText' | translate}}</label>
      <input type="text" name="messageText" id="messageText" [(ngModel)]="settings.config.message.text" (ngModelChange)="ga.field('message.text', 'userData');" autocomplete="off">
    </div>
    <h3>{{'options.common.placement' | translate}}</h3>
    <div class="input">
      <label>{{'options.common.order' | translate}}</label>
      <div class="orderBtns">
        <button
          type="button"
          attr.aria-label="{{'options.common.moveUp' | translate}}"
          title="{{'options.common.moveUp' | translate}}"
          class="btn"
          [disabled]="shared.isFirst(settings.config.message.id, settings.config.message.position)"
          (click)="shared.changeOrder(settings.config.message.id, true, settings.config.message.position); ga.field('button.messageMoveUp', 'true');">
          <div class="icon" aria-hidden="true">expand_less</div>
        </button>
        <button
          type="button"
          attr.aria-label="{{'options.common.moveDown' | translate}}"
          title="{{'options.common.moveDown' | translate}}"
          class="btn"
          [disabled]="shared.isLast(settings.config.message.id, settings.config.message.position)"
          (click)="shared.changeOrder(settings.config.message.id, false, settings.config.message.position); ga.field('button.messageMoveDown', 'true');">
          <div class="icon" aria-hidden="true">expand_more</div>
        </button>
      </div>
    </div>
    <div class="input">
      <label>{{'options.common.size' | translate}}</label>
      <options-range name="messageSize" id="messageSize" min="1" max="20" [(ngModel)]="settings.config.message.scaling" (ngModelChange)="ga.field('message.scaling', settings.config.message.scaling);"></options-range>
    </div>
    <div class="input">
      <label>{{'options.common.offset' | translate}}</label>
      <options-range name="messageOffset" min="-20" max="20" [(ngModel)]="settings.config.message.offset" (ngModelChange)="ga.field('message.offset', settings.config.message.offset);"></options-range>
    </div>
  </ng-container>
</form>
