/* Interface
   ========================================================================== */

#interface {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  background: #fff;
  transform-origin: 100% 0%;
  transition: all 0.3s;
  box-shadow: 0 0 10rem 0 rgba(0,0,0,.3);
  transform: translate(0, 0) scale(1);
  &.interface--settingsOpen {
    transform: translate(-2.5rem, 1rem) scale($settingsOpenScale);
  }
}

#toggleSettings {
  position: absolute;
  top: 1vw;
  right: 1vw;
  padding: 1rem;
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: gray;
  }
  &.toggleSettings--open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: transparent;
    span {
      display: none;
    }
  }
}