/* Tab
   ========================================================================== */

@import "~scss/_mixins";
@import "~scss/_variables";
@import "~scss/_utilities";

app-tab {
  position: fixed;
  z-index: z('tabUI');
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: .5vw;
  background: #eefaff;
  transform-origin: 100% 100%;
  transition: $transition;
  transform: translate(0, 0) scale(1);
  &.tab--optionsOpen {
    // transform: translate($settingsOpenPosition) scale($settingsOpenScale);
    box-shadow: 0 0 100px 0 rgba(0,0,0,.7);
    filter: blur(6px);
  }
}

#toggleOptions {
  position: absolute;
  z-index: z('tabToggle');
  bottom: 1vw;
  right: 1vw;
  padding: .5em;
  width: 2em;
  background-color: transparent;
  border: 0;
  font-size: .8em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: gray;
  }
  &.toggleOptions--open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    span {
      display: none;
    }
  }
}

@import "/feature/_bookmarks";
@import "/feature/_time";