/* Tab
   ========================================================================== */

@import "~scss/_mixins";
@import "~scss/_variables";
@import "~scss/_utilities";

app-tab {
  position: fixed;
  z-index: z('tabUI');
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: .5vw;
  background: #272e33;
  color: white;
  transform-origin: 100% 100%;
  transition: $transition;
  transform: translate(0, 0) scale(1);
  &.tab--optionsOpen {
    // transform: translate($settingsOpenPosition) scale($settingsOpenScale);
    // box-shadow: 0 0 100px 0 rgba(0,0,0,.7);
    // filter: blur(6px);
  }
}

@import "/toggle";
@import "/nav";
@import "/feature/bookmarks";
@import "/feature/time";
