/* Tab
   ========================================================================== */

@import "~scss/_variables";
@import "~scss/_utilities";

app-tab {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  background: #fff;
  transform-origin: 100% 100%;
  transition: $transition;
  box-shadow: 0 0 100px 0 rgba(0,0,0,.7);
  transform: translate(0, 0) scale(1);
  &.tab--optionsOpen {
    transform: translate($settingsOpenPosition) scale($settingsOpenScale);
  }
}

#toggleOptions {
  position: absolute;
  z-index: 500;
  top: 1vw;
  right: 1vw;
  padding: 10px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: gray;
  }
  &.toggleOptions--open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    span {
      display: none;
    }
  }
}

@import "/feature/_bookmarks";