<fieldset class="mb0">
  <legend>Date</legend>
  <div class="grid cols-6">
    <div class="field span-1">
      <options-toggle name="date" [(ngModel)]="settings.config.date.enabled" (ngModelChange)="saveAll()"></options-toggle>
      <label>Date</label>
    </div>
    <div class="field span-3">
      <select name="dateTimezone" [(ngModel)]="settings.config.date.timezone" (ngModelChange)="saveAll()">
        <option value="Automatic">Automatic ({{tz.timezoneFormat(tzGuess)}})</option>
        <ng-template let-c ngFor [ngForOf]="allTimezones">
          <optgroup *ngIf="c.zones.length > 1" [label]="c.iso | iso2CountryPipe">
            <option *ngFor="let t of c.zones" [ngValue]="t">{{tz.timezoneFormat(t)}}
              <span>{{tz.timezoneOffset(t)}}</span>
            </option>
          </optgroup>
          <option *ngIf="c.zones.length === 1" [value]="c.zones[0]">{{c.iso | iso2CountryPipe}}
            <span>{{tz.timezoneOffset(c.zones[0])}}</span>
          </option>
        </ng-template>
      </select>
      <label>Timezone</label>
    </div>
    <div class="field span-2">
      <select name="dateFormat" [(ngModel)]="settings.config.date.format" (ngModelChange)="saveAll()">
        <option *ngFor="let f of dateFormat" [ngValue]="f.id">{{f.label}}</option>
      </select>
      <label>Format</label>
    </div>
    <div class="field span-2">
      <select name="datePlacement" [(ngModel)]="settings.config.date.placement" (ngModelChange)="saveAll()">
        <option value=0>Before clocks</option>
        <option *ngFor="let clock of settings.config.time.clocks; let i = index" [ngValue]="i+1">After clock #{{i + 1}}</option>
      </select>
      <label>Placement</label>
    </div>
    <div class="field span-2">
      <options-range name="dateSize" min="1" max="100" [(ngModel)]="settings.config.date.scaling" (ngModelChange)="saveAll()"></options-range>
      <label>Size</label>
    </div>
    <div class="field span-2">
      <options-range name="dateOffset" min="1" max="100" [(ngModel)]="settings.config.date.offset" (ngModelChange)="saveAll()"></options-range>
      <label>Offset</label>
    </div>
    <div class="grid cols-2 span-6">
      <div class="borderGrayL p1 span-1 grid cols-2">
        <div class="field span-1">
          <options-toggle name="shortDate" [(ngModel)]="settings.config.date.short.enabled" (ngModelChange)="saveAll()"></options-toggle>
          <label>Short date</label>
        </div>
        <div class="field span-1">
          <input type="text" maxlength="1" id="shortDelimiter" name="shortDelimiter" [(ngModel)]="settings.config.date.short.delimiter" (ngModelChange)="saveAll()">
          <label for="shortDelimiter">Delimiter</label>
        </div>
      </div>
      <div class="borderGrayL p1 span-1 grid cols-2">
        <div class="field span-1">
          <options-toggle name="year" [(ngModel)]="settings.config.date.year.enabled" (ngModelChange)="saveAll()"></options-toggle>
          <label>Year</label>
        </div>
        <div class="field span-1">
          <options-toggle name="yearShort" [(ngModel)]="settings.config.date.year.twoDigit" (ngModelChange)="saveAll()"></options-toggle>
          <label>Two-digit</label>
        </div>
      </div>
      <div class="borderGrayL p1 span-1 grid cols-2">
        <div class="field span-1">
          <options-toggle name="month" [(ngModel)]="settings.config.date.month.enabled" (ngModelChange)="saveAll()"></options-toggle>
          <label>Month</label>
        </div>
        <div class="field span-1">
          <options-toggle name="monthAbbr" [(ngModel)]="settings.config.date.month.abbr" (ngModelChange)="saveAll()"></options-toggle>
          <label>Abbreviated</label>
        </div>
      </div>
      <div class="borderGrayL p1 span-1 grid cols-2">
        <div class="field span-1">
          <options-toggle name="day" [(ngModel)]="settings.config.date.day.enabled" (ngModelChange)="saveAll()"></options-toggle>
          <label>Day</label>
        </div>
        <div class="field span-1">
          <options-toggle name="dayTwoDigit" [(ngModel)]="settings.config.date.day.twoDigit" (ngModelChange)="saveAll()"></options-toggle>
          <label>Two-digit</label>
        </div>
      </div>
      <div class="borderGrayL p1 span-1 grid cols-2">
        <div class="field span-1">
          <options-toggle name="dayOfWeek" [(ngModel)]="settings.config.date.dayOfWeek.enabled" (ngModelChange)="saveAll()"></options-toggle>
          <label>Day of week</label>
        </div>
        <div class="field span-1">
          <options-toggle name="dayOfWeekAbbr" [(ngModel)]="settings.config.date.dayOfWeek.abbr" (ngModelChange)="saveAll()"></options-toggle>
          <label>Abbreviated</label>
        </div>
      </div>
      <div class="borderGrayL p1 span-1 grid cols-2">
        <div class="field span-1">
          <options-toggle name="week" [(ngModel)]="settings.config.date.week.enabled" (ngModelChange)="saveAll()"></options-toggle>
          <label>Week</label>
        </div>
        <div class="field span-1">
          <input type="text" id="yearShort" name="yearShort" [(ngModel)]="settings.config.date.week.label" (ngModelChange)="saveAll()">
          <label for="yearShort">Label</label>
        </div>
      </div>
    </div>
  </div>
</fieldset>
