<fieldset>
  <legend>Date</legend>
  <div class="grid cols-4">
    <div class="field span-1">
      <div class="toggle">
        <input type="checkbox" name="date" id="date" />
        <label for="date"></label>
      </div>
      <label>Date</label>
    </div>
    <div class="field span-2">
      <div class="range">
        <input type="range" id="dateSize" name="dateSize" min="1" max="100">
        <output></output>
      </div>
      <label for="dateSize">Size</label>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Format</legend>
  <div class="grid cols-10">
    <div class="grid cols-2 span-4">
      <div class="field">
        <div class="toggle">
          <input type="checkbox" name="dateDay" id="dateDay" />
          <label for="dateDay"></label>
        </div>
        <label title="Shows day of the week (only applies if 'short form' is off).">Day</label>
      </div>
      <div class="field">
        <div class="toggle">
          <input type="checkbox" name="dateYear" id="dateYear" />
          <label for="dateYear"></label>
        </div>
        <label title="Shows the year with the date.">Year</label>
      </div>
      <div class="field span-2">
        <select name="dateFormat" id="dateFormat">
          <option value="">Middle-Endian (January 31, 2000)</option>
          <option value="">Little-Endian (31 January 2000)</option>
          <option value="">Big-Endian (2000 January 31)</option>
        </select>
        <label for="dateFormat" title="Allows various date formats to choose from.">Date Format</label>
      </div>
    </div>
    <div class="grid cols-1 span-3">
      <div class="field">
        <div class="toggle">
          <input type="checkbox" name="dateShortForm" id="dateShortForm" />
          <label for="dateShortForm"></label>
        </div>
        <label title="Shows the date in a short format.">Short Date</label>
      </div>
      <div class="field">
        <input type="text" name="dateShortDelimiter" id="dateShortDelimiter" value="/" />
        <label for="dateShortDelimiter" title="Shows a seperator between numbers on the short date format.">Date Delimiter</label>
      </div>
    </div>
    <div class="grid cols-1 span-3">
      <div class="field">
        <div class="toggle">
          <input type="checkbox" name="dateWeekNumber" id="dateWeekNumber" />
          <label for="dateWeekNumber"></label>
        </div>
        <label title="Shows week number below the date.">Week Number</label>
      </div>
      <div class="field">
        <input type="text" name="dateShortDelimiter" id="dateShortDelimiter" value="Week" />
        <label for="dateShortDelimiter" title="Choose a label to show next to the week number.">Week Label</label>
      </div>
    </div>
  </div>
</fieldset>
