<div class="introModalContent">
  <button class="introModalClose" type='button' attr.aria-label="{{'options.common.close' | translate}}" (click)="close()">
    <span class='matIcon' aria-hidden="true">close</span>
  </button>
  <h2>{{'modal.intro.heading' | translate}}</h2>
  <p>{{'modal.intro.p1' | translate}}</p>
  <div class="panelGroup">
    <div class="panelField">
      <div class="panelFieldContent">
        <label for="lang" class="panelLabel">{{'modal.intro.selectALanguage' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <select
          class="panelSelect"
          name="lang"
          id="lang"
          [(ngModel)]="settings.config.i18n.lang"
          (ngModelChange)="
            useLanguage($event);
          "
        >
          <option *ngFor="let lang of languages" [ngValue]="lang.id">
            {{ lang.label }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <button type="button" class="panelBtn" (click)="close()">{{'modal.intro.getStarted' | translate}}</button>
</div>
