<div class="premiumModalContent">
  <button class="premiumModalClose" type='button' attr.aria-label="{{'options.common.close' | translate}}" (click)="close()">
    <span class='matIcon' aria-hidden="true">close</span>
  </button>
  <div class="matIcon premiumModalIcon">diamond</div>


  <div *ngIf="!shared.paid && !isJustSubscribed">
    <h2 class="premiumModalHeading">{{'modal.premium.heading' | translate}}</h2>
    <p class="premiumModalSubheading">{{'modal.premium.p1' | translate}}</p>
    <ul class="premiumModalFeatures">
      <li>
        <span class='matIcon'>imagesmode</span>
        <div>{{'modal.premium.unsplashPhotos' | translate}}
          <div>{{'modal.premium.unsplashPhotosDesc' | translate}}</div>
        </div>
      </li>
      <li>
        <span class='matIcon'>blur_on</span>
        <div>{{'modal.premium.bgEffects' | translate}}
          <div>{{'modal.premium.bgEffectsDesc' | translate}}</div>
        </div>
      </li>
      <li>
        <span class='matIcon'>format_italic</span>
        <div>{{'modal.premium.moreFonts' | translate}}
          <div>{{'modal.premium.moreFontsDesc' | translate}}</div>
        </div>
      </li>
      <li>
        <span class='matIcon'>schedule</span>
        <div>{{'modal.premium.analogClockStyles' | translate}}
          <div>{{'modal.premium.analogClockStylesDesc' | translate}}</div>
        </div>
      </li>
      <li>
        <span class='matIcon'>sticky_note_2</span>
        <div>{{'modal.premium.notepad' | translate}}
          <div>{{'modal.premium.notepadDesc' | translate}}</div>
        </div>
      </li>
      <li>
        <span class='matIcon'>diamond</span>
        <div>{{'modal.premium.andMore' | translate}}
          <div>{{'modal.premium.andMoreDesc' | translate}}</div>
        </div>
      </li>
    </ul>
    <div class="premiumModalFooter">
      <div class="premiumModalPrice">{{'modal.premium.onlyPerMonth' | translate | translateCut:0}}<span>$2</span> USD{{'modal.premium.onlyPerMonth' | translate | translateCut:1 }}</div>
      <button class="premiumModalBtn premiumModalSubscribeBtn" type='button' (click)="handleSubscribe()">
        {{'modal.premium.subscribeNow' | translate}}
      </button>
    </div>
  </div>


  <div *ngIf="shared.paid && !isJustSubscribed">
    <h2 class="premiumModalHeading"><span class="premiumModalSubscribedHeading">{{'modal.premium.thankYouForSupport' | translate}}</span><span>{{'modal.premium.heading' | translate}}</span></h2>
    <p class="premiumModalSubheading">{{'modal.premium.thankYouP1' | translate}}</p>
    <div class="premiumModalFooter">
      <button class="premiumModalBtn premiumModalSubscribeBtn" type='button' (click)="handleSubscribe()">
        {{'modal.premium.manageOrCancel' | translate}}
      </button>
    </div>
  </div>


  <div *ngIf="isJustSubscribed">
    <h2 class="premiumModalHeading"><span class="premiumModalSubscribedHeading">{{'modal.premium.thankYouJustSubscribed' | translate}}</span><span>{{'modal.premium.heading' | translate}}</span></h2>
    <p class="premiumModalSubheading">{{'modal.premium.justSubscribedP1' | translate}}</p>
    <div class="premiumModalFooter">
      <button class="premiumModalBtn premiumModalSubscribeBtn" type='button' (click)="handleReload()">
        {{'modal.premium.reloadAndEnjoy' | translate}}
      </button>
    </div>
  </div>


  <div class="premiumModalDisclaimer">
    {{'modal.premium.disclaimer1' | translate}}
    <br />{{'modal.premium.disclaimer2' | translate | translateCut:0}}<a [href]="privacyLink" rel="noreferrer" target="_blank">{{'modal.premium.disclaimer2' | translate | translateCut:1}}</a>{{'modal.premium.disclaimer2' | translate | translateCut:2}}
  </div>
</div>
