<!-- Bookmarks Bar-->
<div
  class="bookmarksBar"
  [style.fontSize]="getBookmarkSize(settings.config.bookmark.scaling)"
  *ngIf="settings.config.bookmark.enabled">

  <div class="bar">
    <!-- Scroll left button -->
    <button
      class="barScroll"
      (click)="moveLeft(barList)"
      *ngIf="!isScrollAtStart(barList)">
      <i class="barIcon icon">arrow_back_ios</i>
    </button>
    <!-- Bar list -->
    <ul class="barList" #barList>
      <li class="barNode" *ngIf="settings.config.bookmark.apps">
        <button title="{{'tab.bookmarks.links.apps' | translate}}" class="barFolder" (click)="apps();">
          <img *ngIf="settings.config.bookmark.icons" src="/assets/img/apps.png" class="barIcon">
          <div class="barLabel">{{'tab.bookmarks.links.apps' | translate}}</div>
        </button>
      </li>
      <li class="barNode" *ngIf="settings.config.bookmark.chromeTab">
        <button title="{{'tab.bookmarks.links.chromeTab' | translate}}" class="barFolder" (click)="chromeTab();">
          <i *ngIf="settings.config.bookmark.icons" class="barIcon matIcon" aria-hidden="true">tab</i>
          <div class="barLabel">{{'tab.bookmarks.links.chromeTab' | translate}}</div>
        </button>
      </li>
      <li class="barNode" *ngIf="settings.config.bookmark.history">
        <button title="{{'tab.bookmarks.links.history' | translate}}" class="barFolder" (click)="history();">
          <i *ngIf="settings.config.bookmark.icons" class="barIcon matIcon" aria-hidden="true">history</i>
          <div class="barLabel">{{'tab.bookmarks.links.history' | translate}}</div>
        </button>
      </li>
      <li class="barNode" *ngIf="settings.config.bookmark.bookmarksManager">
        <button title="{{'tab.bookmarks.links.bookmarksManager' | translate}}" class="barFolder" (click)="bookmarksManager();">
          <i *ngIf="settings.config.bookmark.icons" class="barIcon matIcon" aria-hidden="true">bookmarks</i>
          <div class="barLabel">{{'tab.bookmarks.links.bookmarksManager' | translate}}</div>
        </button>
      </li>
      <li class="barNode" *ngIf="settings.config.bookmark.mostVisited">
        <button
          class="barFolder"
          title="{{'tab.bookmarks.links.mostVisited' | translate}}"
          (click)="toggleMostVisited = !toggleMostVisited;">
          <img *ngIf="settings.config.bookmark.icons" src="/assets/img/folder.png" class="barIcon">
          <div class="barLabel">{{'tab.bookmarks.links.mostVisited' | translate}}</div>
        </button>
        <div class="bar" *ngIf="toggleMostVisited" @slideDown>
          <ng-container
            *ngTemplateOutlet="tree; context: { $implicit: allMostVisited, parent: mostVisited, idx: 0 }">
          </ng-container>
        </div>
      </li>
      <li class="barNode" *ngFor="let item of shared.allBookmarks; let i = index">
        <ng-container *ngIf="item.url; else bookmarkFolder">
          <a
            href="{{item.url}}"
            title="{{item.title}}
{{item.url}}"
            class="barLink">
            <img *ngIf="settings.config.bookmark.icons" [src]="getQuickLinksIcon(item.url)" class="barIcon">
            <div class="barLabel">{{item.title}}</div>
          </a>
        </ng-container>
        <ng-template #bookmarkFolder>
          <button
            class="barFolder"
            title="{{item.title}}"
            (click)="toggle[i] = !toggle[i];">
            <img *ngIf="settings.config.bookmark.icons" src="/assets/img/folder.png" class="barIcon">
            <div class="barLabel">{{item.title}}</div>
          </button>
        </ng-template>
        <div class="bar" *ngIf="item.children && toggle[i]" @slideDown>
          <ng-container
            *ngTemplateOutlet="tree; context: { $implicit: item.children, parent: item, idx: i }">
          </ng-container>
        </div>
      </li>
    </ul>
    <!-- Scroll right button -->
    <button
      class="barScroll"
      (click)="moveRight(barList)"
      *ngIf="!isScrollAtEnd(barList)">
      <i class="barIcon icon">arrow_right</i>
    </button>
  </div>

</div>

<ng-template #tree let-list let-parent="parent" let-idx="idx">
  <!-- Back button -->
  <button
    class="barTitle"
    *ngIf="parent"
    title="{{parent.title}}"
    (click)="toggle[idx] = !toggle[idx]; toggleMostVisited = false;">
    <i class="barIcon icon">keyboard_arrow_up</i>
    <div class="barLabel">{{parent.title}}</div>
  </button>
  <!-- Scroll left button -->
  <button
    class="barScroll"
    (click)="moveLeft(barList)"
    *ngIf="!isScrollAtStart(barList)">
    <i class="barIcon icon">arrow_back_ios</i>
  </button>
  <!-- Bar list -->
  <ul class="barList" #barList>
    <li class="barNode" *ngFor="let item of list; let n = index">
      <ng-container *ngIf="item.url; else bookmarkFolder">
        <a
          href="{{item.url}}"
          title="{{item.title}}
{{item.url}}"
          class="barLink">
          <img *ngIf="settings.config.bookmark.icons" [src]="getQuickLinksIcon(item.url)" class="barIcon">
          <div class="barLabel">{{item.title}}</div>
        </a>
      </ng-container>
      <ng-template #bookmarkFolder>
        <button
          class="barFolder"
          title="{{item.title}}"
          (click)="toggle[idx + '.' + n] = !toggle[idx + '.' + n]">
          <img *ngIf="settings.config.bookmark.icons" src="/assets/img/folder.png" class="barIcon">
          <div class="barLabel">{{item.title}}</div>
        </button>
      </ng-template>
      <div class="bar" *ngIf="item.children && toggle[idx + '.' + n]" @slideDown>
        <ng-container
          *ngTemplateOutlet="tree; context: { $implicit: item.children, parent: item, idx: idx + '.' + n }">
        </ng-container>
      </div>
    </li>
  </ul>
  <!-- Scroll right button -->
  <button
    class="barScroll"
    (click)="moveRight(barList)"
    *ngIf="!isScrollAtEnd(barList)">
    <i class="barIcon icon">arrow_forward_ios</i>
  </button>
</ng-template>
