<div
  class="quickLinksBar"
  *ngIf="settings.config.quickLink.enabled">
  <ul
    [ngClass]="{
      'quickLinksVertical' : settings.config.quickLink.vertical,
      'quickLinksAlignLeft' : settings.config.quickLink.textAlign === 'left',
      'quickLinksAlignCenter' : settings.config.quickLink.textAlign === 'center',
      'quickLinksAlignRight' : settings.config.quickLink.textAlign === 'right'
    }"
    [ngStyle]="{
      'gap' : shared.getPadding(settings.config.quickLink.padding, .5)
    }"
  >
    <li *ngIf="settings.config.quickLink.apps">
      <button title="{{'tab.bookmarks.links.apps' | translate}}" class="link" (click)="apps();">
        <img *ngIf="settings.config.quickLink.icons" src="/assets/img/apps.png" class="quickLinksIcon">
        <div class="quickLinksLabel">{{'tab.bookmarks.links.apps' | translate}}</div>
      </button>
    </li>
    <li *ngIf="settings.config.quickLink.chromeTab">
      <button title="{{'tab.bookmarks.links.chromeTab' | translate}}" class="link" (click)="chromeTab();">
        <i *ngIf="settings.config.quickLink.icons" class="quickLinksIcon matIcon" aria-hidden="true">tab</i>
        <div class="quickLinksLabel">{{'tab.bookmarks.links.chromeTab' | translate}}</div>
      </button>
    </li>
    <li *ngIf="settings.config.quickLink.history">
      <button title="{{'tab.bookmarks.links.history' | translate}}" class="link" (click)="history();">
        <i *ngIf="settings.config.quickLink.icons" class="quickLinksIcon matIcon" aria-hidden="true">history</i>
        <div class="quickLinksLabel">{{'tab.bookmarks.links.history' | translate}}</div>
      </button>
    </li>
    <li *ngIf="settings.config.quickLink.bookmarksManager">
      <button title="{{'tab.bookmarks.links.bookmarksManager' | translate}}" class="link" (click)="bookmarksManager();">
        <i *ngIf="settings.config.quickLink.icons" class="quickLinksIcon matIcon" aria-hidden="true">bookmarks</i>
        <div class="quickLinksLabel">{{'tab.bookmarks.links.bookmarksManager' | translate}}</div>
      </button>
    </li>
    <li class="mostVisitedLink" *ngIf="settings.config.quickLink.mostVisited">
      <button #quickLinkMostVisitedBtn title="{{'tab.bookmarks.links.mostVisited' | translate}}" class="link" (click)="toggleMostVisited($event);">
        <i *ngIf="settings.config.quickLink.icons" class="quickLinksIcon matIcon" aria-hidden="true">folder</i>
        <div class="quickLinksLabel">{{'tab.bookmarks.links.mostVisited' | translate}}</div>
      </button>
    </li>
    <ng-container *ngIf="settings.config.quickLink.links.length > 0">
      <li *ngFor="let item of settings.config.quickLink.links; let i = index">
        <a
          href="{{item.url}}"
          class="link"
          title="{{getShortcut(i)}}"
          attr.accesskey="{{i <= 9 ? i + 1 : null}}">
          <img *ngIf="settings.config.quickLink.icons" [src]="getQuickLinksIcon(item.url)" class="quickLinksIcon">
          <div class="quickLinksLabel">{{item.label}}</div>
        </a>
      </li>
    </ng-container>
  </ul>

</div>
