<button type="button" class="close btn fas fa-times" (click)="toggleOptions()"></button>
<nav>
  <ul>
    <li><button type="button" class="pageLink fas fa-sliders-h" [ngClass]="{'active': page === 'dashboard'}" (click)="page = 'dashboard'"></button></li>
    <li><button type="button" class="pageLink fas fa-paint-brush" [ngClass]="{'active': page === 'design'}" (click)="page = 'design'"></button></li>
    <li><button type="button" class="pageLink fas fa-clock" [ngClass]="{'active': page === 'time'}" (click)="page = 'time'"></button></li>
    <li><button type="button" class="pageLink fas fa-calendar-alt" [ngClass]="{'active': page === 'date'}" (click)="page = 'date'"></button></li>
    <li><button type="button" class="pageLink fas fa-link" [ngClass]="{'active': page === 'bookmarks'}" (click)="page = 'bookmarks'"></button></li>
    <li><button type="button" class="pageLink fas fa-search" [ngClass]="{'active': page === 'search'}" (click)="page = 'search'"></button></li>
    <li><button type="button" class="pageLink fas fa-quote-left" [ngClass]="{'active': page === 'message'}" (click)="page = 'message'"></button></li>
    <li><button type="button" class="pageLink fas fa-clone" [ngClass]="{'active': page === 'extra'}" (click)="page = 'extra'"></button></li>
    <li><button type="button" class="pageLink fas fa-question" [ngClass]="{'active': page === 'extra'}" (click)="page = 'extra'"></button></li>
  </ul>
</nav>
<options-dashboard *ngIf="page === 'dashboard'" class="page"></options-dashboard>
<options-design *ngIf="page === 'design'" class="page"></options-design>
<options-time *ngIf="page === 'time'" class="page"></options-time>
<options-date *ngIf="page === 'date'" class="page"></options-date>
<options-bookmarks *ngIf="page === 'bookmarks'" class="page"></options-bookmarks>
<options-search *ngIf="page === 'search'" class="page"></options-search>
<options-message *ngIf="page === 'message'" class="page"></options-message>
<options-extra *ngIf="page === 'extra'" class="page"></options-extra>
<options-about *ngIf="page === 'about'" class="page"></options-about>
