<h2>{{ "options.extra.extra" | translate }}</h2>
<div class="input">
  <label for="lang">{{ "options.extra.lang" | translate }}</label>
  <select
    name="lang"
    id="lang"
    [(ngModel)]="settings.config.i18n.lang"
    (ngModelChange)="
      useLanguage($event); ga.field('i18n.lang', settings.config.i18n.lang)
    "
  >
    <option *ngFor="let lang of languages" [ngValue]="lang.id">
      {{ lang.label }}
    </option>
  </select>
</div>
<div class="input">
  <label for="tabTitle">
    {{ "options.extra.tabTitle" | translate }}
    <tooltip text="{{ 'options.extra.tabTitleDesc' | translate }}"></tooltip>
  </label>
  <select
    name="tabTitle"
    id="tabTitle"
    [(ngModel)]="settings.config.misc.title.type"
    (ngModelChange)="
      ga.field(
        'misc.title.type',
        findTitleType(settings.config.misc.title.type).label
      )
    "
  >
    <option *ngFor="let type of titleOptions" [ngValue]="type.id">
      {{ type.label }}
    </option>
  </select>
</div>
<div class="input" *ngIf="settings.config.misc.title.type === 60">
  <label for="tabTitleCustom">
    {{ "options.extra.tabCustomText" | translate }}
    <tooltip text="{{ 'options.extra.tabCustomTextDesc' | translate }}">
    </tooltip>
  </label>
  <input
    type="text"
    name="tabTitleCustom"
    id="tabTitleCustom"
    [(ngModel)]="settings.config.misc.title.text"
    (ngModelChange)="ga.field('misc.title.text', 'userData')"
  />
</div>
<div
  class="input"
  *ngIf="
    settings.config.misc.title.type === 20 ||
    settings.config.misc.title.type === 40 ||
    settings.config.misc.title.type === 50
  "
>
  <label for="tabTitle">
    {{ "options.extra.tabClock" | translate }}
    <tooltip text="{{ 'options.extra.tabClockDesc' | translate }}"></tooltip>
  </label>
  <select
    name="tabTitle"
    id="tabTitle"
    [(ngModel)]="settings.config.misc.title.clockUsed"
    (ngModelChange)="
      ga.field('misc.title.clockUsed', settings.config.misc.title.clockUsed)
    "
  >
    <option
      *ngFor="let clock of settings.config.time.clocks; let i = index"
      [ngValue]="i + 1"
    >
      Clock #{{ i + 1 }}
    </option>
  </select>
</div>
<div class="input">
  <label for="disableSelect"
    >{{ "options.extra.disableSelect" | translate
    }}<tooltip
      text="{{ 'options.extra.disableSelectDesc' | translate }}"
    ></tooltip
  ></label>
  <options-toggle
    name="disableSelect"
    id="disableSelect"
    [(ngModel)]="settings.config.misc.disableSelect"
    (ngModelChange)="
      ga.field('misc.disableSelect', settings.config.misc.disableSelect)
    "
  ></options-toggle>
</div>
<div class="input">
  <label
    >{{ "options.extra.hideMenu" | translate
    }}<tooltip text="{{ 'options.extra.hideMenuDesc' | translate }}"></tooltip
  ></label>
  <options-toggle
    name="hideMenu"
    id="hideMenu"
    [(ngModel)]="settings.config.design.hideMenu"
    (ngModelChange)="
      ga.field('design.hideMenu', settings.config.design.hideMenu)
    "
  ></options-toggle>
</div>
<!-- <div class="input">
  <label>{{'options.extra.hideLogo' | translate}}</label>
  <options-toggle name="hideLogo" id="hideLogo" [(ngModel)]="settings.config.design.hideLogo" (ngModelChange)="ga.field('design.hideLogo', settings.config.design.hideLogo)"></options-toggle>
</div> -->
<div class="input">
  <label>
    {{ "options.extra.enableAnalytics" | translate }}
    <tooltip
      text="{{ 'options.extra.enableAnalyticsDesc' | translate }}"
    ></tooltip>
  </label>
  <options-toggle
    name="enableAnalytics"
    id="enableAnalytics"
    [(ngModel)]="settings.config.misc.enableAnalytics"
  >
  </options-toggle>
</div>
<h3>{{ "options.covidData.caption" | translate }}</h3>
<div class="input">
  <label>{{ "options.covidData.enable" | translate }}</label>
  <options-toggle
    name="enabled"
    [(ngModel)]="settings.config.covidData.enabled"
  >
  </options-toggle>
</div>
<div [innerHTML]="'options.covidData.disclaimer' | translate"></div>
<div class="grid cols-2" *ngIf="settings.config.covidData.enabled">
  <div class="span-1">
    <label title="{{ 'options.covidData.countryDesc' | translate }}">
      {{ "options.covidData.country" | translate }}
    </label>
  </div>
  <div class="span-1">
    <label>{{ "options.covidData.actions" | translate }}</label>
  </div>
  <ng-container
    *ngFor="
      let country of settings.config.covidData.countries;
      let i = index;
      trackBy: trackByFn
    "
  >
    <div class="input inputStacked">
      <select
        [name]="'country' + i"
        [id]="'country' + i"
        [(ngModel)]="country.code"
        (ngModelChange)="updateCountryName(i)"
      >
        <option *ngFor="let country of countryList" [ngValue]="country.code">
          {{ country.label }}
        </option>
      </select>
    </div>
    <div class="input inputStacked">
      <div [id]="'actions' + i" class="compactBtnList">
        <button
          type="button"
          class="btn btnIcon"
          title="{{
            (selected === i
              ? 'options.covidData.hideOptions'
              : 'options.covidData.showOptions'
            ) | translate
          }}"
          [ngClass]="{ active: selected === i }"
          (click)="setSelected(i); ga.field('button.covidSelect', 'true')"
        >
          <div class="icon" aria-hidden="true" *ngIf="selected !== i">
            more_horiz
          </div>
          <div class="icon" aria-hidden="true" *ngIf="selected === i">
            close
          </div>
        </button>
        <div class="orderBtns">
          <button
            type="button"
            class="btn btnIcon"
            [disabled]="shared.isFirst(country.id)"
            attr.aria-label="{{ 'options.common.moveUp' | translate }}"
            title="{{ 'options.common.moveUp' | translate }}"
            (click)="
              shared.changeOrder(country.id, true, country.position);
              ga.field('button.covidMoveUp', 'true')
            "
          >
            <div class="icon" aria-hidden="true">expand_less</div>
          </button>
          <button
            type="button"
            class="btn btnIcon"
            [disabled]="shared.isLast(country.id)"
            attr.aria-label="{{ 'options.common.moveDown' | translate }}"
            title="{{ 'options.common.moveDown' | translate }}"
            (click)="
              shared.changeOrder(country.id, false, country.position);
              ga.field('button.covidMoveDown', 'true')
            "
          >
            <div class="icon" aria-hidden="true">expand_more</div>
          </button>
        </div>
        <button
          type="button"
          title="{{ 'options.covidData.deleteCountry' | translate }}"
          class="btn btnIcon"
          (click)="removeCountry(i); ga.field('button.covidDelete', 'true')"
        >
          <div class="icon" aria-hidden="true">delete</div>
        </button>
      </div>
    </div>

    <div *ngIf="selected === i" class="span-2 mt">
      <div class="input">
        <label [for]="'covidShowFlag' + i"
          >{{ "options.covidData.showFlag" | translate
          }}<tooltip
            text="{{ 'options.covidData.showFlagDesc' | translate }}"
          ></tooltip
        ></label>
        <options-toggle
          [name]="'covidShowFlag' + i"
          [id]="'covidShowFlag' + i"
          [(ngModel)]="country.enableFlag"
          (ngModelChange)="ga.field('covid.country.showFlag', country.showFlag)"
        ></options-toggle>
      </div>
      <div
        class="input"
        *ngIf="settings.config.covidData.countries[i].enableFlag"
      >
        <label [for]="'covidDataFlagSize' + i"
          >{{ "options.covidData.flagSize" | translate
          }}<tooltip
            text="{{ 'options.covidData.flagSizeDesc' | translate }}"
          ></tooltip
        ></label>
        <options-range
          [name]="'covidDataFlagSize' + i"
          [id]="'covidDataFlagSize' + i"
          min="1"
          max="60"
          [(ngModel)]="country.flagSize"
          (ngModelChange)="
            ga.field('covidData.flagSize', settings.config.covidData.flagSize)
          "
        ></options-range>
      </div>
      <div class="input">
        <label [for]="'covidDataScaling' + i"
          >{{ "options.covidData.textScaling" | translate
          }}<tooltip
            text="{{ 'options.covidData.textScalingDesc' | translate }}"
          ></tooltip
        ></label>
        <options-range
          [name]="'covidDataScaling' + i"
          [id]="'covidDataScaling' + i"
          min="1"
          max="40"
          [(ngModel)]="country.textScaling"
          (ngModelChange)="
            ga.field(
              'covidData.textScaling',
              settings.config.covidData.textScaling
            )
          "
        ></options-range>
      </div>
      <div class="input">
        <label [for]="'covidDataOffset' + i"
          >{{ "options.common.offset" | translate
          }}<tooltip
            text="{{ 'options.common.offsetDesc' | translate }}"
          ></tooltip
        ></label>
        <options-range
          [name]="'covidDataOffset' + i"
          [id]="'covidDataOffset' + i"
          min="-20"
          max="20"
          [(ngModel)]="country.offset"
          (ngModelChange)="
            ga.field('covidData.countries.offset', country.offset)
          "
        ></options-range>
      </div>
      <div class="input">
        <label [for]="'covidDataPadding' + i"
          >{{ "options.covidData.padding" | translate
          }}<tooltip
            text="{{ 'options.covidData.paddingDesc' | translate }}"
          ></tooltip
        ></label>
        <options-range
          [name]="'covidDataPadding' + i"
          [id]="'covidDataPadding' + i"
          min="0"
          max="20"
          [(ngModel)]="country.padding"
          (ngModelChange)="
            ga.field('covidData.countries.padding', country.padding)
          "
        ></options-range>
      </div>
      <div class="input">
        <label for="countryWidth">Width</label>
        <options-range name="countryWidth" min="0" max="100" [(ngModel)]="country.width" (ngModelChange)="ga.field('country.width', country.width)"></options-range>
      </div>
      <div class="input">
        <label for="countryMarginHeight">Margin Height</label>
        <options-range name="countryMarginHeight" min="0" max="100" [(ngModel)]="country.marginHeight" (ngModelChange)="ga.field('country.marginHeight', country.marginHeight)"></options-range>
      </div>
      <div class="input">
        <label for="countryMarginWidth">Margin Width</label>
        <options-range name="countryMarginWidth" min="0" max="100" [(ngModel)]="country.marginWidth" (ngModelChange)="ga.field('country.marginWidth', country.marginWidth)"></options-range>
      </div>
      <div class="input">
        <label for="covidPlacement">Position</label>
        <options-position
          id="covidPlacement"
          name="covidPlacement"
          [settingId]="country.id"
          [(ngModel)]="country.position"
          (ngModelChange)="
            shared.changeOrder(country.id, true, country.position);
            ga.field('country.position', country.position)
          "
        ></options-position>
      </div>
    </div>
  </ng-container>
</div>
<form #covid="ngForm" novalidate (ngSubmit)="addCountry(covid, covid.valid)">
  <ng-container *ngIf="settings.config.covidData.enabled">
    <div class="grid cols-1 mt15">
      <div class="span-1">
        <div class="input">
          <select
            [id]="'newCountry'"
            [name]="'newCountry'"
            #newCountryCode="ngModel"
            [(ngModel)]="newCountry"
            required
          >
            <option
              *ngFor="let country of countryList"
              [ngValue]="country.code"
            >
              {{ country.label }}
            </option>
          </select>
          <button type="submit" class="btn">
            <div class="icon" aria-hidden="true">add</div>
            {{ "options.covidData.addCountry" | translate }}
          </button>
        </div>
        <div class="valMsg" *ngIf="newCountryCode.invalid && covid.submitted">
          {{ "options.common.emptyValueError" | translate }}
        </div>
      </div>
    </div>
  </ng-container>
</form>
<h3>{{ "options.extra.exportImport" | translate }}</h3>
<div class="input">
  <label for="export">
    {{ "options.extra.exportSettings" | translate }}
    <tooltip
      text="{{ 'options.extra.exportSettingsDesc' | translate }}"
    ></tooltip>
  </label>
  <button id="export" type="button" class="btn" (click)="export()">
    {{ "options.extra.export" | translate }}
  </button>
</div>
<div class="input">
  <label for="importSettings">
    {{ "options.extra.importSettings" | translate }}
    <tooltip
      text="{{ 'options.extra.importSettingsDesc' | translate }}"
    ></tooltip>
  </label>
  <input
    id="importSettings"
    #importSettings
    name="importSettings"
    type="file"
    class="btn"
    accept="image/*"
    (change)="import($event, importSettings)"
    accept=".json"
  />
  <button class="btn btnBlock" type="button" (click)="importSettings.click()">
    {{ "options.extra.import" | translate }}
  </button>
  <div
    class="valMsg valMsg--wide valMsg--success"
    *ngIf="importStatus === 'success'"
  >
    <strong> {{ "options.extra.importedSuccessfully" | translate }}</strong> -
    {{ "options.extra.importedSuccessfullyDesc" | translate }}
  </div>
  <div class="valMsg valMsg--wide" *ngIf="importStatus === 'error'">
    <strong>{{ "options.extra.importFailed" | translate }}</strong> -
    {{ "options.extra.importFailedDesc" | translate }}
  </div>
</div>
<h3>{{ "options.extra.reset" | translate }}</h3>
<div class="input">
  <label for="reset">
    {{ "options.extra.resetToDefault" | translate }}
    <tooltip text="{{ 'options.extra.resetDesc' | translate }}"></tooltip
  ></label>
  <button
    id="reset"
    type="button"
    class="btn"
    (click)="reset(); ga.field('button.reset', 'true')"
  >
    {{ "options.extra.reset" | translate }}
  </button>
</div>
