<div *ngIf="shared.optionsPage === 'Time'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Dashboard')"
      class="panelBack matIcon"
      attr.aria-label="{{'options.dashboard.backToDashboard' | translate}}"
      title="{{'options.dashboard.backToDashboard' | translate}}"
    >arrow_back</button>
    {{'options.time.time' | translate}}
  </h2>
  <form #clockList="ngForm" novalidate>
    <div class="panelGroup">
      <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index; trackBy:trackByFn; let isFirst = first; let isLast = last">
        <div class="panelField panelFieldInline">
          <div class="panelFieldContent">
            <label id="" class="panelLabel">{{'options.time.clock' | translate}} #{{i + 1}}</label>
            <p class="panelDescription">
              <ng-container *ngIf="clock.timezone === 'Automatic'; else displayTimezone">
                {{'options.time.automatic' | translate}} ({{tz.timezoneFormat(tzGuess)}})
              </ng-container>
              <ng-template #displayTimezone>
                <ng-container *ngFor="let c of allTimezones">
                  <ng-container *ngIf="c.zones.includes(clock.timezone) && c.zones.length > 1">
                    <ng-container *ngFor="let t of c.zones">
                      <ng-container *ngIf="t === clock.timezone">
                        {{tz.timezoneFormat(t)}}
                        {{tz.timezoneOffset(t)}}
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="c.zones.includes(clock.timezone) && c.zones.length === 1">
                    {{c.iso | iso2CountryPipe}}
                    {{tz.timezoneOffset(c.zones[0])}}
                  </ng-container>
                </ng-container>
              </ng-template>
            </p>
          </div>
          <div class="panelFieldInput">
            <button
              type="button"
              class="panelBtn"
              title="{{'options.time.editClock' | translate}}"
              (click)="setSelected(i);">
              <i class="matIcon">edit</i>
            </button>
            <button
              type="button"
              class="panelBtn"
              title="{{'options.time.copyClock' | translate}}"
              (click)="copy(i);">
              <i class="matIcon">content_copy</i>
            </button>
            <button
              type="button"
              class="panelBtn"
              title="{{'options.time.deleteClock' | translate}}"
              (click)="delete(i);">
              <i class="matIcon">delete</i>
            </button>
          </div>
        </div>
      </ng-container>
      <div class="panelField panelFieldInline">
        <button class="panelBtn panelBtnBlock" style="justify-content: center;" (click)="add();"><i class="matIcon" aria-hidden="true">add</i>{{'options.time.addNewClock' | translate}}</button>
      </div>
    </div>

  </form>
  <p class="panelParagraph">
    <b>{{'options.time.note' | translate}}</b> {{'options.time.noteText' | translate}} "{{tz.timezoneFormat(this.tzGuess)}}".
  </p>
  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Dashboard')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.dashboard.backToDashboard' | translate}}</button>
</div>

<div *ngIf="shared.optionsPage === 'EditClock'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="goTo.emit('Time'); selected = null;"
      class="panelBack matIcon"
      attr.aria-label="{{'options.time.backToAllClocks' | translate}}"
      title="{{'options.time.backToAllClocks' | translate}}"
    >arrow_back</button>
    {{'options.time.clock' | translate}} #{{selected + 1}}
  </h2>
  <!-- General -->
  <h3 class="panelSubtitle">{{'options.time.generalSettings' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField">
      <div class="panelFieldContent">
        <label for="timezone" class="panelLabel">{{'options.common.timezone' | translate}}</label>
        <p class="panelDescription">{{'options.time.timezoneDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <select
          class="panelSelect"
          name="timezone"
          id="timezone"
          [(ngModel)]="settings.config.time.clocks[selected].timezone">
          <option value="Automatic">{{'options.time.automatic' | translate}} ({{tz.timezoneFormat(tzGuess)}})</option>
          <ng-template let-c ngFor [ngForOf]="allTimezones">
            <optgroup *ngIf="c.zones.length > 1" [label]="c.iso | iso2CountryPipe">
              <option *ngFor="let t of c.zones" [value]="t">{{tz.timezoneFormat(t)}}
                <span>{{tz.timezoneOffset(t)}}</span>
              </option>
            </optgroup>
            <option *ngIf="c.zones.length === 1" [value]="c.zones[0]">{{c.iso | iso2CountryPipe}}
              <span>{{tz.timezoneOffset(c.zones[0])}}</span>
            </option>
          </ng-template>
        </select>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label for="clockType" class="panelLabel">{{'options.time.clockType' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <select
          class="panelSelect panelInputLg"
          name="clockType"
          id="clockType"
          [(ngModel)]="clockType"
          (ngModelChange)="setClockType(selected)">
          <option value="digital">{{'options.time.digital' | translate}}</option>
          <option value="analog">{{'options.time.analog' | translate}}</option>
          <option value="binary">{{'options.time.binary' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="!settings.config.time.clocks[selected].analog.enabled">
      <div class="panelFieldContent">
        <label id="clockTwentyFourLabel" class="panelLabel">{{'options.time.twentyFour' | translate}}</label>
        <p class="panelDescription">{{'options.time.twentyFourDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="clockTwentyFourLabel"
          name="clockTwentyFour"
          id="clockTwentyFour"
          [(ngModel)]="settings.config.time.clocks[selected].twentyFour">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">
      <div class="panelFieldContent">
        <label id="clockTwoDigit" class="panelLabel">{{'options.time.twoDigit' | translate}}</label>
        <p class="panelDescription">{{'options.time.twoDigitDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="clockTwoDigit"
          [disabled]="settings.config.time.clocks[selected].twentyFour"
          name="clockTwoDigit"
          id="clockTwoDigit"
          [(ngModel)]="settings.config.time.clocks[selected].twoDigit">
        </options-toggle>
      </div>
    </div>
  </div>
  <!-- Analog -->
  <h3 class="panelSubtitle" *ngIf="settings.config.time.clocks[selected].analog.enabled === true">{{'options.time.analog' | translate}}</h3>
  <div class="panelGroup" *ngIf="settings.config.time.clocks[selected].analog.enabled === true">
    <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
      <div class="panelFieldContent">
        <label for="analogFaceStyle" class="panelLabel">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            {{'options.time.faceStyle' | translate}}
          </div>
        </label>
      </div>
      <div class="panelFieldInput">
        <select
          class="panelSelect panelInputLg"
          name="analogFaceStyle"
          id="analogFaceStyle"
          [disabled]="!shared.paid"
          [(ngModel)]="settings.config.time.clocks[selected].analog.faceStyle">
          <option *ngFor="let s of analogFaceStyles" [ngValue]="s.id">{{s.label}}</option>
        </select>
      </div>
    </div>
    <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
      <div class="panelFieldContent">
        <label for="analogHandStyle" class="panelLabel">
          <div class="panelPremiumLabel">
            <premium-label></premium-label>
            {{'options.time.handStyle' | translate}}
          </div>
        </label>
      </div>
      <div class="panelFieldInput">
        <select
          class="panelSelect panelInputLg"
          name="analogHandStyle"
          id="analogHandStyle"
          [disabled]="!shared.paid"
          [(ngModel)]="settings.config.time.clocks[selected].analog.handStyle">
          <option *ngFor="let s of analogHandStyles" [ngValue]="s.id">{{s.label}}</option>
        </select>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="analogBorderSizeLabel" class="panelLabel">{{'options.time.borderSize' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="analogBorderSizeLabel"
          class="panelInputLg"
          name="analogBorderSize"
          id="analogBorderSize"
          min="0"
          max="10"
          [(ngModel)]="settings.config.time.clocks[selected].analog.borderSize">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].analog.borderSize">
      <div class="panelFieldContent">
        <label id="analogDimBorderLabel" class="panelLabel">{{'options.time.dimBorder' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogDimBorderLabel"
          name="analogDimBorder"
          id="analogDimBorder"
          [(ngModel)]="settings.config.time.clocks[selected].analog.dimBorder">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="analogQuarterHourLabel" class="panelLabel">{{'options.time.quarterHourMarks' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogQuarterHourLabel"
          name="analogQuarterHour"
          id="analogQuarterHour"
          [(ngModel)]="settings.config.time.clocks[selected].analog.showQuarterMarks">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].analog.showQuarterMarks">
      <div class="panelFieldContent">
        <label id="analogDimQuarterHourLabel" class="panelLabel">{{'options.time.dimQuarterHourMarks' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogDimQuarterHourLabel"
          name="analogDimQuarterHour"
          id="analogDimQuarterHour"
          [(ngModel)]="settings.config.time.clocks[selected].analog.dimQuarterMarks">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="analogHourLabel" class="panelLabel">{{'options.time.hourMarks' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogHourLabel"
          name="analogHour"
          id="analogHour"
          [(ngModel)]="settings.config.time.clocks[selected].analog.showHourMarks">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].analog.showHourMarks">
      <div class="panelFieldContent">
        <label id="analogDimHourLabel" class="panelLabel">{{'options.time.dimHourMarks' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogDimHourLabel"
          name="analogDimHour"
          id="analogDimHour"
          [(ngModel)]="settings.config.time.clocks[selected].analog.dimHourMarks">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="analogMinuteLabel" class="panelLabel">{{'options.time.minuteMarks' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogMinuteLabel"
          name="analogMinute"
          id="analogMinute"
          [(ngModel)]="settings.config.time.clocks[selected].analog.showMinuteMarks">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].analog.showMinuteMarks">
      <div class="panelFieldContent">
        <label id="analogDimMinuteLabel" class="panelLabel">{{'options.time.dimMinuteMarks' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogDimMinuteLabel"
          name="analogDimMinute"
          id="analogDimMinute"
          [(ngModel)]="settings.config.time.clocks[selected].analog.dimMinuteMarks">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="secondsEnableAnalogLabel" class="panelLabel">{{'options.time.secondsEnable' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="secondsEnableAnalogLabel"
          type="toggle"
          name="secondsEnableAnalog"
          id="secondsEnableAnalog"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].seconds.enabled">
      <div class="panelFieldContent">
        <label id="analogSmoothSecondsLabel" class="panelLabel">{{'options.time.smoothSecondMovement' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="analogSmoothSecondsLabel"
          name="analogSmoothSeconds"
          id="analogSmoothSeconds"
          [(ngModel)]="settings.config.time.clocks[selected].analog.smoothSeconds">
        </options-toggle>
      </div>
    </div>
  </div>
  <!-- Binary -->
  <h3 class="panelSubtitle" *ngIf="settings.config.time.clocks[selected].binary.enabled === true">{{'options.time.binary' | translate}}</h3>
  <div class="panelGroup" *ngIf="settings.config.time.clocks[selected].binary.enabled === true">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="binarydimLabel" class="panelLabel">{{'options.time.binaryDim' | translate}}</label>
        <p class="panelDescription">{{'options.time.binaryDimDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="binarydimLabel"
          type="toggle"
          name="binarydim"
          id="binarydim"
          [(ngModel)]="settings.config.time.clocks[selected].binary.dim">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="binaryUseNumbersLabel" class="panelLabel">{{'options.time.binaryUseNumbers' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="binaryUseNumbersLabel"
          type="toggle"
          name="binaryUseNumbers"
          id="binaryUseNumbers"
          [(ngModel)]="settings.config.time.clocks[selected].binary.useNumbers">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label for="binaryOnValueText" class="panelLabel">{{'options.time.binaryOnValue' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputSm"
          type="text"
          maxlength="1"
          id="binaryOnValueText"
          name="binaryOnValueText"
          [(ngModel)]="settings.config.time.clocks[selected].binary.onValueText"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label for="binaryOffValueText" class="panelLabel">{{'options.time.binaryOffValue' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputSm"
          type="text"
          maxlength="1"
          id="binaryOffValueText"
          name="binaryOffValueText"
          [(ngModel)]="settings.config.time.clocks[selected].binary.offValueText"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="secondsEnableBinaryLabel" class="panelLabel">{{'options.time.secondsEnable' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="secondsEnableBinaryLabel"
          type="toggle"
          name="secondsEnableBinary"
          id="secondsEnableBinary"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="secondsDimBinaryLabel" class="panelLabel">{{'options.time.secondsDim' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="secondsDimBinaryLabel"
          type="toggle"
          name="secondsDimBinary"
          id="secondsDimBinary"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.dim">
        </options-toggle>
      </div>
    </div>
  </div>
  <!-- Delimiter -->
  <h3 class="panelSubtitle" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">{{'options.time.delimiter' | translate}}</h3>
  <div class="panelGroup" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="delimiterEnableLabel" class="panelLabel">{{'options.time.enableDelimiter' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="delimiterEnableLabel"
          type="toggle"
          [name]="delimiterEnable"
          [id]="delimiterEnable"
          [(ngModel)]="settings.config.time.clocks[selected].delimiter.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].delimiter.enabled">
      <div class="panelFieldContent">
        <label for="delimiterSymbol" class="panelLabel">{{'options.time.symbol' | translate}}</label>
        <p class="panelDescription">{{'options.time.symbolDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputXs"
          type="text"
          maxlength="1"
          id="delimiterSymbol"
          name="delimiterSymbol"
          [(ngModel)]="settings.config.time.clocks[selected].delimiter.symbol"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].delimiter.enabled">
      <div class="panelFieldContent">
        <label id="delimiterDimLabel" class="panelLabel">{{'options.time.dimDelimiter' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="delimiterDimLabel"
          type="toggle"
          name="delimiterDim"
          id="delimiterDim"
          [(ngModel)]="settings.config.time.clocks[selected].delimiter.dim">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].delimiter.enabled">
      <div class="panelFieldContent">
        <label id="delimiterBlinkLabel" class="panelLabel">{{'options.time.delimiterBlink' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="delimiterBlinkLabel"
          type="toggle"
          name="delimiterBlink"
          id="delimiterBlink"
          [(ngModel)]="settings.config.time.clocks[selected].delimiter.blink">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].delimiter.enabled">
      <div class="panelFieldContent">
        <label id="delimiterScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.delimiterSize' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="delimiterScalingLabel"
          class="panelInputLg"
          name="delimiterScaling"
          id="delimiterScaling"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].delimiter.scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].delimiter.enabled">
      <div class="panelFieldContent">
        <label id="delimiterOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.time.delimiterOffset' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="delimiterOffsetLabel"
          class="panelInputLg"
          name="delimiterOffset"
          id="delimiterOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].delimiter.offset">
        </options-range>
      </div>
    </div>
  </div>
  <!-- Seconds -->
  <h3 class="panelSubtitle" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">{{'options.time.seconds' | translate}}</h3>
  <div class="panelGroup" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="secondsEnableLabel" class="panelLabel">{{'options.time.secondsEnable' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="secondsEnableLabel"
          type="toggle"
          name="secondsEnable"
          id="secondsEnable"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].seconds.enabled">
      <div class="panelFieldContent">
        <label id="secondsDimLabel" class="panelLabel">{{'options.time.secondsDim' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="secondsDimLabel"
          type="toggle"
          name="secondsDim"
          id="secondsDim"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.dim">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].seconds.enabled">
      <div class="panelFieldContent">
        <label id="secondsScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.secondsSize' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="secondsScalingLabel"
          class="panelInputLg"
          name="secondsScaling"
          id="secondsScaling"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].seconds.enabled">
      <div class="panelFieldContent">
        <label id="secondsOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.time.secondsOffset' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="secondsOffsetLabel"
          class="panelInputLg"
          name="secondsOffset"
          id="secondsOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].seconds.offset">
        </options-range>
      </div>
    </div>
  </div>
  <!-- Meridiem -->
  <h3 class="panelSubtitle" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">{{'options.time.meridiem' | translate}}</h3>
  <div class="panelGroup" *ngIf="!settings.config.time.clocks[selected].analog.enabled && !settings.config.time.clocks[selected].binary.enabled">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="meridiemEnableLabel" class="panelLabel">{{'options.time.meridiemEnable' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="meridiemEnableLabel"
          type="toggle"
          name="meridiemEnable"
          id="meridiemEnable"
          [(ngModel)]="settings.config.time.clocks[selected].meridiem.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].meridiem.enabled">
      <div class="panelFieldContent">
        <label id="meridiemDimLabel" class="panelLabel">{{'options.time.meridiemDim' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="meridiemDimLabel"
          type="toggle"
          name="meridiemDim"
          id="meridiemDim"
          [(ngModel)]="settings.config.time.clocks[selected].meridiem.dim">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].meridiem.enabled">
      <div class="panelFieldContent">
        <label for="meridiemAm" class="panelLabel">A.M.</label>
        <p class="panelDescription">{{'options.time.symbolAm' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputSm"
          type="text"
          id="meridiemAm"
          name="meridiemAm"
          [(ngModel)]="settings.config.time.clocks[selected].meridiem.am"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].meridiem.enabled">
      <div class="panelFieldContent">
        <label for="meridiemPm" class="panelLabel">P.M.</label>
        <p class="panelDescription">{{'options.time.symbolPm' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputSm"
          type="text"
          id="meridiemPm"
          name="meridiemPm"
          [(ngModel)]="settings.config.time.clocks[selected].meridiem.pm"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].meridiem.enabled">
      <div class="panelFieldContent">
        <label id="meridiemScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.meridiemSize' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="meridiemScalingLabel"
          class="panelInputLg"
          name="meridiemScaling"
          id="meridiemScaling"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].meridiem.scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].meridiem.enabled">
      <div class="panelFieldContent">
        <label id="meridiemOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.time.meridiemOffset' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="meridiemOffsetLabel"
          class="panelInputLg"
          name="meridiemOffset"
          id="meridiemOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].meridiem.offset">
        </options-range>
      </div>
    </div>
  </div>
  <!-- Label -->
  <h3 class="panelSubtitle">{{'options.time.label' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="labelEnableLabel" class="panelLabel">{{'options.time.labelEnable' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="labelEnableLabel"
          type="toggle"
          name="labelEnable"
          id="labelEnable"
          [(ngModel)]="settings.config.time.clocks[selected].label.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].label.enabled">
      <div class="panelFieldContent">
        <label for="clockLabel" class="panelLabel">{{'options.common.label' | translate}}</label>
        <p class="panelDescription">{{'options.time.labelDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputLg"
          type="text"
          name="clockLabel"
          id="clockLabel"
          [(ngModel)]="settings.config.time.clocks[selected].label.text"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].label.enabled">
      <div class="panelFieldContent">
        <label id="labelScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.labelSize' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="labelScalingLabel"
          class="panelInputLg"
          name="labelScaling"
          id="labelScaling"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].label.scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].label.enabled">
      <div class="panelFieldContent">
        <label id="labelOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.time.labelOffset' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="labelOffsetLabel"
          class="panelInputLg"
          name="labelOffset"
          id="labelOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].label.offset">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].label.enabled">
      <div class="panelFieldContent">
        <label id="labelDimLabel" class="panelLabel">{{'options.time.labelDim' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="labelDimLabel"
          type="toggle"
          name="labelDim"
          id="labelDim"
          [(ngModel)]="settings.config.time.clocks[selected].label.dim">
        </options-toggle>
      </div>
    </div>
  </div>
  <!-- Brackets -->
  <h3 class="panelSubtitle">{{'options.time.brackets' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="bracketsEnableLabel" class="panelLabel">{{'options.time.bracketsEnable' | translate}}</label>
        <p class="panelDescription"></p>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="bracketsEnableLabel"
          type="toggle"
          name="bracketsEnable"
          id="bracketsEnable"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].brackets.enabled">
      <div class="panelFieldContent">
        <label id="bracketsDimLabel" class="panelLabel">{{'options.time.bracketsDim' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="bracketsDimLabel"
          type="toggle"
          name="bracketsDim"
          id="bracketsDim"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.dim">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].brackets.enabled">
      <div class="panelFieldContent">
        <label for="bracketsLeft" class="panelLabel">{{'options.time.bracketsLeft' | translate}}</label>
        <p class="panelDescription">{{'options.time.bracketsLeftDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputSm"
          type="text"
          maxlength="1"
          id="bracketsLeft"
          name="bracketsLeft"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.left"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].brackets.enabled">
      <div class="panelFieldContent">
        <label for="bracketsRight" class="panelLabel">{{'options.time.bracketsRight' | translate}}</label>
        <p class="panelDescription">{{'options.time.bracketsRightDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <input
          class="panelInput panelInputSm"
          type="text"
          maxlength="1"
          id="bracketsRight"
          name="bracketsRight"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.right"
          autocomplete="off">
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].brackets.enabled">
      <div class="panelFieldContent">
        <label id="bracketsScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.bracketsSize' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="bracketsScalingLabel"
          class="panelInputLg"
          name="bracketsScaling"
          id="bracketsScaling"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].brackets.enabled">
      <div class="panelFieldContent">
        <label id="bracketsOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.time.bracketsOffset' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="bracketsOffsetLabel"
          class="panelInputLg"
          name="bracketsOffset"
          id="bracketsOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.offset">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].brackets.enabled">
      <div class="panelFieldContent">
        <label id="bracketsPaddingLabel" class="panelLabel">{{'options.time.bracketsPadding' | translate}}</label>
        <p class="panelDescription">{{'options.time.bracketsPaddingDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="bracketsPaddingLabel"
          class="panelInputLg"
          name="bracketsPadding"
          id="bracketsPadding"
          min="-10"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].brackets.padding">
        </options-range>
      </div>
    </div>
  </div>
  <!-- Relative time -->
  <h3 class="panelSubtitle">{{'options.time.relativeTime' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="relativeTimeEnableLabel" class="panelLabel">{{'options.time.relativeTime' | translate}}</label>
        <p class="panelDescription">{{'options.time.relativeEnable' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="relativeTimeEnableLabel"
          type="toggle"
          name="relativeTimeEnable"
          id="relativeTimeEnable"
          [(ngModel)]="settings.config.time.clocks[selected].relativeTime.enabled">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].relativeTime.enabled">
      <div class="panelFieldContent">
        <label id="relativeTimeDimLabel" class="panelLabel">{{'options.time.relativeDim' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="relativeTimeDimLabel"
          type="toggle"
          name="relativeTimeDim"
          id="relativeTimeDim"
          [(ngModel)]="settings.config.time.clocks[selected].relativeTime.dim">
        </options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].relativeTime.enabled">
      <div class="panelFieldContent">
        <label id="relativeTimeScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.relativeSize' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="relativeTimeScalingLabel"
          class="panelInputLg"
          name="relativeTimeScaling"
          id="relativeTimeScaling"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].relativeTime.scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.time.clocks[selected].relativeTime.enabled">
      <div class="panelFieldContent">
        <label id="relativeTimeOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.time.relativeOffset' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="relativeTimeOffsetLabel"
          class="panelInputLg"
          name="relativeTimeOffset"
          id="relativeTimeOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].relativeTime.offset">
        </options-range>
      </div>
    </div>
  </div>
  <!-- Layout -->
  <h3 class="panelSubtitle">{{'options.common.layout' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockSizeLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.time.sizeDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="clockSizeLabel"
          class="panelInputLg"
          name="clockSize"
          id="clockSize"
          min="1"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].scaling">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockOrderLabel" class="panelLabel">{{'options.common.order' | translate}}</label>
        <p class="panelDescription">{{'options.common.orderDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <div class="panelBtnGroup panelInputMd">
          <button
            type="button"
            aria-labelledby="clockOrderLabel"
            attr.aria-label="{{'options.common.moveUp' | translate}}"
            title="{{'options.common.moveUp' | translate}}"
            class="panelBtn"
            [disabled]="shared.isFirst(settings.config.time.clocks[selected].id, settings.config.time.clocks[selected].position)"
            (click)="shared.changeOrder(settings.config.time.clocks[selected].id, true, settings.config.time.clocks[selected].position);">
            <div class="matIcon" aria-hidden="true">expand_less</div>
          </button>
          <button
            type="button"
            aria-labelledby="clockOrderLabel"
            attr.aria-label="{{'options.common.moveDown' | translate}}"
            title="{{'options.common.moveDown' | translate}}"
            class="panelBtn"
            [disabled]="shared.isLast(settings.config.time.clocks[selected].id, settings.config.time.clocks[selected].position)"
            (click)="shared.changeOrder(settings.config.time.clocks[selected].id, false, settings.config.time.clocks[selected].position);">
            <div class="matIcon" aria-hidden="true">expand_more</div>
          </button>
        </div>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockPlacementLabel" class="panelLabel">{{'options.common.position' | translate}}</label>
        <p class="panelDescription">{{'options.common.positionDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-position
          labelledby="clockPlacementLabel"
          id="clockPlacement"
          name="clockPlacement"
          [settingId]="settings.config.time.clocks[selected].id"
          [(ngModel)]="settings.config.time.clocks[selected].position">
        </options-position>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockSpanLabel" class="panelLabel">{{'options.time.span' | translate}}</label>
        <p class="panelDescription">{{'options.time.spanDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="clockSpanLabel"
          class="panelInputLg"
          name="clockSpan"
          id="clockSpan"
          min="1"
          max="100"
          [(ngModel)]="settings.config.time.clocks[selected].span">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockPaddingLabel" class="panelLabel">{{'options.common.padding' | translate}}</label>
        <p class="panelDescription">{{'options.time.paddingDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="clockPaddingLabel"
          class="panelInputLg"
          name="clockPadding"
          id="clockPadding"
          min="0"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].padding">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockMarginHeightLabel" class="panelLabel">{{'options.common.marginHeight' | translate}}</label>
        <p class="panelDescription">{{'options.common.marginHeightDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="clockMarginHeightLabel"
          class="panelInputLg"
          name="clockMarginHeight"
          min="0"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].marginHeight">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockMarginWidthLabel" class="panelLabel">{{'options.common.marginWidth' | translate}}</label>
        <p class="panelDescription">{{'options.common.marginWidthDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="clockMarginWidthLabel"
          class="panelInputLg"
          name="clockMarginWidth"
          min="0"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].marginWidth">
        </options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="clockOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.common.offsetDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          labelledby="clockOffsetLabel"
          class="panelInputLg"
          name="clockOffset"
          id="clockOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.time.clocks[selected].offset">
        </options-range>
      </div>
    </div>
  </div>

  <button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Time'); selected = null;"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.time.backToAllClocks' | translate}}</button>
</div>
