<form #clockList="ngForm" novalidate>
  <fieldset class="mb0">
    <legend>Time</legend>
    <div class="grid cols-19">
      <div class="span-2"></div>
      <div class="field no-label span-6">
        <label title="Displays a label next to the clock. Leave empty for no label.">Label</label>
      </div>
      <div class="field no-label span-7">
        <label title="Choose a timezone for the clock (the default is your local timezone).">Timezone</label>
      </div>
    </div>
    <div class="grid cols-19 mb15">
      <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index; trackBy:trackByFn; let isFirst = first; let isLast = last">
        <div class="field btns span-2">
          <button
            type="button"
            class="btn"
            [title]="selected === i ? 'Hide additional options' : 'Show more options'"
            [ngClass]="{'active': selected === i}"
            (click)="setSelected(i)">
            <div class="icon" *ngIf="selected !== i">more_horiz</div>
            <div class="icon" *ngIf="selected === i">close</div>
          </button>
        </div>
        <div class="field no-label span-6">
          <input
            type="text"
            [name]="'label'+i"
            [(ngModel)]="clock.label"
            autocomplete="off"
            (ngModelChange)="saveAll()">
        </div>
        <div class="field no-label span-7">
          <select [name]="'timezone'+i" [(ngModel)]="clock.timezone" (ngModelChange)="saveAll()">
            <option value="Automatic">Automatic ({{tz.timezoneFormat(tzGuess)}})</option>
            <ng-template let-c ngFor [ngForOf]="allTimezones">
              <optgroup *ngIf="c.zones.length > 1" [label]="c.iso | iso2CountryPipe">
                <option *ngFor="let t of c.zones" [value]="t">{{tz.timezoneFormat(t)}}
                  <span>{{tz.timezoneOffset(t)}}</span>
                </option>
              </optgroup>
              <option *ngIf="c.zones.length === 1" [value]="c.zones[0]">{{c.iso | iso2CountryPipe}}
                <span>{{tz.timezoneOffset(c.zones[0])}}</span>
              </option>
            </ng-template>
          </select>
        </div>
        <div class="field btns span-4">
          <button
            type="button"
            title="Move placement of clock up"
            class="btn btnCircle mr5"
            [disabled]="isFirst"
            (click)="swap(settings.config.time.clocks, i, (i - 1))">
            <div class="icon">arrow_drop_up</div>
          </button>
          <button
            type="button"
            title="Move placement of clock down"
            class="btn btnCircle mr5"
            [disabled]="isLast"
            (click)="swap(settings.config.time.clocks, i, (i + 1))">
            <div class="icon">arrow_drop_down</div>
          </button>
          <button
            type="button"
            title="Delete clock"
            class="btn btnCircle"
            (click)="delete(i)">
            <div class="icon">delete</div>
          </button>
        </div>
        <fieldset *ngIf="selected === i" class="mb1 span-19">
          <div class="grid cols-2">
            <div class="borderGrayL p1 span-2">
              <h4 class="m0 mb1">General clock settings</h4>
              <div class="grid cols-19">
                <div class="field span-7">
                  <options-range [name]="'clockSize'+i" [id]="'clockSize'+i" min="1" max="100" [(ngModel)]="clock.scaling" (ngModelChange)="saveAll()"></options-range>
                  <label [for]="'clockSize'+i" title="Change the size of the clock.">Size</label>
                </div>
                <div class="field span-5">
                  <select [name]="'clockSpan'+i" [id]="'clockSpan'+i" [(ngModel)]="clock.span" (ngModelChange)="saveAll()">
                    <option *ngFor="let s of span" [ngValue]="s.id">{{s.label}}</option>
                  </select>
                  <label [for]="'clockSpan'+i" title="Changes how much space the clock uses.">Span</label>
                </div>
                <div class="field span-3">
                  <options-toggle [name]="'clockTwentyFour'+i" [id]="'clockTwentyFour'+i" [(ngModel)]="clock.twentyFour" (ngModelChange)="saveAll()"></options-toggle>
                  <label title="Display clock in 24-hour format instead of 12-hour (will disable meridiem).">24 hour</label>
                </div>
                <div class="field span-3">
                  <options-toggle [name]="'analogEnable'+i" [id]="'analogEnable'+i" [(ngModel)]="clock.analog.enabled" (ngModelChange)="saveAll()"></options-toggle>
                  <label title="Displays the clock in an analog style instead of digital.">Analog</label>
                </div>
                <div class="field span-5" *ngIf="clock.analog.enabled === true">
                  <select [name]="'analogStyle'+i" [id]="'analogStyle'+i" [(ngModel)]="clock.analog.style" (ngModelChange)="saveAll()">
                    <option *ngFor="let s of analog" [ngValue]="s.id">{{s.label}}</option>
                  </select>
                  <label [for]="'analogStyle'+i" title="Choose the style of analog clock">Analog style</label>
                </div>
              </div>
            </div>
            <div class="span-1">
              <div class="borderGrayL p1 mb15">
                <h4 class="m0 mb1">Delimiter</h4>
                <div class="grid mb1 cols-3">
                  <div class="field compact-icon span-1">
                    <options-toggle type="check" [name]="'delimiterEnable'+i" [id]="'delimiterEnable'+i" [(ngModel)]="clock.delimiter.enabled" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Enable delimiter"><i class="icon">power_settings_new</i></label>
                  </div>
                  <div class="field compact-icon span-1" *ngIf="clock.delimiter.enabled">
                    <options-toggle type="check" [name]="'delimiterDim'+i" [id]="'delimiterDim'+i" [(ngModel)]="clock.delimiter.dim" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Dim delimiter"><i class="icon">brightness_medium</i></label>
                  </div>
                  <div class="field compact-icon span-1" *ngIf="clock.delimiter.enabled">
                    <options-toggle type="check" [name]="'delimiterBlink'+i" [id]="'delimiterBlink'+i" [(ngModel)]="clock.delimiter.blink" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Blink delimiter"><i class="icon">remove_red_eye</i></label>
                  </div>
                  <div class="grid cols-2 span-3" *ngIf="clock.delimiter.enabled">
                    <div class="field span-1">
                      <options-range [name]="'delimiterScaling'+i" [id]="'delimiterScaling'+i" min="1" max="100" [(ngModel)]="clock.delimiter.scaling" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjusts the size of the delimiter relative to the clock">Size</label>
                    </div>
                    <div class="field span-1">
                      <options-range [name]="'delimiterOffset'+i" [id]="'delimiterOffset'+i" min="1" max="100" [(ngModel)]="clock.delimiter.offset" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjust the position of the delimiter up or down">Offset</label>
                    </div>
                    <div class="field span-1">
                      <input type="text" maxlength="1" [id]="'delimiterSymbol'+i" [name]="'delimiterSymbol'+i" [(ngModel)]="clock.delimiter.symbol" (ngModelChange)="saveAll()" autocomplete="off">
                      <label [for]="'delimiterSymbol'+i" title="Enter the symbol to represent the delimiter">Symbol</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="borderGrayL p1">
                <h4 class="m0 mb1">Seconds</h4>
                <div class="grid mb1 cols-3">
                  <div class="field compact-icon span-1">
                    <options-toggle type="check" [name]="'secondsEnable'+i" [id]="'secondsEnable'+i" [(ngModel)]="clock.seconds.enabled" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Enable seconds"><i class="icon">power_settings_new</i></label>
                  </div>
                  <div class="field compact-icon span-1" *ngIf="clock.seconds.enabled">
                    <options-toggle type="check" [name]="'secondsDim'+i" [id]="'secondsDim'+i" [(ngModel)]="clock.seconds.dim" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Dim seconds"><i class="icon">brightness_medium</i></label>
                  </div>
                  <div class="field compact-icon span-1" *ngIf="clock.seconds.enabled">
                    <options-toggle type="check" [name]="'secondsBlink'+i" [id]="'secondsBlink'+i" [(ngModel)]="clock.seconds.blink" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Blink seconds"><i class="icon">remove_red_eye</i></label>
                  </div>
                  <div class="grid cols-2 span-3" *ngIf="clock.seconds.enabled">
                    <div class="field span-1">
                      <options-range [name]="'secondsScaling'+i" [id]="'secondsScaling'+i" min="1" max="100" [(ngModel)]="clock.seconds.scaling" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjusts the size of the seconds relative to the clock">Size</label>
                    </div>
                    <div class="field span-1">
                      <options-range [name]="'secondsOffset'+i" [id]="'secondsOffset'+i" min="1" max="100" [(ngModel)]="clock.seconds.offset" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjust the position of the seconds up or down">Offset</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="span-1">
              <div class="borderGrayL p1 mb15">
                <h4 class="m0 mb1">Meridiem</h4>
                <div class="grid mb1 cols-3">
                  <div class="field compact-icon span-1">
                    <options-toggle type="check" [name]="'meridiemEnable'+i" [id]="'meridiemEnable'+i" [(ngModel)]="clock.meridiem.enabled" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Enable meridiem"><i class="icon">power_settings_new</i></label>
                  </div>
                  <div class="field compact-icon span-1" *ngIf="clock.meridiem.enabled">
                    <options-toggle type="check" [name]="'meridiemDim'+i" [id]="'meridiemDim'+i" [(ngModel)]="clock.meridiem.dim" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Dim meridiem"><i class="icon">brightness_medium</i></label>
                  </div>
                  <div class="grid cols-2 span-3" *ngIf="clock.meridiem.enabled">
                    <div class="field span-1">
                      <options-range [name]="'meridiemScaling'+i" [id]="'meridiemScaling'+i" min="1" max="100" [(ngModel)]="clock.meridiem.scaling" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjusts the size of the meridiem relative to the clock">Size</label>
                    </div>
                    <div class="field span-1">
                      <options-range [name]="'meridiemOffset'+i" [id]="'meridiemOffset'+i" min="1" max="100" [(ngModel)]="clock.meridiem.offset" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjust the position of the meridiem up or down">Offset</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="borderGrayL p1">
                <h4 class="m0 mb1">Brackets</h4>
                <div class="grid mb1 cols-3">
                  <div class="field compact-icon span-1">
                    <options-toggle type="check" [name]="'bracketsEnable'+i" [id]="'bracketsEnable'+i" [(ngModel)]="clock.brackets.enabled" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Enable brackets"><i class="icon">power_settings_new</i></label>
                  </div>
                  <div class="field compact-icon span-1" *ngIf="clock.brackets.enabled">
                    <options-toggle type="check" [name]="'bracketsDim'+i" [id]="'bracketsDim'+i" [(ngModel)]="clock.brackets.dim" (ngModelChange)="saveAll()"></options-toggle>
                    <label title="Dim brackets"><i class="icon">brightness_medium</i></label>
                  </div>
                  <div class="grid cols-2 span-3" *ngIf="clock.brackets.enabled">
                    <div class="field span-1">
                      <options-range [name]="'bracketsScaling'+i" [id]="'bracketsScaling'+i" min="1" max="100" [(ngModel)]="clock.brackets.scaling" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjusts the size of the brackets relative to the clock">Size</label>
                    </div>
                    <div class="field span-1">
                      <options-range [name]="'bracketsOffset'+i" [id]="'bracketsOffset'+i" min="1" max="100" [(ngModel)]="clock.brackets.offset" (ngModelChange)="saveAll()"></options-range>
                      <label title="Adjust the position of the brackets up or down">Offset</label>
                    </div>
                    <div class="field span-1">
                      <input type="text" maxlength="1" [id]="'bracketsLeft'+i" [name]="'bracketsLeft'+i" [(ngModel)]="clock.brackets.left" (ngModelChange)="saveAll()" autocomplete="off">
                      <label [for]="'bracketsLeft'+i" title="Enter the symbol to represent the left-side bracket">Left bracket</label>
                    </div>
                    <div class="field span-1">
                      <input type="text" maxlength="1" [id]="'bracketsRight'+i" [name]="'bracketsRight'+i" [(ngModel)]="clock.brackets.right" (ngModelChange)="saveAll()" autocomplete="off">
                      <label [for]="'bracketsRight'+i" title="Enter the symbol to represent the right-side bracket">Right bracket</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </ng-container>
    </div>
  </fieldset>
</form>

<button class="btn" (click)="add()"><i class="icon mr5">add</i>Add New Clock</button>



<p class="mb0">
  <small><b>Note:</b> the time is an educated guess based on the time and timezone your computer is set to and may not reflect your actual time. CaretTab is guessing your current timezone to be:<br>"{{tz.timezoneFormat(this.tzGuess)}}".</small>
</p>
