app-settings {
  aside {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 2rem;
    bottom: 0;
    margin-left: auto;
    width: $asideWidth;
    border-left: 2px dashed lighten($pageBg, 5%);
    padding: 55px 10px 20px 10px;
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin: 30px 0 5px;
    }
  }

  .previewLabel {
    position: absolute;
    right: 10px;
    bottom: $asidePreviewSpacing;
    width: ($settingsOpenScale * 100) + vw;
    color: lighten($pageBg, 20%);
    margin: 0 0 20px 0;
  }
}