.btn {
  display: inline-block;
  min-width: 34px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  background: transparent;
  border: 1px solid $btn;
  box-shadow: $shadow;
  border-radius: $radius;
  color: $text;
  cursor: pointer;
  transition: $transition;
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: $shadowHover;
    color: $text;
  }
  &:disabled {
    color: $disabledColor;
    border-color: $disabledColor;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn--transparent {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $blue;
  &:hover {
    background: transparent;
    color: $text;
    box-shadow: none;
  }
  &:disabled {
    background: transparent;
  }
}

.btn--toggle {
  border-radius: $radius;
  border-right-width: 0;
  box-shadow: $shadow;
  color: $blue;
  &:hover {
    box-shadow: $shadowHover;
    color: $text;
  }
}

// BTN GROUP
.btnGroup {
  display: flex;
  width: 100%;
}
.btnGroup .btn {
  // margin-right: 1px;
}
.btnGroup .btn,
.btnGroup input + label,
.btnGroup button {
  @extend .btn;
  @extend .btn--toggle;
}
.btnGroup .btn,
.btnGroup input + label,
.btnGroup input,
.btnGroup select,
.btnGroup button {
  border-radius: 0;
  border-right-width: 0;
  text-align: center;
}
.btnGroup.btnGroup--justified {
  width: 100%;
}
.btnGroup.btnGroup--justified .btn,
.btnGroup.btnGroup--justified input + label,
.btnGroup.btnGroup--justified input,
.btnGroup.btnGroup--justified select,
.btnGroup.btnGroup--justified button {
  width: auto;
  flex: 1 1 auto;
  white-space: nowrap;
}
.btnGroup .btn:first-child,
.btnGroup input:first-child + label,
.btnGroup input:first-child,
.btnGroup select:first-child,
.btnGroup button:first-child {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
.btnGroup > *:last-child {
  border-right-width: 1px;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

.btnGroup button.active,
.btnGroup input:checked + label,
.btn.active {
  background: $btnActive;
  color: $text;
  &:hover {
    background: $btnActiveHover;
  }
}

.btnGroup input[type="radio"],
.btnGroup input[type="checkbox"] { 
  display: none; 
}

