.dashBox {
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: 30% 70%;
  width: 100%;
  height: calc(100% - .5rem);
  padding: 2rem 1.5rem;
  margin-bottom: .5rem;
  border: 0;
  text-decoration: none;
  background-color: $blue;
  color: black;
  overflow: hidden;
  border-radius: .5rem;
  transition: all .2s;
}
.dashWrapper div:nth-child(1n) .dashBox {
  background-color: #bebfc0;
}
.dashWrapper div:nth-child(2n) .dashBox {
  background-color: lighten(#76ca4e, 20%);
}
.dashWrapper div:nth-child(3n) .dashBox {
  background-color: lighten(#13aa8e, 20%);
}
.dashWrapper div:nth-child(4n) .dashBox {
  background-color: lighten(#30ace9, 20%);
}
.dashWrapper div:nth-child(5n) .dashBox {
  background-color: lighten(#4651d2, 25%);
}
.dashWrapper div:nth-child(6n) .dashBox {
  background-color: lighten(#a52b7c, 35%);
}
.dashWrapper div:nth-child(7n) .dashBox {
  background-color: lighten(#ff0035, 25%);
}
.dashWrapper div:nth-child(8n) .dashBox {
  background-color: lighten(#ff8f3d, 15%);
}

.dashBox:hover {
  // box-shadow: inset 100rem 100rem rgba(0, 0, 0, 0.2);
  opacity: .8;
}

.dashBox__icon {
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  font-size: 5rem;
  margin-left: -.5rem;
  opacity: .4;
}
.dashBox__title {
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
}
.dashBox__hero {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.dashBox__number {
  font-size: 3.6rem;
}
.dashBox__label {
  font-size: 1.8rem;
  line-height: 1.9;
  &:nth-child(2) {
    margin-left: .5rem;
  }
}