/* Settings - Page
   ========================================================================== */

// app-settings section {
//   flex: 1 1 100%;
//   width: 100%;
//   padding: 0 $pagePadding 2rem;
// }

// .page {
//   display: none;
//   &.active {
//     display: block;
//   }
// }

.page {
  display: block;
  margin: 0 $asideWidth 0 $navWidthSm;
  padding: 2rem 2rem 2rem;
  @media screen and (min-width: $md) {
    margin: 0 $asideWidth 0 $navWidth;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
    font-weight: 400;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0 0 3rem;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 3rem;
    small {
      display: block;
      font-size: 1.4rem;
    }
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  small {
    display: block;
    font-size: 1.2rem;
  }
}