/* Settings
   ========================================================================== */

app-settings {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: $pageBg;
  font-size: 14px;
  color: #ddd;
  a {
    color: $blue;
    &:hover {
      color: lighten($blue, 10%);
    }
  }
  .close {
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 30px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@import "_aside";
@import "_table";
@import "_bookmarks";
@import "_btn";
@import "_forms";
@import "_nav";
@import "_page";
@import "_tip";
@import "_help";
@import "_notice";
@import "_dashbox";
@import "_time";
@import "_design";
@import "_colors";
@import "_about";