.table {
  margin: 20px -5px;
  padding: 0;
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    tr {
      &:nth-child(odd) td {
        background: darken($pageBg, 2%);
      }
    }
    th {
      font-weight: 700;
      font-size: 12px;
      text-align: left;
      padding: 5px;
    }
    td {
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      padding: 5px;
    }
    .actions {
      width: 1%;
      white-space: nowrap;
    }
  }
}



.divTable{
	display: table;
  margin: 20px -5px;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  .divTableRow {
    display: table-row;
  }
  .divTableHeading {
    display: table-header-group;
  }
  .divTableCell, .divTableHead {
    display: table-cell;
    padding: 5px;
    text-align: left;
  }
  .divTableHead {
    font-weight: 700;
    font-size: 12px;
  }
  .divTableCell {
    font-weight: 400;
    font-size: 14px;
    vertical-align: top;
  }
  .divTableFoot {
    display: table-footer-group;
  }
  .divTableBody {
    display: table-row-group;
  }
  .zebra {
    .divTableRow:nth-child(odd) {
      .divTableCell {
        background: darken($pageBg, 2%);
      }
    }
  }
  .actions {
    width: 1%;
    white-space: nowrap;
  }
}