.clockBracketType {
  display: flex;
  input.fieldGroup__field {
    display: inline-block;
    margin-right: .1rem;
    width: 3.5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.clockOption {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 0;
  &:not(:last-child) {
    border-bottom: .1rem solid lighten($gray, 35%);
  }
}
.clockHoverOptions {
  width: auto;
}