.btn {
  display: inline-flex;
  align-items: center;
  min-height: $fieldHeight;
  border-radius: $btnRadius;
  background-color: var(--optAccent);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  padding: 0 16px;
  margin: 0;
  color: white;
  @media (prefers-color-scheme: dark) {
    color: black;
  }
  vertical-align: middle;
  cursor: pointer;
  transition: background-color .2s;
  text-decoration: none;
  &.btnIcon {
    padding: 0 10px;
    &.btnIconSmall {
      .icon {
        font-size: 20px;
      }
    }
  }
  &.btnBlock {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  &.btnSmall {
    padding: 0 8px;
    min-height: 20px;
    .icon {
      font-size: 12px;
      width: 12px;
      margin-right: 4px;
    }
  }
  &.active {
    box-shadow: inset 0 0 0 2px var(--optAccent), inset 0 0 0 4px var(--optBg);
    background-color: var(--optAccentDark);
  }
  &:hover {
    background-color: var(--optAccentLight);
  }
  &:active {
    background-color: var(--optAccentDark);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--optAccent), inset 0 0 0 2px var(--optBg);
  }
  &:disabled {
    background-color: var(--optAccentDisabled);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.orderBtns,
.connectedBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  .btn {
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 4px;
  }
}

.connectedBtns {
  grid-template-columns: unset;
  grid-auto-flow: column;
  .btn:not(:first-child) {
    margin-left: 4px;
  }
  .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.compactBtnList {
  display: flex;
  > * + * {
    margin-left: .5em;
  }
  .btnIcon {
    padding: 0 6px;
  }
}

.placementBtns {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 2px;
  width: 100%;
  .btn {
    justify-content: center;
    padding: 0;
    border-radius: 0;
    min-height: 20px;
    .icon {
      font-size: 12px;
      width: 12px;
    }
    &:nth-child(1) {border-radius: $btnRadius 0 0 0}
    &:nth-child(3) {border-radius: 0 $btnRadius 0 0}
    &:nth-child(7) {border-radius: 0 0 0 $btnRadius}
    &:nth-child(9) {border-radius: 0 0 $btnRadius 0}
  }
}