.btn {
  display: inline-flex;
  align-items: center;
  height: 44px;
  border-radius: 22px;
  background-color: var(--optAccent);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  padding: 0 16px;
  margin: 0;
  color: black;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color .2s;
  &.btnIcon {
    padding: 0 10px;
  }
  &:hover {
    background-color: var(--optAccentLight);
  }
  &:active {
    background-color: var(--optAccentDark);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--optAccent), inset 0 0 0 2px var(--optBg);
  }
  &:disabled {
    background-color: var(--optAccentDisabled);
    box-shadow: none;
    cursor: not-allowed;
  }
}