::placeholder {
  color: inherit;
  opacity: 1;
}

.grid > .input {
  margin-top: 0;
}

.helpText {
  font-size: 13px;
  opacity: .8;
  margin-top: 3px;
  line-height: 1.38;
}

.input label,
.label {
  position: relative;
  display: block;
  margin-bottom: 3px;
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  justify-content: space-between;
  align-items: center;
  &.inputStacked {
    display: block;
  }
  > .btn {
    justify-content: center;
  }
}
app-options {
  input[type="text"],
  input[type="color"],
  select {
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid var(--optAccent);
    color: currentColor;
    line-height: 1.3;
    height: $fieldHeight;
    padding: 0 10px;
    border-radius: $fieldRadius;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--optAccent);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, var(--optAccent) 50%),
      linear-gradient(135deg, var(--optAccent) 50%, transparent 50%),
      linear-gradient(to right, var(--optAccent), var(--optAccent));
    background-position:
      calc(100% - 11px) calc(.5em + 2px),
      calc(100% - 6px) calc(.5em + 2px),
      calc(100% - 23px) 0.25em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.1em;
    background-repeat: no-repeat;
    padding-right: 25px;
    option,
    optgroup {
      background: var(--optBgHighlight);
      border: 2px solid white;
      color: currentColor;
      line-height: 1.5;
    }
  }
  input[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    border: 2px solid var(--optText);
    border-radius: $btnRadius;
    box-shadow: 0;
    cursor: pointer;
    &:focus {
      border-color: var(--optText);
      box-shadow: 0 0 0 2px var(--optText);
    }
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: $btnRadius;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: $btnRadius;
  }
  input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: $btnRadius;
  }
}

.toggle {
  position: relative;
  input {
    position: absolute;
    opacity: 0;
  }
  input + label {
    display: grid;
    grid-template: 1fr / 1fr 60px;
    grid-gap: 8px;
    align-items: center;
    height: $fieldHeight;
    width: fit-content;
    cursor: pointer;
    transition: all .25s ease;
    margin-bottom: 0;
    margin-left: auto;
    &:before {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      content: "";
      display: block;
      height: ($fieldHeight - 4px);
      border: 2px solid var(--optAccent);
      border-radius: $btnRadius;
    }
    &:after {
      position: relative;
      z-index: z('form');
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      content: "";
      display: block;
      height: ($fieldHeight - 8px);
      width: ($fieldHeight - 8px);
      background: transparent;
      box-shadow: inset 0 0 0 2px var(--optAccent);
      border-radius: 50%;
      transform: translateX(5px);
      transition: .35s;
    }
    span {
      &:before {
        content: attr(data-off);
        font-size: 14px;
      }
    }
  }
  &.customToggle {
    input + label {
      span {
        &:before {
          font-weight: 700;
          color: var(--optAccent);
        }
      }
    }
  }
  input:checked + label {
    &:after {
      background-color: var(--optAccent);
      transform: translateX(33px);
    }
    span {
      &:before {
        content: attr(data-on);
        font-weight: 700;
        color: var(--optAccent);
      }
    }
  }
  input:focus + label {
    &:before {
      outline: none;
      box-shadow: 0 0 0 2px var(--optAccent);
    }
  }
  input:disabled + label {
    cursor: not-allowed;
    &:before {
      box-shadow: none;
      border-color: var(--optAccentDisabled);
    }
    &:after {
      box-shadow: inset 0 0 0 2px var(--optAccentDisabled);
    }
  }
  input:checked:disabled + label {
    &:after {
      background-color: var(--optAccentDisabled);
    }
  }
}

.range {
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-gap: 12px;
  align-items: center;
  height: $fieldHeight;
  @mixin range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: ($fieldHeight - 4px);
    width: ($fieldHeight - 4px);
    border-radius: 50%;
    background: var(--optBg);
    cursor: pointer;
    margin-top: -6px;
    border: 2px solid var(--optAccent);
  }
  @mixin range-thumb-hover {
    background: var(--optBg);
  }
  @mixin range-thumb-focus {
    box-shadow: 0 0 0 2px var(--optAccent);
  }
  @mixin range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    border-radius: 7px;
    background: var(--optAccent);
    border: 0;
    box-shadow: none;
    padding: 0 0px;
  }
  @mixin range-track-focus {
    box-shadow: 0 0 0 2px var(--optAccent), inset 0 0 0 2px var(--optBg);
  }
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    border-color: transparent;
    padding: 0;
    border: 0;
    min-width: 0;
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::-moz-focus-outer {
      border: 0;
    }
    &::-webkit-slider-thumb {
      @include range-thumb;
    }
    &::-webkit-slider-runnable-track {
      @include range-track;
    }
    &::-moz-range-thumb {
      @include range-thumb;
    }
    &::-moz-range-track {
      @include range-track;
    }
    &:hover {
      &::-webkit-slider-thumb {
        @include range-thumb-hover;
      }
      &::-moz-range-thumb {
        @include range-thumb-hover;
      }
    }
    &:focus {
      outline: 0;
      box-shadow: none;
      &::-webkit-slider-runnable-track {
        @include range-track-focus;
      }
      &::-moz-range-track {
        @include range-track-focus;
      }
      &::-webkit-slider-thumb {
        @include range-thumb-focus;
      }
      &::-moz-range-thumb {
        @include range-thumb-focus;
      }
    }
  }
  $outputHeight: 30px;
  $outputArrowWidth: 6px;
  output {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--optBgHover);
    // border: 1px solid var(--optAccent);
    color: var(--optAccent);
    height: $outputHeight;
    text-align: center;
    // font-size: 20px;
    font-weight: 600;
    position: relative;
    cursor: default;
    border-radius: 6px;
    &::before {
      position: absolute;
      top: 50%;
      right: -($outputArrowWidth);
      transform: translateY(-50%);
      content: '';
      width: 0;
      height: 0;
      border-top: $outputArrowWidth solid transparent;
      border-bottom: $outputArrowWidth solid transparent;
      border-left: $outputArrowWidth solid var(--optBgHover);
    }
  }
}

input[type=file] {
    display: none;
}

.warning {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 10px;
  }
}