$navHeight: ($optionsToggleHeight - 20);
$navRadius: ($navHeight / 2);
$navButtonHeight: ($navHeight / 1.25);

.options-wrapper nav {
  position: fixed;
  z-index: z('optionsNav');
  bottom: 10px;
  right: 10px;
  padding: 0 50px 0 10px;

  display: grid;
  place-items: center center;

  height: $navHeight;
  background: rgba(255,255,255,0.8);
  border-radius: $navRadius;
  overflow: hidden;
  ul {
    list-style: none;
    padding: 0 0px;
    margin: 0;
    width: 100%;
    display: flex;
    li {
      display: block;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        height: $navButtonHeight;
        color: black;
        border: 0;
        padding: 0 10px;
        background-color: transparent;
        transition: background-color .3s;
        cursor: pointer;
        border-radius: ($navButtonHeight / 2);
        &:focus {
          outline: none;
          box-shadow: $focus;
        }
        &:hover {
          background: rgba($lightBlue, .5);
        }
        &.active {
          background: $blue;
          cursor: default;
        }
      }
    }
  }
}
