.panel {
  position: fixed;
  z-index: z('optionsPanel');
  top: 0;
  right: 0;
  width: $optionsWidth;
  height: 100vh;
  transform-origin: center right;
  svg.panelBg {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: +1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    overflow: hidden;
    filter: drop-shadow( -5px -5px 10px rgba(0,0,0,.2) );
    polyline:nth-child(1) {
      fill: rgba(255,255,255,.9);
    }
    polyline:nth-child(2) {
      fill: rgba(255,255,255,.75);
    }
  }
}
.panelContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 0 0 50px;
  z-index: z('optionsPage');
  display: grid;
  grid-template: 60px 1fr / 1fr;
}
