.tips {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-gap: 15px;
  margin-left: -15px;
  place-items: flex-start center;
  h1 {
    margin: 5px 0 5px;
    font-size: 16px;
    font-weight: 300;
  }
  p {
    margin: 5px 0;
    font-size: 13px;
    line-height: 1.4;
  }
}
