.dash-nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    li {
      display: block;
    }
  }
  button {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    .icon {
      margin-right: .5rem;
    }
  }
}

.changelog {
  padding: 0 0 0 20px;
  list-style: none;
  li {
    position: relative;
    padding: 0 0px 7px 0px;
    line-height: 1.4;
    &:before {
      content: '\2714';
      position: absolute;
      top: 0;
      left: -20px;
      color: var(--optAccentDark);
    }
  }
}

.donate {
  @extend .box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .donate-intro {
    display: grid;
    grid-template: 1fr / 60px 1fr;
    grid-gap: 20px;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
  }
  .btn {
    .icon {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

.heart {
  width: 60px;
  height: auto;
  path {
    fill: var(--optAccent);
  }
}

.supportList {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  li {
    text-align: center;
  }
}

.supportBtn {
  color: var(--optAccent);
  text-decoration: underline;
  font-size: 1.3rem;
}

.share-it {
  display: inline-block;
  position: relative;
}

.share-it_menu {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 15rem;
  border-radius: 1rem;
  background: var(--optBg);
  padding: .5rem 1rem;
  box-shadow: 0px 0px 20px 2px var(--optShadow);
  z-index: z('tooltip');
  a.btn {
    display: block;
    white-space: nowrap;
    margin: .5rem 0;
    text-align: center;
    font-size: 1.3rem;
  }
}

.patreon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 3.4rem;
  margin: .8rem 0 0;
  background-color: hsl(357, 100%, 63%);
  border-radius: calc(3.4rem / 2);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: background .2s;
  svg {
    width: 16px;
    height: 16px;
    * {
      fill: white;
    }
  }
  div {
    color: white;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--optBg), 0 0 0 0.4rem currentColor;
  }
  &:hover {
    background-color: hsl(357, 85%, 58%);
  }
}

.tfs-ad {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}
