<ng-container *ngIf="weather">
  <div 
    class="current current--horz" 
    *ngIf="settings.config.weather.current.enabled"
    title="{{'options.weather.lastUpdated' | translate}}: {{weather.current.last_updated}}
--------
{{weather.current.condition.text}}
{{'options.weather.temp' | translate}}: {{getPreciseDigit(settings.config.weather.celsius ? weather.current.temp_c : weather.current.temp_f)}}&deg;
{{'options.weather.feelsLikeTitle' | translate}}: {{getPreciseDigit(settings.config.weather.celsius ? weather.current.feelslike_c : weather.current.feelslike_f)}}&deg;
{{'options.weather.wind' | translate}}: {{settings.config.weather.metric ? getMetricWind(weather.current.wind_kph) : getImperialWind(weather.current.wind_mph)}}{{getWindUnitType()}} {{weather.current.wind_dir}}
{{'options.weather.gusts' | translate}}: {{settings.config.weather.metric ? getMetricWind(weather.current.gust_kph) : getImperialWind(weather.current.gust_mph)}}{{getWindUnitType()}}
{{'options.weather.visibility' | translate}}: {{settings.config.weather.metric ? weather.current.vis_km : weather.current.vis_miles}}{{settings.config.weather.metric ? ' km' : ' miles'}}
{{'options.weather.humidity' | translate}}: {{weather.current.humidity}}%
{{'options.weather.precip' | translate}}: {{settings.config.weather.metric ? weather.current.precip_mm : weather.current.precip_in}}{{settings.config.weather.metric ? ' mm' : ' in'}}
{{'options.weather.pressure' | translate}}: {{settings.config.weather.metric ? weather.current.pressure_mb : weather.current.pressure_in}}{{settings.config.weather.metric ? ' mb' : ' in'}}
UV: {{weather.current.uv}}
{{'options.weather.cloudCover' | translate}}: {{weather.current.cloud}}%
{{'options.weather.chanceOfRain' | translate}}: {{weather.forecast.forecastday[0].day.daily_chance_of_rain}}%
{{'options.weather.chanceOfSnow' | translate}}: {{weather.forecast.forecastday[0].day.daily_chance_of_snow}}%
{{'options.weather.sunrise' | translate}}: {{getTwentyFourTime(weather.forecast.forecastday[0].astro.sunrise)}}
{{'options.weather.sunset' | translate}}: {{getTwentyFourTime(weather.forecast.forecastday[0].astro.sunset)}}
{{'options.weather.moonPhase' | translate}}: {{weather.forecast.forecastday[0].astro.moon_phase}}
{{'options.weather.moonrise' | translate}}: {{getTwentyFourTime(weather.forecast.forecastday[0].astro.moonrise)}}
{{'options.weather.moonset' | translate}}: {{getTwentyFourTime(weather.forecast.forecastday[0].astro.moonset)}}"
  >
    <div class="currentHero" *ngIf="settings.config.weather.current.icon.enabled">
      <div class="currentIcon">
        <i 
          class="w-code-{{weather.current.condition.code}}{{weather.current.is_day === 1 ? '' : 'n'}}"
          [ngStyle]="{'font-size': shared.getFontSize(this.settings.config.weather.current.icon.size, 7)}"
        ></i>
      </div>
    </div>
    <div class="currentContent">
      <div class="currentTemp" [ngClass]="{'currentTemp--NoDegree' : !settings.config.weather.current.temp.degree}" *ngIf="settings.config.weather.current.temp.currently || settings.config.weather.current.temp.feelsLike">
        <div class="currentNow" *ngIf="settings.config.weather.current.temp.currently">
          {{getPreciseDigit(settings.config.weather.celsius ? weather.current.temp_c : weather.current.temp_f)}}<span class="currentDegree" *ngIf="settings.config.weather.current.temp.degree">&deg;</span>
        </div>
        <span class="currentSlash" *ngIf="settings.config.weather.current.temp.currently && settings.config.weather.current.temp.feelsLike">/</span>
        <div class="currentFeelsLike" *ngIf="settings.config.weather.current.temp.feelsLike">
          Feels like {{getPreciseDigit(settings.config.weather.celsius ? weather.current.feelslike_c : weather.current.feelslike_f)}}<span class="currentDegree" *ngIf="settings.config.weather.current.temp.degree">&deg;</span>
        </div>
      </div>
      <!-- <div class="currentCondition">{{weather.current.condition.text}}</div> -->
      <div 
        class="currentDetails" 
        *ngIf="
          settings.config.weather.current.wind.enabled ||
          settings.config.weather.current.humidity.enabled ||
          settings.config.weather.current.pressure.enabled
        "
      >
        <div class="currentWind" title="{{'options.weather.windDirection' | translate}}: {{weather.current.wind_dir}}" *ngIf="settings.config.weather.current.wind.enabled">
          <i class="w-wind-deg {{weather.current.wind_dir}}"></i>{{settings.config.weather.metric ? getMetricWind(weather.current.wind_kph) : getImperialWind(weather.current.wind_mph)}}{{getWindUnitType()}}
        </div>
        <div class="weatherDetail" title="{{'options.weather.humidity' | translate}}: {{weather.current.humidity}}%" *ngIf="settings.config.weather.current.humidity.enabled">
          <i class="w-humidity"></i>{{weather.current.humidity}}%
        </div>
        <div class="weatherDetail" title="{{'options.weather.pressure' | translate}}: {{settings.config.weather.metric ? weather.current.pressure_mb : weather.current.pressure_in}}{{settings.config.weather.metric ? 'mb' : 'in'}}" *ngIf="settings.config.weather.current.pressure.enabled">
          <i class="w-barometer"></i>{{settings.config.weather.metric ? weather.current.pressure_mb : weather.current.pressure_in}}{{settings.config.weather.metric ? ' mb' : ' in'}}
        </div>
      </div>
      <div class="currentDetails" *ngIf="settings.config.weather.current.astro.sunrise || settings.config.weather.current.astro.sunset">
        <div class="weatherDetail" title="{{'options.weather.sunrise' | translate}}: {{getTwentyFourTime(weather.forecast.forecastday[0].astro.sunrise)}}" *ngIf="settings.config.weather.current.astro.sunrise">
          <i class="w-sunrise"></i>{{getTwentyFourTime(weather.forecast.forecastday[0].astro.sunrise)}}
        </div>
        <div class="weatherDetail" title="{{'options.weather.sunset' | translate}}: {{getTwentyFourTime(weather.forecast.forecastday[0].astro.sunset)}}" *ngIf="settings.config.weather.current.astro.sunset">
          <i class="w-sunset"></i>{{getTwentyFourTime(weather.forecast.forecastday[0].astro.sunset)}}
        </div>
      </div>
      <div class="currentDetails" *ngIf="settings.config.weather.current.astro.moonPhase">
        <div class="weatherDetail weatherMoon" title="{{'options.weather.moonPhase' | translate}}: {{weather.forecast.forecastday[0].astro.moon_phase}}">
          <i [ngClass]="{
            'w-moon-waxing-crescent' : weather.forecast.forecastday[0].astro.moon_phase === 'Waxing Crescent', 
            'w-moon-first-quarter' : weather.forecast.forecastday[0].astro.moon_phase === 'First Quarter', 
            'w-moon-waxing-gibbous' : weather.forecast.forecastday[0].astro.moon_phase === 'Waxing Gibbous',
            'w-moon-full' : weather.forecast.forecastday[0].astro.moon_phase === 'Full Moon',
            'w-moon-waning-gibbous' : weather.forecast.forecastday[0].astro.moon_phase === 'Waning Gibbous',
            'w-moon-third-quarter' : weather.forecast.forecastday[0].astro.moon_phase === 'Last Quarter',
            'w-moon-waning-crescent' : weather.forecast.forecastday[0].astro.moon_phase === 'Waning Crescent',
            'w-moon-new' : weather.forecast.forecastday[0].astro.moon_phase === 'New Moon'
          }"></i>{{weather.forecast.forecastday[0].astro.moon_phase}}
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="settings.config.weather.forecast.enabled">
    <div 
      class="forecast" 
      [ngStyle]="{
        'gap': shared.getPadding(settings.config.weather.padding, .4), 
        'margin-left' : settings.config.weather.current.enabled ? shared.getPadding(settings.config.weather.padding, .4) : '0'
      }"
    >
      <ng-container 
        *ngFor="let forecastDay of weather.forecast.forecastday | slice:0:settings.config.weather.forecast.days; let i = index;"
      >
        <ng-container *ngIf="!settings.config.weather.forecast.hideToday || (settings.config.weather.forecast.hideToday && i !== 0)">
        
          <div 
            class="forecastDay" 
            [ngClass]="{'forecastDay--horz' : settings.config.weather.forecast.horizontal}" 
            title="{{getDayOfWeek(forecastDay.date)}}
--------
{{forecastDay.day.condition.text}}
{{'options.weather.high' | translate}}: {{getPreciseDigit(settings.config.weather.celsius ? forecastDay.day.maxtemp_c : forecastDay.day.maxtemp_f)}}&deg; / {{'options.weather.low' | translate}}: {{getPreciseDigit(settings.config.weather.celsius ? forecastDay.day.mintemp_c : forecastDay.day.mintemp_f)}}&deg;
{{'options.weather.avgTemp' | translate}}: {{getPreciseDigit(settings.config.weather.celsius ? forecastDay.day.avgtemp_c : forecastDay.day.avgtemp_f)}}&deg;
{{'options.weather.wind' | translate}}: {{settings.config.weather.metric ? getMetricWind(forecastDay.day.maxwind_kph) : getImperialWind(forecastDay.day.maxwind_mph)}}{{getWindUnitType()}}
{{'options.weather.visibility' | translate}}: {{settings.config.weather.metric ? forecastDay.day.avgvis_km : forecastDay.day.avgvis_miles}}{{settings.config.weather.metric ? ' km' : ' miles'}}
{{'options.weather.humidity' | translate}}: {{forecastDay.day.avghumidity}}%
{{'options.weather.precip' | translate}}: {{settings.config.weather.metric ? forecastDay.day.totalprecip_mm : forecastDay.day.totalprecip_in}}{{settings.config.weather.metric ? ' mm' : ' in'}}
UV: {{forecastDay.day.uv}}
{{'options.weather.chanceOfRain' | translate}}: {{forecastDay.day.daily_chance_of_rain}}%
{{'options.weather.chanceOfSnow' | translate}}: {{forecastDay.day.daily_chance_of_snow}}%
{{'options.weather.sunrise' | translate}}: {{getTwentyFourTime(forecastDay.astro.sunrise)}}
{{'options.weather.sunset' | translate}}: {{getTwentyFourTime(forecastDay.astro.sunset)}}
{{'options.weather.moonPhase' | translate}}: {{forecastDay.astro.moon_phase}}
{{'options.weather.moonrise' | translate}}: {{getTwentyFourTime(forecastDay.astro.moonrise)}}
{{'options.weather.moonset' | translate}}: {{getTwentyFourTime(forecastDay.astro.moonset)}}"
          >
            <div class="forecastHero" *ngIf="settings.config.weather.forecast.icon.enabled">
              <div class="forecastIcon">
                <i 
                  class="w-code-{{forecastDay.day.condition.code}}{{weather.current.is_day === 1 ? '' : 'n'}}"
                  [ngStyle]="{'font-size': shared.getFontSize(this.settings.config.weather.forecast.icon.size, 7)}"
                ></i>
              </div>
            </div>
            <div class="forecastContent" *ngIf="
              settings.config.weather.forecast.day.enabled || 
              settings.config.weather.forecast.temp.high || 
              settings.config.weather.forecast.temp.low
            ">
              <div class="forecastDate" *ngIf="settings.config.weather.forecast.day.enabled">{{getDayOfWeek(forecastDay.date)}}</div>
              <div class="forecastTemp" [ngClass]="{'forecastTemp--NoDegree' : !settings.config.weather.forecast.temp.degree}" *ngIf="settings.config.weather.forecast.temp.high || settings.config.weather.forecast.temp.low">
                <div class="forecastHigh" *ngIf="settings.config.weather.forecast.temp.high">
                  {{getPreciseDigit(settings.config.weather.celsius ? forecastDay.day.maxtemp_c : forecastDay.day.maxtemp_f)}}<span class="forecastDegree" *ngIf="settings.config.weather.forecast.temp.degree">&deg;</span>
                </div>
                <div class="forecastHigh" *ngIf="!settings.config.weather.forecast.temp.high && settings.config.weather.forecast.temp.low">
                  {{getPreciseDigit(settings.config.weather.celsius ? forecastDay.day.mintemp_c : forecastDay.day.mintemp_f)}}<span class="forecastDegree" *ngIf="settings.config.weather.forecast.temp.degree">&deg;</span>
                </div>
                <span class="forecastSlash" *ngIf="settings.config.weather.forecast.temp.high && settings.config.weather.forecast.temp.low">/</span>
                <div class="forecastLow" *ngIf="settings.config.weather.forecast.temp.high && settings.config.weather.forecast.temp.low">
                  {{getPreciseDigit(settings.config.weather.celsius ? forecastDay.day.mintemp_c : forecastDay.day.mintemp_f)}}<span class="forecastDegree" *ngIf="settings.config.weather.forecast.temp.degree">&deg;</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
