<div id="step1" *ngIf="step === 1">
  <h1>
    <svg x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
      <g>
        <g>
          <rect x="24" y="80" fill="#0071BC" width="16" height="16"/>
          <rect x="40" y="64" fill="#0071BC" width="16" height="16"/>
          <rect x="56" y="48" fill="#0071BC" width="16" height="16"/>
          <rect x="72" y="64" fill="#0071BC" width="16" height="16"/>
          <rect x="88" y="80" fill="#0071BC" width="16" height="16"/>
        </g>
        <path fill="#4D4D4D" d="M123,20V0H88v20h-9V0H44v20h-9V10V0H25H10H0v10v10v10v20v78h128V20H123z M118,118H10V10h15v20h19h35h9h30
          V118z"/>
      </g>
    </svg>
    <div><strong>Welcome to CaretTab</strong>Your <em>new</em> New Tab page!</div>
  </h1>
  <h2>Let's go over some basic settings to get you started...</h2>
  <button type="button" class="btn btn--intro btn--start" (click)="step = 2">Get started!</button>
</div>

<!-- STEP 2 -->
<div id="step2" class="intro-steps" *ngIf="step === 2">
  <div class="intro-options">
    <h3>Choose a language</h3>
    <div class="intro_lang-btns">
      <button
        *ngFor="let lang of languages"
        type="button"
        class="btn btn--intro"
        (click)="chooseLang(lang.id); newLang = lang.id"
        [ngClass]="{'active': newLang === lang.id}">
        {{lang.label}}
      </button>
    </div>
  </div>
  <div class="intro-nav">
    <button type="button" class="btn btn--intro btn--next" (click)="step = 3" [disabled]="newLang == null">Next &rarr;</button>
    <div class="intro-nav_misc">
      <button type="button" class="btn btn--intro btn--skip" (click)="skipIntro()">Skip</button>&nbsp;
      <button type="button" class="btn btn--intro btn--back" (click)="step = 1">&larr; Back</button>
    </div>
  </div>
</div>

<!-- STEP 3 -->
<div id="step3" class="intro-steps" *ngIf="step === 3">
  <div class="intro-options">
    <h3>Do you want to display a clock?</h3>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn--intro" (click)="enableTime(false)">No</button>
      <button type="button" class="btn btn--intro" (click)="enableTime(true)">Yes</button>
    </div>
  </div>
  <div class="intro-nav">
    <div class="intro-nav_misc">
      <button type="button" class="btn btn--intro btn--skip" (click)="skipIntro()">Skip</button>&nbsp;
      <button type="button" class="btn btn--intro btn--back" (click)="step = 2">&larr; Back</button>
    </div>
  </div>
</div>

<!-- STEP 4 -->
<div id="step4" class="intro-steps" *ngIf="step === 4">
  <div class="intro-options">
    <h3>Do you want to show the date?</h3>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn--intro" (click)="enableDate(false)">No</button>
      <button type="button" class="btn btn--intro" (click)="enableDate(true)">Yes</button>
    </div>
  </div>
  <div class="intro-nav">
    <div class="intro-nav_misc">
      <button type="button" class="btn btn--intro btn--skip" (click)="skipIntro()">Skip</button>&nbsp;
      <button type="button" class="btn btn--intro btn--back" (click)="step = 3">&larr; Back</button>
    </div>
  </div>
</div>

<!-- STEP 5 -->
<div id="step5" class="intro-steps" *ngIf="step === 5">
  <div class="intro-options">
    <h3>Show a bookmarks bar?</h3>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn--intro" (click)="enableBookmarks(false)">No</button>
      <button type="button" class="btn btn--intro" (click)="enableBookmarks(true)">Yes</button>
    </div>
  </div>
  <div class="intro-nav">
    <div class="intro-nav_misc">
      <button type="button" class="btn btn--intro btn--skip" (click)="skipIntro()">Skip</button>&nbsp;
      <button type="button" class="btn btn--intro btn--back" (click)="step = 4">&larr; Back</button>
    </div>
  </div>
</div>

<!-- STEP 6 -->
<div id="step6" class="intro-steps" *ngIf="step === 6">
  <div class="intro-options">
    <h3>Choose your favorite colors</h3>
    <div class="grid cols-4 pt1">
      <button
        *ngFor="let color of colors;"
        class="colorsBtn btn btnBlock span-1"
        [ngClass]="{'active': settings.config.design.colorsId === color.id}"
        [style.backgroundColor]="color.bg"
        [style.color]="color.fg"
        (click)="setColors(color)">
        abc
      </button>
    </div>
  </div>
  <div class="intro-nav">
    <button type="button" class="btn btn--intro btn--next" (click)="step = 7" [disabled]="settings.config.design.colorsId === 0">Next &rarr;</button>
    <div class="intro-nav_misc">
      <button type="button" class="btn btn--intro btn--skip" (click)="skipIntro()">Skip</button>&nbsp;
      <button type="button" class="btn btn--intro btn--back" (click)="step = 5">&larr; Back</button>
    </div>
  </div>
</div>

<!-- STEP 7 -->
<div id="step7" class="intro-steps" *ngIf="step === 7">
  <div class="intro-options">
    <h3>This is just the tip of the iceberg!</h3>
    <p>CaretTab can be fully customized! You will find many more options in the settings menu.</p>
    <p>To open the settings menu, click the icon in the bottom-right corner.</p>
  </div>
  <div class="intro-nav">
    <button type="button" class="btn btn--intro btn--next" (click)="finishIntro()">Let's go!</button>
    <div class="intro-nav_misc">
      <button type="button" class="btn btn--intro btn--back" (click)="step = 6">&larr; Back</button>
    </div>
  </div>
</div>

<!-- Options toggle / nav -->
<app-settings-toggle *ngIf="step === 7" class="intro-settings-toggle"></app-settings-toggle>
