<section
  class="w100"
  [style.fontFamily]="shared.getFont(settings.config.design.font)"
  [style.fontSize]="shared.getFontSize(settings.config.design.scaling)"
  >

  <p class="m0">Hello World</p>

  <!-- Bookmarks -->
  <tab-bookmarks></tab-bookmarks>

  <!-- Time -->
  <tab-time></tab-time>

</section>

<!-- Options toggle / nav -->
<button
  (click)="toggleOptions()"
  class="openOptions"
  [ngClass]="{'open': shared.optionsToggle}"
  title="Open Settings">
  <span></span><span></span><span></span><span></span>
</button>
<nav *ngIf="shared.optionsToggle" @nav></nav>
