<div 
  class="tabWrap"
  [ngClass]="{'noHighlight' : settings.config.misc.disableSelect}"
  [style.fontFamily]="shared.getFont(settings.config.design.font, settings.config.design.customFont)"
  [style.fontWeight]="shared.getFontWeight(settings.config.design.font, settings.config.design.customFontWeight)"
  [style.fontSize]="shared.getFontSize(settings.config.design.scaling)"
>
  <div class="tabBackground"
    [style.backgroundColor]="shared.bgColor"
    [style.backgroundImage]="'url('+ shared.bg +')'"
    [style.filter]="getBrightness()"
    [style.backgroundSize]="getBgSize()"
    [style.backgroundBlendMode]="getBgBlend()"
    [style.backgroundRepeat]="settings.config.design.imageSize === 10 ? 'repeat' : 'no-repeat'">
  </div>
  
  <tab-bookmarks></tab-bookmarks>

  <div class="tabGrid" [ngClass]="{'tabGridBookmarksBar': settings.config.bookmark.enabled}">

    <article id="nw" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'nw' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'nw'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'nw' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'nw' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'nw' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'nw' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="n" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'n' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'n'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'n' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'n' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'n' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'n' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="ne" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'ne' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'ne'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'ne' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'ne' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'ne' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'ne' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="w" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'w' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'w'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'w' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'w' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'w' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'w' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="c" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'c' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'c' || clock.position == null" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'c' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'c' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'c' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'c' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="e" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'e' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'e'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'e' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'e' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'e' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'e' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="sw" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'sw' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'sw'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'sw' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'sw' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'sw' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'sw' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="s" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 's' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 's'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 's' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 's' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 's' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 's' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

    <article id="se" class="gridPosition">
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.quickLink.position === 'se' && settings.config.quickLink.enabled" 
        [ngStyle]="setQuickLinkWrapStyles()">
        <tab-quickLinks
          [ngStyle]="setQuickLinkStyles()">
        </tab-quickLinks>
      </div>
      <ng-container *ngIf="settings.config.time.clocks.length > 0">
        <ng-container *ngFor="let clock of settings.config.time.clocks; let i = index;">
          <tab-time 
            *ngIf="clock.position === 'se'" 
            [index]="i" 
            [clock]="clock" 
            [ngStyle]="setTimeStyles(clock)">
          </tab-time>
        </ng-container>
      </ng-container>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.date.position === 'se' && settings.config.date.enabled"
        [ngStyle]="setDateWrapStyles()">
        <tab-date [ngStyle]="setDateStyles()"></tab-date>
      </div>
      <div class="forceLineBreak" *ngIf="settings.config.messages.position === 'se' && settings.config.messages.enabled" [ngStyle]="setMessageWrapStyles()">
        <tab-message [ngStyle]="setMessageStyles()"></tab-message>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.search.position === 'se' && settings.config.search.enabled"
        [ngStyle]="setSearchWrapStyles()">
        <tab-search
          [ngStyle]="setSearchStyles()"></tab-search>
      </div>
      <div 
        class="forceLineBreak" 
        *ngIf="settings.config.weather.position === 'se' && settings.config.weather.enabled"
        [ngStyle]="setWeatherWrapStyles()">
        <tab-weather 
          [ngStyle]="setWeatherStyles()"></tab-weather>
      </div>
    </article>

  </div>
  
  <!-- Options toggle / nav -->
  <app-settings-toggle [ngClass]="{'noHighlight' : settings.config.misc.disableSelect}" #settingsToggle></app-settings-toggle>
  
  <!-- <app-logo [ngClass]="{'noHighlight' : settings.config.misc.disableSelect}"></app-logo> -->
</div>
