<!-- MINOR VERSION SPLASH SCREEN: -->

<div class="updated" *ngIf="step === 900">
  <h1>
    <svg x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
      <g>
        <g>
          <rect x="24" y="80" fill="#0071BC" width="16" height="16"/>
          <rect x="40" y="64" fill="#0071BC" width="16" height="16"/>
          <rect x="56" y="48" fill="#0071BC" width="16" height="16"/>
          <rect x="72" y="64" fill="#0071BC" width="16" height="16"/>
          <rect x="88" y="80" fill="#0071BC" width="16" height="16"/>
        </g>
        <path fill="#4D4D4D" d="M123,20V0H88v20h-9V0H44v20h-9V10V0H25H10H0v10v10v10v20v78h128V20H123z M118,118H10V10h15v20h19h35h9h30
          V118z"/>
      </g>
    </svg>
    <div>{{'splash.updatedTo' | translate}} v3.6.0!</div>
  </h1>
  <div class="splash-options">
    <h3>{{'splash.new' | translate}}</h3>
    <ul>
      <li>{{'splash.v360.m1' | translate}}</li>
      <li>{{'splash.v360.m2' | translate}}</li>
      <li>{{'splash.v360.m3' | translate}}</li>
      <li>{{'splash.v360.m4' | translate}}</li>
      <li>{{'splash.v360.m5' | translate}}</li>
      <li>{{'splash.v360.m6' | translate}}</li>
      <li>{{'splash.v360.m7' | translate}}</li>
    </ul>
  </div>
  <button type="button" class="btn btn--splash btn--start" (click)="removeIntro()">{{'splash.getStarted' | translate}}</button>
</div>

<!-- MAJOR VERSION SPLASH SCREEN: -->

<div class="updated" *ngIf="step === 800">
  <div class="splash350">
    <h1>
      <svg x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
        <g>
          <g>
            <rect x="24" y="80" fill="#0071BC" width="16" height="16"/>
            <rect x="40" y="64" fill="#0071BC" width="16" height="16"/>
            <rect x="56" y="48" fill="#0071BC" width="16" height="16"/>
            <rect x="72" y="64" fill="#0071BC" width="16" height="16"/>
            <rect x="88" y="80" fill="#0071BC" width="16" height="16"/>
          </g>
          <path fill="#4D4D4D" d="M123,20V0H88v20h-9V0H44v20h-9V10V0H25H10H0v10v10v10v20v78h128V20H123z M118,118H10V10h15v20h19h35h9h30
            V118z"/>
        </g>
      </svg>
      <div>{{'splash.updatedTo' | translate}} v3.5.0!</div>
    </h1>
    <h2 class="splash350_heading">Many new features now available!</h2>
    <div class="featureGrid">
      <div class="featureGridNav">
        <button type="button" class="btn btn--splash btn--feature" (click)="featureCarousel === 1 ? featureCarousel = 11 : featureCarousel = featureCarousel - 1"><div class="icon">chevron_left</div></button>
      </div>
      <section *ngIf="featureCarousel === 1">
        <div class="icon">wb_sunny</div>
        <h3>{{'splash.v350.weatherTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.weatherDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 2">
        <div class="icon">coronavirus</div>
        <h3>{{'splash.v350.covidTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.covidDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 3">
        <div class="icon">access_time</div>
        <h3>{{'splash.v350.binaryTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.binaryDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 4">
        <div class="icon">textsms</div>
        <h3>{{'splash.v350.messageTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.messageDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 5">
        <div class="icon">content_copy</div>
        <h3>{{'splash.v350.duplicateTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.duplicateDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 6">
        <div class="icon">auto_awesome_mosaic</div>
        <h3>{{'splash.v350.positionTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.positionDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 7">
        <div class="icon">download_for_offline</div>
        <h3>{{'splash.v350.backupTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.backupDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 8">
        <div class="icon">notes</div>
        <h3>{{'splash.v350.selectTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.selectDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 9">
        <div class="icon">brightness_medium</div>
        <h3>{{'splash.v350.dimTitle' | translate}}</h3>
        <p class="mb0">{{'splash.v350.dimDesc' | translate}}</p>
      </section>
      <section *ngIf="featureCarousel === 10">
        <h3>Minor changes</h3>
        <ul>
          <li>{{'splash.v350.m1' | translate}}</li>
          <li>{{'splash.v350.m2' | translate}}</li>
          <li>{{'splash.v350.m3' | translate}}</li>
          <li>{{'splash.v350.m4' | translate}}</li>
          <li>{{'splash.v350.m5' | translate}}</li>
          <li>{{'splash.v350.m6' | translate}}</li>
          <li>{{'splash.v350.m7' | translate}}</li>
        </ul>
      </section>
      <section *ngIf="featureCarousel === 11">
        <h3>Bug fixes</h3>
        <ul>
          <li>{{'splash.v350.b1' | translate}}</li>
          <li>{{'splash.v350.b2' | translate}}</li>
          <li>{{'splash.v350.b3' | translate}}</li>
          <li>{{'splash.v350.b4' | translate}}</li>
          <li>{{'splash.v350.b5' | translate}}</li>
          <li>{{'splash.v350.b6' | translate}}</li>
        </ul>
      </section>
      <div class="featureGridNav">
        <button type="button" class="btn btn--splash btn--feature" (click)="featureCarousel === 11 ? featureCarousel = 1 : featureCarousel = featureCarousel + 1"><div class="icon">chevron_right</div></button>
      </div>
    </div>
    <div class="featureDotNav">
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 1}" type="button" (click)="featureCarousel = 1" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 2}" type="button" (click)="featureCarousel = 2" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 3}" type="button" (click)="featureCarousel = 3" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 4}" type="button" (click)="featureCarousel = 4" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 5}" type="button" (click)="featureCarousel = 5" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 6}" type="button" (click)="featureCarousel = 6" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 7}" type="button" (click)="featureCarousel = 7" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 8}" type="button" (click)="featureCarousel = 8" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 9}" type="button" (click)="featureCarousel = 9" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 10}" type="button" (click)="featureCarousel = 10" aria-label="View more new features"></button>
      <button class="featureDotBtn" [ngClass]="{'featureDotBtn--active': featureCarousel === 11}" type="button" (click)="featureCarousel = 11" aria-label="View more new features"></button>
    </div>
  </div>
  <button type="button" class="btn btn--splash btn--start" (click)="removeIntroAndReload()">{{'splash.getStarted' | translate}}</button>
</div>

<!-- INSTALLED: -->

<div id="step1" *ngIf="step === 1">
  <h1>
    <svg x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
      <g>
        <g>
          <rect x="24" y="80" fill="#0071BC" width="16" height="16"/>
          <rect x="40" y="64" fill="#0071BC" width="16" height="16"/>
          <rect x="56" y="48" fill="#0071BC" width="16" height="16"/>
          <rect x="72" y="64" fill="#0071BC" width="16" height="16"/>
          <rect x="88" y="80" fill="#0071BC" width="16" height="16"/>
        </g>
        <path fill="#4D4D4D" d="M123,20V0H88v20h-9V0H44v20h-9V10V0H25H10H0v10v10v10v20v78h128V20H123z M118,118H10V10h15v20h19h35h9h30
          V118z"/>
      </g>
    </svg>
    <div><strong>{{'splash.s1.welcome' | translate | translateCut:0 }}</strong> {{'splash.s1.welcome' | translate | translateCut:1 }} <em>{{'splash.s1.welcome' | translate | translateCut:2 }}</em> {{'splash.s1.welcome' | translate | translateCut:3 }}</div>
  </h1>
  <h2>{{'splash.s1.p1' | translate}}</h2>
  <button type="button" class="btn btn--splash btn--start" (click)="step = 2">{{'splash.getStarted' | translate}}</button>
</div>

<!-- STEP 2 -->
<div id="step2" class="splash-steps" *ngIf="step === 2">
  <div class="splash-options">
    <h3>{{'splash.s2.title' | translate}}</h3>
    <div class="splash_lang-btns">
      <button
        *ngFor="let lang of languages"
        type="button"
        class="btn btn--splash"
        (click)="chooseLang(lang.id); newLang = lang.id"
        [ngClass]="{'active': newLang === lang.id}">
        {{lang.label}}
      </button>
    </div>
  </div>
  <div class="splash-nav">
    <button type="button" class="btn btn--splash btn--next" (click)="step = 3" [disabled]="newLang == null">{{'splash.next' | translate}} &rarr;</button>
    <div class="splash-nav_misc">
      <button type="button" class="btn btn--splash btn--skip" (click)="skipIntro()">{{'splash.skip' | translate}}</button>&nbsp;
      <button type="button" class="btn btn--splash btn--back" (click)="shared.status === 'updated' ? step = 900 : step = 1">&larr; {{'splash.back' | translate}}</button>
    </div>
  </div>
</div>

<!-- STEP 3 -->
<div id="step3" class="splash-steps" *ngIf="step === 3">
  <div class="splash-options">
    <h3>{{'splash.s3.title' | translate}}</h3>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn--splash" (click)="enableTime(false)">{{'splash.no' | translate}}</button>
      <button type="button" class="btn btn--splash" (click)="enableTime(true)">{{'splash.yes' | translate}}</button>
    </div>
  </div>
  <div class="splash-nav">
    <div class="splash-nav_misc">
      <button type="button" class="btn btn--splash btn--skip" (click)="skipIntro()">{{'splash.skip' | translate}}</button>&nbsp;
      <button type="button" class="btn btn--splash btn--back" (click)="step = 2">&larr; {{'splash.back' | translate}}</button>
    </div>
  </div>
</div>

<!-- STEP 4 -->
<div id="step4" class="splash-steps" *ngIf="step === 4">
  <div class="splash-options">
    <h3>{{'splash.s4.title' | translate}}</h3>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn--splash" (click)="enableDate(false)">{{'splash.no' | translate}}</button>
      <button type="button" class="btn btn--splash" (click)="enableDate(true)">{{'splash.yes' | translate}}</button>
    </div>
  </div>
  <div class="splash-nav">
    <div class="splash-nav_misc">
      <button type="button" class="btn btn--splash btn--skip" (click)="skipIntro()">{{'splash.skip' | translate}}</button>&nbsp;
      <button type="button" class="btn btn--splash btn--back" (click)="step = 3">&larr; {{'splash.back' | translate}}</button>
    </div>
  </div>
</div>

<!-- STEP 5 -->
<!-- Enable bookmark bar -->
<div id="step5" class="splash-steps" *ngIf="step === 5">
  <div class="splash-options">
    <h3>{{'splash.s5.title' | translate}}</h3>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn--splash" (click)="enableBookmarks(false)">{{'splash.no' | translate}}</button>
      <button type="button" class="btn btn--splash" (click)="setBookmarkPermission()">{{'splash.yes' | translate}}</button>
    </div>
  </div>
  <div class="splash-nav">
    <div class="splash-nav_misc">
      <button type="button" class="btn btn--splash btn--skip" (click)="skipIntro()">{{'splash.skip' | translate}}</button>&nbsp;
      <button type="button" class="btn btn--splash btn--back" (click)="step = 4">&larr; {{'splash.back' | translate}}</button>
    </div>
  </div>
</div>

<!-- STEP 6 -->
<div id="step6" class="splash-steps" *ngIf="step === 6">
  <div class="splash-options">
    <h3>{{'splash.s6.title' | translate}}</h3>
    <div class="grid cols-4 pt1">
      <button
        *ngFor="let color of colors;"
        class="colorsBtn btn btnBlock span-1"
        [ngClass]="{'active': settings.config.design.colorsId === color.id}"
        [style.backgroundColor]="color.bg"
        [style.color]="color.fg"
        (click)="setColors(color)">
        abc
      </button>
    </div>
  </div>
  <div class="splash-nav">
    <button type="button" class="btn btn--splash btn--next" (click)="step = 7" [disabled]="settings.config.design.colorsId === 0">{{'splash.next' | translate}} &rarr;</button>
    <div class="splash-nav_misc">
      <button type="button" class="btn btn--splash btn--skip" (click)="skipIntro()">{{'splash.skip' | translate}}</button>&nbsp;
      <button type="button" class="btn btn--splash btn--back" (click)="step = 5">&larr; {{'splash.back' | translate}}</button>
    </div>
  </div>
</div>

<!-- STEP 7 -->
<div id="step7" class="splash-steps" *ngIf="step === 7">
  <div class="splash-options">
    <h3>{{'splash.s7.title' | translate}}</h3>
    <p>{{'splash.s7.p1' | translate}}</p>
    <p>{{'splash.s7.p2' | translate}}</p>
  </div>
  <div class="splash-nav">
    <button type="button" class="btn btn--splash btn--next" (click)="finishIntro()">{{'splash.letsGo' | translate}}</button>
    <div class="splash-nav_misc">
      <button type="button" class="btn btn--splash btn--back" (click)="step = 6">&larr; {{'splash.back' | translate}}</button>
    </div>
  </div>
</div>

<!-- Options toggle / nav -->
<app-settings-toggle *ngIf="step === 7" class="splash-settings-toggle"></app-settings-toggle>
