<form #bookmarkOptions="ngForm" novalidate>
  <fieldset>
    <legend>Bookmarks</legend>
    <div class="grid cols-4">
      <div class="field span-1">
        <options-toggle name="toggleBookmarks" [(ngModel)]="settings.config.bookmarks.bookmarksBar.enabled" (ngModelChange)="saveAll()"></options-toggle>
        <label>Bookmarks Bar</label>
      </div>
      <div class="field span-2" *ngIf="settings.config.bookmarks.bookmarksBar.enabled">
        <options-range name="bookmarksSize" id="bookmarksSize" min="1" max="20" [(ngModel)]="settings.config.bookmarks.bookmarksBar.scaling" (ngModelChange)="saveAll()"></options-range>
        <label>Size</label>
      </div>
      <div class="grid cols-5 span-4" *ngIf="settings.config.bookmarks.bookmarksBar.enabled">
        <div class="field span-1">
          <options-toggle name="mostVisitedBookmarksBar" [(ngModel)]="settings.config.bookmarks.bookmarksBar.mostVisited" (ngModelChange)="saveAll()"></options-toggle>
          <label>Most visited</label>
        </div>
        <div class="field span-1">
          <options-toggle name="bookmarksManagerBookmarksBar" [(ngModel)]="settings.config.bookmarks.bookmarksBar.bookmarksManager" (ngModelChange)="saveAll()"></options-toggle>
          <label>Bookmarks manager</label>
        </div>
        <div class="field span-1">
          <options-toggle name="historyBookmarksBar" [(ngModel)]="settings.config.bookmarks.bookmarksBar.history" (ngModelChange)="saveAll()"></options-toggle>
          <label>History link</label>
        </div>
        <div class="field span-1">
          <options-toggle name="appsBookmarksBar" [(ngModel)]="settings.config.bookmarks.bookmarksBar.apps" (ngModelChange)="saveAll()"></options-toggle>
          <label>Apps link</label>
        </div>
        <div class="field span-1">
          <options-toggle name="chromeTabBookmarksBar" [(ngModel)]="settings.config.bookmarks.bookmarksBar.chromeTab" (ngModelChange)="saveAll()"></options-toggle>
          <label>Chrome tab</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset [ngClass]="{'mb0': !settings.config.bookmarks.quickLinks.enabled}">
    <legend>Quick links</legend>
    <div class="grid cols-4">
      <div class="field span-1">
        <div class="toggle">
          <input type="checkbox" name="toggleQuickLinks" id="toggleQuickLinks" [(ngModel)]="settings.config.bookmarks.quickLinks.enabled" (ngModelChange)="saveAll()">
          <label for="toggleQuickLinks"></label>
        </div>
        <label>Quick Links</label>
      </div>
      <div class="field span-2" *ngIf="settings.config.bookmarks.quickLinks.enabled">
        <options-range name="quickLinksSize" id="quickLinksSize" min="1" max="20" [(ngModel)]="settings.config.bookmarks.quickLinks.scaling" (ngModelChange)="saveAll()"></options-range>
        <label for="quickLinksSize">Size</label>
      </div>
      <div class="grid cols-5 span-4" *ngIf="settings.config.bookmarks.quickLinks.enabled">
        <div class="field span-1">
          <options-toggle name="mostVisitedQuickLinks" [(ngModel)]="settings.config.bookmarks.quickLinks.mostVisited" (ngModelChange)="saveAll()"></options-toggle>
          <label>Most visited</label>
        </div>
        <div class="field span-1">
          <options-toggle name="bookmarksManagerQuickLinks" [(ngModel)]="settings.config.bookmarks.quickLinks.bookmarksManager" (ngModelChange)="saveAll()"></options-toggle>
          <label>Bookmarks manager</label>
        </div>
        <div class="field span-1">
          <options-toggle name="historyQuickLinks" [(ngModel)]="settings.config.bookmarks.quickLinks.history" (ngModelChange)="saveAll()"></options-toggle>
          <label>History link</label>
        </div>
        <div class="field span-1">
          <options-toggle name="appsQuickLinks" [(ngModel)]="settings.config.bookmarks.quickLinks.apps" (ngModelChange)="saveAll()"></options-toggle>
          <label>Apps link</label>
        </div>
        <div class="field span-1">
          <options-toggle name="chromeTabQuickLinks" [(ngModel)]="settings.config.bookmarks.quickLinks.chromeTab" (ngModelChange)="saveAll()"></options-toggle>
          <label>Chrome tab</label>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div *ngIf="settings.config.bookmarks.quickLinks.enabled" @fade>
  <form #quickLinksList="ngForm" novalidate>
    <fieldset class="mb0">
      <div class="grid cols-19">
        <div class="field no-label span-7">
          <label>Label</label>
        </div>
        <div class="field no-label span-8">
          <label>URL</label>
        </div>
      </div>
      <div class="grid cols-19 mb15">
        <ng-container *ngFor="let link of settings.config.bookmarks.links; let i = index; trackBy:trackByFn; let isFirst = first; let isLast = last">
          <div class="field no-label span-7">
            <input
              type="text"
              [name]="'label'+i"
              #editLabel="ngModel"
              [(ngModel)]="link.label"
              autocomplete="off"
              (ngModelChange)="saveAll()">
          </div>
          <div class="field no-label span-8">
            <input
              type="text"
              [name]="'url'+i"
              #editUrl="ngModel"
              [(ngModel)]="link.url"
              autocomplete="off"
              (ngModelChange)="saveAll()"
              required>
            <div class="valMsg" *ngIf="quickLinksList.invalid && quickLinksList.submitted">Link must have a URL (website address).</div>
          </div>
          <div class="field btns span-4">
            <button
              type="button"
              class="btn btnCircle mr5"
              [disabled]="isFirst"
              (click)="swap(settings.config.bookmarks.links, i, (i - 1))">
              <div class="icon">arrow_drop_up</div>
            </button>
            <button
              type="button"
              class="btn btnCircle mr5"
              [disabled]="isLast"
              (click)="swap(settings.config.bookmarks.links, i, (i + 1))">
              <div class="icon">arrow_drop_down</div>
            </button>
            <button
              type="button"
              class="btn btnCircle"
              (click)="deleteLink(link, i)">
              <div class="icon">delete</div>
            </button>
          </div>
        </ng-container>
      </div>
    </fieldset>
  </form>
  <form #newLink="ngForm" novalidate (ngSubmit)="addLink(newLink, newLink.valid)">
    <fieldset class="mb0">
      <div class="grid cols-19">
        <div class="field no-label span-7">
          <input
            type="text"
            name="label"
            placeholder="Add new link"
            #newLabel="ngModel"
            [(ngModel)]="label"
            autocomplete="off"
            required>
          <div class="valMsg" *ngIf="newLabel.invalid && newLink.submitted">Link must have a label.</div>
        </div>
        <div class="field no-label span-8">
          <input
            type="text"
            name="url"
            placeholder="https://"
            #newUrl="ngModel"
            [(ngModel)]="url"
            autocomplete="off"
            required>
          <div class="valMsg" *ngIf="newUrl.invalid && newLink.submitted">Link must have a URL (website address).</div>
        </div>
        <div class="field btns span-4">
          <button type="submit" class="btn" title="Save new link"><div class="icon">save</div></button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
