<h1>
  About
  <small>Changelog, support, and more information about CaretTab.</small>
</h1>
<div class="row row--gap">
  <div class="col12 colMd6">
    <h2 class="mt0">What's new</h2>
    <h3>Version 2.3.1 - November 29th, 2017</h3>
    <ul class="changelog">
      <li>Infinite Links: Now you can create an unlimited number of links!</li>
      <li>Fixed bug that prevented links being clicked on Firefox for Linux/Mac</li>
    </ul>
  </div>
  <div class="col12 colMd6">
    <h2 class="mt0">Support</h2>
    <p>If you need support or have a suggestion or other comment you can contact the developer, <a href="http://bluecaret.com">BlueCaret</a> on Twitter <a href="http://twitter.com/bluecaret">@BlueCaret</a> or view CaretTab on <a href="https://github.com/bluecaret/carettab">GitHub</a>.</p>
    <h2>Keep CaretTab free, tip the developer</h2>
    <div class="flex flex--middle mb">
      <div class="flex__set">
        <svg version="1.1" id="tipJar" class="pr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 382 467" xml:space="preserve">
          <path class="jar" d="M189.8,10c0,0,130.9,2.1,131.2,19.4s0,46.2,0,46.2s51,10.4,51,46.2s0,279.4,0,279.4S342.9,457,189.8,457
            S10,401.1,10,401.1s0-243.8,0-279.4s51-46.2,51-46.2s0.4-29.7,0-46.2S189.8,10,189.8,10z M192.2,432.7
            c116.7-0.3,155.5-38.9,155.5-38.9s-0.1-257.5,0-269.7s-24.3-24.3-24.3-24.3s-49,16.9-133.6,17s-131.2-17-131.2-17
            s-24,10.7-24.3,26.7s0,267.2,0,267.2S75.5,433,192.2,432.7z"/>
          <path class="heart" d="M191,212.6c-30.3-70.7-116.4-54.2-117,27.9C73.7,287.9,187.7,360.2,191.1,372c3.1-12.2,117.2-84.9,116.9-132
            C307.5,157.6,219.9,144.6,191,212.6z"/>
        </svg>
      </div>
      <p class="flex__auto m0">If you find CaretTab useful, consider supporting it by leaving a tip in the tip jar. Tips will help keep this clear of ads and free! The developer highly appreciates it!</p>
    </div>
    <div class="row flex--middle">
      <div class="col10">
        <div class="row mt0 tipBtns">
          <div class="col3 flex mb0"><a href="#" class="btn">Generous<br>tip of<br><b>$1.00</b></a></div>
          <div class="col3 flex mb0"><a href="#" class="btn">Large<br>tip of<br><b>$3.00</b></a></div>
          <div class="col3 flex mb0"><a href="#" class="btn">Massive<br>tip of<br><b>$5.00</b></a></div>
          <div class="col3 flex mb0"><a href="#" class="btn">Anything<br>helps!<br><b>Other</b></a></div>
        </div>
      </div>
      <div class="col2 center">
        <small>Tips payed<br>via PayPal.<br><b>Thank you!</b></small>
      </div>
    </div>
    <hr>
    <p><a href="http://bluecaret.com/project/carettab">CaretTab</a> is designed and coded by <a href="http://jwh.design">JWH Design, LLC</a> (<a href="http://bluecaret.com">BlueCaret</a>) and is licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.</p>
    <p>Disclaimer: CaretTab will not be liable for any issues that may arrise due to the accuracy of this extension. If you're late to work because the time shown was wrong, it's all on you.</p>
  </div>
</div>