$logoSize: 32px;
$logoPadding: 22px;
$logoHeight: ($logoSize + ($logoPadding * 2));

.logoWatermark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: z('tabToggle');
  bottom: 0;
  left: 0;
  background: transparent;
  color: inherit;
  border: 0;
  padding: 24px;
  width: auto;
  height: $logoHeight;
  transition: all .3s;
  cursor: pointer;
  overflow: hidden;
  opacity: .5;
  font-size: 20px;
  text-decoration: none;
  transition: opacity .5s;
  &:focus {
    outline: none;
    box-shadow: 
      inset 0 0 0 3px black,
      inset 0 0 0 6px white;
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
    &:focus,
    &:hover {
      opacity: 1;
    }
  }
  svg {
    width: $logoSize;
    height: $logoSize;
    rect,
    path {
      fill: currentColor;
    }
  }
  span {
    margin-left: 10px;
  }
}
