nav {
  position: fixed;
  z-index: z('optionsNav');
  bottom: $navMargin;
  right: $navMargin;
  padding: 0 60px 0 5px;
  display: grid;
  place-items: center center;
  height: $navHeight;
  background: $optionsBg;
  border: $optionsBorder;
  border-radius: $navRadius;
  transform-origin: center right;
  ul {
    list-style: none;
    padding: 0 0px;
    margin: 0;
    width: 100%;
    display: flex;
    li {
      display: block;
      button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $navButtonHeight;
        height: $navButtonHeight;
        color: black;
        border: 0;
        padding: 0;
        margin: 0 5px 0 0;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        transition: all .3s;
        &:focus {
          outline: none;
          color: darken($blue, 10%);
        }
        &:hover {
          color: darken($blue, 10%);
        }
        &.active {
          background: $blue;
          color: black;
        }
      }
    }
  }
}
