$optionsToggleLine: 2px;
$optionsToggleSize: 20px;
$optionsToggleSpacing: 3px;
$optionsTogglePadding: 30px;
$optionsToggleHeight: ($optionsToggleSize + ($optionsTogglePadding * 2));
$optionsToggleUpdateNoticeSize: 24px;
$optionsToggleUpdateNoticeOffset: 16px;

.openOptions {
  position: fixed;
  z-index: z('tabToggle');
  bottom: 0;
  right: 0;
  background: transparent;
  color: inherit;
  border: 0;
  padding: 0;
  width: $optionsToggleHeight;
  height: $optionsToggleHeight;
  transition: all .3s;
  cursor: pointer;
  overflow: hidden;
  &:focus {
    outline: none;
    box-shadow: 
      inset 0 0 0 3px currentColor;
  }
  span {
    opacity: .5;
    display: block;
    position: absolute;
    height: 2px;
    width: $optionsToggleSize;
    background: currentColor;
    border-radius: 2px;
    right: $optionsTogglePadding;
    transition: opacity .5s;
    &:nth-of-type(1) {
      bottom: ($optionsToggleSpacing + $optionsTogglePadding);
    }
    &:nth-of-type(2) {
      bottom: ((($optionsToggleSize - $optionsToggleLine) / 2) + $optionsTogglePadding);
    }
    &:nth-of-type(3) {
      bottom: ($optionsToggleSize - $optionsToggleLine - $optionsToggleSpacing + $optionsTogglePadding);
    }
  }
  &:hover,
  &:focus {
    span {
      opacity: 1;
    }
  }
  &.open {
    width: calc(100vw - 800px);
    height: 100vh;
    span {
      opacity: 0;
    }
  }
  &.hide:not(.open) {
    span {
      opacity: 0;
    }
    &:focus,
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
  .quietUpdateNotice {
    position: absolute;
    bottom: $optionsToggleUpdateNoticeOffset;
    right: $optionsToggleUpdateNoticeOffset;
    svg {
      width: $optionsToggleUpdateNoticeSize;
      height: $optionsToggleUpdateNoticeSize;
    }
  }
  &.open .quietUpdateNotice {
    opacity: 0;
  }
}
