/* Tab
   ========================================================================== */

app-tab {
  position: fixed;
  z-index: z('tabUI');
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #272e33;
  color: white;
  transform-origin: 100% 100%;
  transition: $transition;
  transform: translate(0, 0) scale(1);
}

@import "/toggle";
@import "/nav";
@import "/feature/bookmarks";
@import "/feature/time";
