/* Tab
   ========================================================================== */

app-tab {
  position: fixed;
  z-index: z('tabUI');
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-origin: 100% 100%;
  transform: translate(0, 0) scale(1);
  background-size: cover;
  background-position: center;
}

.tabWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  transform-origin: 100% 100%;
  transform: translate(0, 0) scale(1);
  box-shadow: #000000 -8px 0px 20px 2px;
}

.tabBackground {
  position: absolute;
  inset: 0;
  background-position: center;
}

.tabGrid {
  position: absolute;
  inset: 0;
  &.tabGridBookmarksBar {
    top: $bookmarksBarHeight;
  }
}

.gridPosition {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

#nw {
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

#n {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

#ne {
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: flex-start;
}

#w {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: flex-start;
  align-items: center;
}

#c {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  justify-content: center;
  align-items: center;
}

#e {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  justify-content: flex-end;
  align-items: center;
}

#sw {
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  align-items: flex-end;
}

#s {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: flex-end;
}

#se {
  bottom: 80px;
  right: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

@import "logo";
@import "toggle";
@import "feature/bookmarks";
@import "feature/quicklinks";
@import "feature/time";
@import "feature/analog";
@import "feature/binary";
@import "feature/date";
@import "feature/message";
@import "feature/search";
@import "feature/weather";
