<ng-container *ngIf="settings.loadTracker >= 11">
  <app-tab
    [ngClass]="{'tab--optionsOpen' : shared.optionsToggle}"
    [style.fontSize]="settings.config.design.scalingMethod === true ? '1.35vw' : '1.6rem'"
    [style.color]="settings.config.design.foreground"
    >
  </app-tab>
  <app-options [@options] (closedOptions)="closedOptions()" *ngIf="shared.optionsToggle"></app-options>
  <app-splash
    *ngIf="(shared.status === 'installed') || (shared.status === 'updated' && shared.updateType === 'major') || (shared.status === 'updated' && shared.updateType === 'minor')"
  ></app-splash>
  <div *ngIf="shared.loading" class="app-loading">
    <div class="loading" aria-label="Loading, please wait.">
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
</ng-container>
