/* Settings
   ========================================================================== */

@import "~scss/_mixins";
@import "~scss/_variables";
@import "~scss/_utilities";

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: solid 4px transparent;
}
::-webkit-scrollbar-thumb {
  // background: $gray;
  box-shadow: inset 0 0 10px 10px $gray;
  border: solid 4px transparent;
  border-radius: 10px;
}

@import "block/btn";
@import "block/footer";
@import "block/forms";
@import "block/header";
@import "block/range";
@import "block/validation";
@import "block/help";
@import "block/nav";
@import "block/page";
@import "block/_table";
@import "block/tip";
@import "block/type";

@import "page/about";
@import "page/bookmarks";
@import "page/colors";
@import "page/dashboard";
@import "page/design";
@import "page/time";
