<form #searchOptions="ngForm" novalidate>
  <fieldset class="mb0">
    <legend>Search</legend>
    <div class="grid cols-5">
      <div class="field span-1">
        <options-toggle name="searchBox" id="searchBox" [(ngModel)]="settings.config.search.enabled" (ngModelChange)="saveAll()"></options-toggle>
        <label>Search box</label>
      </div>
      <div class="field span-2">
        <select name="searchEngine" id="searchEngine" [(ngModel)]="settings.config.search.engine" (ngModelChange)="saveAll()">
          <option *ngFor="let e of engines" [ngValue]="e.id">{{e.label}}</option>
        </select>
        <label title="Choose a search engine to use with the search box.">Search Engine</label>
      </div>
      <div class="field span-1">
        <options-toggle name="autocomplete" id="autocomplete" [(ngModel)]="settings.config.search.autocomplete" (ngModelChange)="saveAll()"></options-toggle>
        <label title="Turn off to disable the browser's autocomplete feature on the search box.">Autocomplete</label>
      </div>
      <div class="field span-2">
        <options-range name="searchSize" id="searchSize" min="1" max="20" [(ngModel)]="settings.config.search.scaling" (ngModelChange)="saveAll()"></options-range>
        <label>Size</label>
      </div>
      <div class="field span-2">
        <options-range name="searchOffset" min="-20" max="20" [(ngModel)]="settings.config.search.offset" (ngModelChange)="saveAll()"></options-range>
        <label>Offset</label>
      </div>
      <div class="field span-2">
        <options-range name="searchWidth" min="5" max="30" [(ngModel)]="settings.config.search.width" (ngModelChange)="saveAll()"></options-range>
        <label>Width</label>
      </div>
      <div class="field span-2">
        <select name="searchPlacement" [(ngModel)]="settings.config.search.placement" (ngModelChange)="saveAll()">
          <option value=0>Before clocks</option>
          <option *ngFor="let clock of settings.config.time.clocks; let i = index" [ngValue]="i+1">After clock #{{i + 1}}</option>
        </select>
        <label>Placement</label>
      </div>
    </div>
  </fieldset>
</form>
