<div class='loadsheddingContainer'>
   <div class="loadsheddingSuburb">
    <div class="loadsheddingHeader">
      <h2>{{cachedAreaInfo?.data?.info?.name}} </h2>
      <div class="loadsheddingDim dim">{{cachedAreaInfo?.data?.info?.region}}</div>
    </div>
    <div class="loadsheddingSchedules">
      <ng-container *ngFor="let day of cachedAreaInfo.data?.schedule?.days">
        <div class="loadsheddingDaySchedule" *ngIf="showData(day,cachedAreaInfo.data) && showData(day,cachedAreaInfo.data).length >0">
          <div class="loadsheddingDayName">{{day.date |date:'E dd MMM'}}</div>
          <ng-container *ngFor="let timeSlot of showData(day,cachedAreaInfo.data)">
            <div>{{timeSlot.timeSlot}}<span class="loadsheddingDim dim">{{timeSlot.stage}}</span> </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="loadsheddingDim dim" title="Last refreshed: {{cachedAreaInfo.cachedAt | date: 'dd MMM HH:mm a'}}">Last refreshed: {{cachedAreaInfo.cachedAt | date: 'dd MMM HH:mm a'}}</div>
  </div>
</div>
