<div class='loadsheddingContainer'>
   <div class="suburb">
    <div class="header">
      <h2>{{cachedAreaInfo?.data.info.name}} </h2>
      <label class="dim">{{cachedAreaInfo?.data.info.region}}</label>
    </div>
    <div class="schedules">
      <ng-container *ngFor="let day of cachedAreaInfo.data?.schedule?.days">
        <div class="daySchedule" *ngIf="showData(day).length >0">
          <span class="dayName">{{day.date |date:'E dd MMM'}}</span>
          <ng-container *ngFor="let timeSlot of showData(day)">
            <span>{{timeSlot}} </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="dim">Last refreshed: {{cachedAreaInfo.cachedAt | date: 'dd MMM HH:mm a'}}</div>
  </div> 
</div>