<h2 class="panelTitle">
  <button
    (click)="goTo.emit('Dashboard')"
    class="panelBack matIcon"
    attr.aria-label="{{'options.dashboard.backToDashboard' | translate}}"
    title="{{'options.dashboard.backToDashboard' | translate}}"
  >arrow_back</button>
  {{'options.notepad.notepad' | translate}}
</h2>
<form #notepad="ngForm" novalidate>
  <div class="panelGroup">
    <div class="panelField panelFieldInline {{shared.paid ? '' : 'panelFieldDisabled'}}">
      <div class="panelFieldContent">
        <div class="panelPremiumLabel">
          <premium-label></premium-label>
          <label id="notepadEnableLabel" class="panelLabel">{{'options.notepad.enableNotepad' | translate}}</label>
        </div>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          name="notepad"
          [disabled]="!shared.paid"
          labelledby="notepadEnableLabel"
          [(ngModel)]="settings.config.notepad.enabled"
          (ngModelChange)="shared.toggleOrder(settings.config.notepad.id, $event, settings.config.notepad.position)"
        ></options-toggle>
      </div>
    </div>
    <ng-container *ngIf="settings.config.notepad.enabled && shared.paid">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadSyncLabel" class="panelLabel">{{'options.notepad.syncNotes' | translate}}</label>
          <div class="panelDescription">{{'options.notepad.syncNotesDesc' | translate}}</div>
          <div class="panelDescription">{{'options.notepad.notesLimitedTo' | translate | translateCut:0}}{{sync ? '2,000' : '250,000'}}{{'options.notepad.notesLimitedTo' | translate | translateCut:1}}</div>
        </div>
        <div class="panelFieldInput">
          <options-toggle
            name="notepadSync"
            labelledby="notepadSyncLabel"
            [(ngModel)]="sync"
            (ngModelChange)="changeStorageLocation()"
          ></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadSpellCheckLabel" class="panelLabel">{{'options.notepad.enableSpellcheck' | translate}}</label>
          <div class="panelDescription">{{'options.notepad.enableSpellcheckDesc' | translate}}</div>
        </div>
        <div class="panelFieldInput">
          <options-toggle
            name="notepadSpellCheck"
            labelledby="notepadSpellCheckLabel"
            [(ngModel)]="settings.config.notepad.spellCheck"
          ></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadShowCharLimitLabel" class="panelLabel">{{'options.notepad.showCount' | translate}}</label>
          <div class="panelDescription">{{'options.notepad.showCountDesc' | translate}}</div>
        </div>
        <div class="panelFieldInput">
          <options-toggle
            name="notepadShowCharLimit"
            labelledby="notepadShowCharLimitLabel"
            [(ngModel)]="settings.config.notepad.showCharLimit"
          ></options-toggle>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="settings.config.notepad.enabled && shared.paid">
    <h3 class="panelSubtitle">{{'options.common.style' | translate}}</h3>
    <div class="panelGroup">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadWidthLabel" class="panelLabel">{{'options.common.width' | translate}}</label>
          <p class="panelDescription">{{'options.common.widthDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="notepadWidthLabel" class="panelInputLg" name="notepadWidth" id="notepadWidth" min="1" max="100" [(ngModel)]="settings.config.notepad.width"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadHeightLabel" class="panelLabel">{{'options.common.height' | translate}}</label>
          <p class="panelDescription">{{'options.common.heightDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="notepadHeightLabel" class="panelInputLg" name="notepadHeight" id="notepadHeight" min="1" max="100" [(ngModel)]="settings.config.notepad.height"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadPaddingLabel" class="panelLabel">{{'options.common.padding' | translate}}</label>
          <p class="panelDescription">{{'options.notepad.paddingDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="notepadPaddingLabel" class="panelInputLg" name="notepadPadding" min="0" max="50" [(ngModel)]="settings.config.notepad.padding"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadSizeLabel" class="panelLabel">{{'options.common.textSize' | translate}}</label>
          <p class="panelDescription">{{'options.common.sizeDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" labelledby="notepadSizeLabel" name="notepadSize" min="1" max="50" [(ngModel)]="settings.config.notepad.scaling"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadShowBgLabel" class="panelLabel">{{'options.notepad.showBackground' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle
            name="notepadShowBg"
            labelledby="notepadShowBgLabel"
            [(ngModel)]="settings.config.notepad.showBg"
          ></options-toggle>
        </div>
      </div>
      <div *ngIf="settings.config.notepad.showBg" class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadBgOpacityLabel" class="panelLabel">{{'options.notepad.backgroundOpacity' | translate}}</label>
          <p class="panelDescription">{{'options.notepad.backgroundOpacityDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="notepadBgOpacityLabel" class="panelInputLg" name="notepadBgOpacity" id="notepadBgOpacity" min="1" max="100" [(ngModel)]="settings.config.notepad.bgOpacity"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadShowBorderLabel" class="panelLabel">{{'options.notepad.showBorder' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle
            name="notepadShowBorder"
            labelledby="notepadShowBorderLabel"
            [(ngModel)]="settings.config.notepad.showBorder"
          ></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadBorderRadiusLabel" class="panelLabel">{{'options.notepad.roundedCorners' | translate}}</label>
          <p class="panelDescription">{{'options.notepad.roundedCornersDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="notepadBorderRadiusLabel" class="panelInputLg" name="notepadBorderRadius" id="notepadBorderRadius" min="0" max="20" [(ngModel)]="settings.config.notepad.borderRadius"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadOverrideColorsLabel" class="panelLabel">{{'options.common.overrideGlobalColors' | translate}}</label>
          <p class="panelDescription">{{'options.common.overrideGlobalColorsDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-toggle
            name="notepadOverrideColors"
            labelledby="notepadOverrideColorsLabel"
            [(ngModel)]="settings.config.notepad.overrideColors"
          ></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.notepad.overrideColors">
        <div class="panelFieldContent">
          <label id="setTextColorLabel" class="panelLabel">{{'options.common.textColor' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setTextColorLabel" name="text-color"
            [(ngModel)]="settings.config.notepad.foreground"
            [style.backgroundColor]="settings.config.notepad.foreground"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setTextColorLabel" name="text-code" [(ngModel)]="settings.config.notepad.foreground"
            autocomplete="off">
        </div>
      </div>
      <div *ngIf="settings.config.notepad.showBg && settings.config.notepad.overrideColors" class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setBackgroundLabel" class="panelLabel">{{'options.common.backgroundColor' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setBackgroundLabel" name="bg-color"
            [(ngModel)]="settings.config.notepad.background"
            [style.backgroundColor]="settings.config.notepad.background"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setBackgroundLabel" name="bg-code" [(ngModel)]="settings.config.notepad.background"
            autocomplete="off">
        </div>
      </div>
      <div *ngIf="settings.config.notepad.showBorder && settings.config.notepad.overrideColors" class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setBorderLabel" class="panelLabel">{{'options.common.borderColor' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <input class="panelInput panelInputColor" type="color" aria-labelledby="setBorderLabel" name="border-color"
            [(ngModel)]="settings.config.notepad.borderColor"
            [style.backgroundColor]="settings.config.notepad.borderColor"
          >
          <input class="panelInput panelInputMd" type="text" aria-labelledby="setBorderLabel" name="border-code" [(ngModel)]="settings.config.notepad.borderColor"
            autocomplete="off">
        </div>
      </div>
    </div>
    <h3 class="panelSubtitle">{{'options.common.layout' | translate}}</h3>
    <div class="panelGroup">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadOrderLabel" class="panelLabel">{{'options.common.order' | translate}}</label>
          <p class="panelDescription">{{'options.common.orderDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <div class="panelBtnGroup panelInputMd">
            <button
              type="button"
              aria-labelledby="notepadOrderLabel"
              attr.aria-label="{{'options.common.moveUp' | translate}}"
              title="{{'options.common.moveUp' | translate}}"
              class="panelBtn"
              [disabled]="shared.isFirst(settings.config.notepad.id, settings.config.notepad.position)"
              (click)="shared.changeOrder(settings.config.notepad.id, true, settings.config.notepad.position);">
              <div class="matIcon" aria-hidden="true">expand_less</div>
            </button>
            <button
              type="button"
              aria-labelledby="notepadOrderLabel"
              attr.aria-label="{{'options.common.moveDown' | translate}}"
              title="{{'options.common.moveDown' | translate}}"
              class="panelBtn"
              [disabled]="shared.isLast(settings.config.notepad.id, settings.config.notepad.position)"
              (click)="shared.changeOrder(settings.config.notepad.id, false, settings.config.notepad.position);">
              <div class="matIcon" aria-hidden="true">expand_more</div>
            </button>
          </div>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label for="notepadPosition" class="panelLabel">{{'options.common.position' | translate}}</label>
          <p class="panelDescription">{{'options.common.positionDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-position id="notepadPosition" name="notepadPosition" [settingId]="settings.config.notepad.id" [(ngModel)]="settings.config.notepad.position"></options-position>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadMarginHeightLabel" class="panelLabel">{{'options.common.marginHeight' | translate}}</label>
          <p class="panelDescription">{{'options.common.marginHeightDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" labelledby="notepadMarginHeightLabel" name="notepadMarginHeight" min="0" max="50" [(ngModel)]="settings.config.notepad.marginHeight"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadMarginWidthLabel" class="panelLabel">{{'options.common.marginWidth' | translate}}</label>
          <p class="panelDescription">{{'options.common.marginWidthDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" labelledby="notepadMarginWidthLabel" name="notepadMarginWidth" min="0" max="50" [(ngModel)]="settings.config.notepad.marginWidth"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="notepadOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
          <p class="panelDescription">{{'options.common.offsetDesc' | translate}}</p>
        </div>
        <div class="panelFieldInput">
          <options-range class="panelInputLg" labelledby="notepadOffsetLabel" name="notepadOffset" min="-50" max="50" [(ngModel)]="settings.config.notepad.offset"></options-range>
        </div>
      </div>
    </div>
  </ng-container>
</form>

<button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Dashboard')"><i class="matIcon" aria-hidden="true">arrow_back</i>{{'options.dashboard.backToDashboard' | translate}}</button>
