<div class="covidContainer">
  <div class="flag" *ngIf="settings.config.covidData.countries[index].enableFlag"
  >
    <img  [ngStyle]="{ 'height' :shared.getImageSize(settings.config.covidData.countries[index].flagSize)}"  [src]="countryData.countryInfo.flag" alt="flag" />
  </div>
  <div class="info">
    <div><strong>Country :</strong> {{ countryData.country }}</div>
    <div><strong>Today :</strong> {{ countryData.todayCases }}</div>
    <div><strong>Deaths :</strong> {{ countryData.deaths }}</div>
    <div><strong>Active :</strong> {{ countryData.active }}</div>
  </div>
</div>
 