app-intro {
  display: grid;
  place-content: center;
  background: $blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z('intro');
  text-align: center;

  h1 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 3rem;
    strong {
      display: block;
      font-weight: 700;
    }
  }

  svg {
    max-width: 10rem;
    width: 70%;
    height: auto;
    margin-bottom: 3rem;
    path,
    rect {
      fill: white;
    }
  }

  .btn--intro {
    border: .2rem solid $lightBlue;
    background: transparent;
    font-size: 2rem;
    padding: .5rem 2rem;
    color: white;
    &:focus,
    &:hover {
      background: $lightBlue;
      color: black;
    }
  }
  .btn--start {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
  .btn--skip,
  .btn--back {
    font-size: 1.2rem;
    padding: 0 1.2rem;
  }
  .btn--next {
    order: 2;
  }
  .intro-nav_misc {
    order: 1;
  }
}

.intro-steps {
  display: grid;
  place-items: center;
    transform: scale(1);
    opacity: 1;
    animation: intro-steps-fade .7s ease-in-out;
  h2 {
    font-size: 2.6rem;
    margin: 0 0 4rem 0;
  }
}

@keyframes intro-steps-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transition: .7s ease-in-out all;
  }
  100% {
    opacity: 1;
  }
}

.intro-options {
  max-width: 40rem;
  width: 95vw;
  padding: 3rem;
  margin: 0 0 2rem 0;
  background-color: $lightGray;
  border-radius: .5rem;
  text-align: left;
  max-height: 80vh;
  overflow-y: auto;
  .btn--intro {
    color: black;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
  }
}

.intro-nav {
  max-width: 40rem;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro-settings-toggle {
  .openOptions {
    // box-shadow: 0 0 0rem 8rem #3FA9F5, 0 0 0rem 10rem black;
    box-shadow: 0 0 0 0 #3FA9F5, 0 0 0 0 $lightBlue;
    border-radius: 50%;
    animation: intro-settings-toggle 1s 2s ease-in-out forwards;
    // transition: .7s ease-in-out box-shadow;
  }
}



@keyframes intro-settings-toggle {
  0% {
    display: none;
    opacity: 0;
    box-shadow: 0 0 0 0 #3FA9F5, 0 0 0 0 $lightBlue;
  }
  1% {
    display: block;
    opacity: 0;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 0rem 25rem #3FA9F5, 0 0 0rem 35rem $lightBlue;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 0rem 7rem #3FA9F5, 0 0 0rem 7.5rem $lightBlue;
  }
}
