app-options {
  aside {
    flex: 0 0 auto;
    background: rgba($asideBg, .9);
    width: $asideWidthSm;
    overflow: hidden;
    @media screen and (min-width: $md) {
      width: $asideWidth;
    }
    header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      padding: 50px 20px 10px;
      font-size: 26px;
      color: $blue;
      svg {
        width: auto;
        height: 3.5rem;
        margin-right: 1.5rem;
        .st0 {
          fill: $blue;
        }
        .st1 {
          fill: $blue;
        }
      }
    }
    .asideContent {
      padding: 50px 20px 20px;
      font-size: 12px;
      color: lighten($asideBg, 55%);
    }
    h3 {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: .03em;
      margin: 30px 0 5px;
      color: lighten($asideBg, 40%);
    }
  }
}