.btn {
  display: inline-block;
  min-width: 30px;
  padding: 0 10px;
  font-size: 13px;
  line-height: $fieldLineHeight;
  background: transparent;
  border: 1px solid $btn;
  border-radius: $radius;
  color: $text;
  cursor: pointer;
  transition: $transition;
  text-decoration: none;
  &:focus {
    outline: none;
    border-color: $lightBlue;
    box-shadow: $shadow;
  }
  &:disabled {
    color: $disabledColor;
    border-color: $disabledColor;
    box-shadow: none;
    cursor: not-allowed;
  }
  i {
    margin-right: 5px;
  }
}

.btn--transparent {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $blue;
  &:hover:not(:disabled):not(.disabled) {
    background: transparent;
    color: $text;
    box-shadow: none;
  }
  &:disabled {
    background: transparent;
  }
}
