.options header {
  display: grid;
  grid-template-columns: ($headerHeight + 10px) 30px 1fr;
  grid-template-rows: $headerHeight;
  place-items: center left;
  background: #fff;
  border-bottom: 3px double #eee;
  border-radius: 30px 30px 0 0;
  h1 {
    margin: 0;
  }
  $backSize: 24px;
  $backBlockSize: 5px;
  $backPadding: 14px;
  .back {
    display: flex;
    place-content: center center;
    position: relative;
    background: transparent;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;
    width: $headerHeight;
    height: $headerHeight;
    cursor: pointer;
    div {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      grid-gap: (($backSize / 3) - $backBlockSize);
      height: $backSize;
      width: $backSize;
      transition: transform .25s;
      transform-origin: 50% 50%;
    }
    span {
      display: block;
      height: 100%;
      width: 100%;
      background: black;
    }
    &:hover {
      div {
        transform: rotate(-90deg);
      }
    }
  }
}
