/* Settings - Nav
   ========================================================================== */

app-options {
  nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30rem;
    background: $navBg;
    width: $navWidthSm;
    @media screen and (min-width: $md) {
      width: $navWidth;
    }
    header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      padding: 2rem;
      font-size: 2.6rem;
      color: $blue;
      svg {
        width: auto;
        height: 3.5rem;
        margin-right: 1.5rem;
        .st0 {
          fill: $blue;
        }
        .st1 {
          fill: $blue;
        }
      }
    }
    ul {
      flex: 1 1 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        button.pageLink {
          display: flex;
          align-items: center;
          width: 100%;
          height: 3.5rem;
          padding: 0 2.2rem;
          background: transparent;
          border: 0;
          font-size: 1.4rem;
          font-weight: 400;
          text-align: left;
          text-decoration: none;
          color: lighten($theme1, 35%);
          cursor: pointer;
          i {
            margin-right: 1.5rem;
            font-size: 1.6rem;
            font-style: normal;
            line-height: 1;
          }
          svg {
            width: 1.6rem;
            height: 1.6rem;
            vertical-align: middle;
            .st0,
            .st1 {
              fill: lighten($theme1, 35%);
            }
          }
          &:focus {
            outline: none;
          }
          &:hover {
            color: white;
            svg {
              .st0,
              .st1 {
                fill: white;
              }
            }
          }
          &.active {
            position: relative;
            color: $blue;
            svg {
              .st0,
              .st1 {
                fill: $blue;
              }
            }
            &:hover {
              color: lighten($blue, 20%);
              svg {
                .st0,
                .st1 {
                  fill: lighten($blue, 20%);
                }
              }
            }
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: calc(50% - 10px);
              width: 0; 
              height: 0; 
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent; 
              border-right: 7px solid $pageBg; 
            }
          }
        }
      }
    }
  }
}

