/* Settings - Nav
   ========================================================================== */

nav {
  flex: 0 0 auto;
  background: rgba($asideBg, .85);
  ul {
    list-style: none;
    padding: 0 0px;
    margin: 0;
    display: flex;
    li {
      display: block;
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50px;
        height: 40px;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        background: transparent;
        color: white;
        border: 0;
        transition: background-color .3s;
        &:focus {
          outline: 0;
        }
        &:hover {
          background: rgba($asideBg, .5);
          cursor: pointer;
        }
        &.active {
          background: $asideBg;
          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
}