/* Settings - Page
   ========================================================================== */

.pageWrapper {
  display: block;
  width: 100%;
  max-width: 1500px;
}

.page {
  display: block;
  margin: 0 $asideWidth 0 $navWidthSm;
  padding: 20px 20px 20px;
  @media screen and (min-width: $md) {
    margin: 0 $asideWidth 0 $navWidth;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    font-weight: 400;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0 0 30px;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    small {
      display: block;
      font-size: 14px;
    }
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  small {
    display: block;
    font-size: 12px;
  }
  h1, h2, h3, h4, h5, h6 {
    &.fieldHeight {
      display: inline-block;
      height: $fieldHeight;
    }
  }
}