/* Settings - Page
   ========================================================================== */

.page {
  flex: 1 1 auto;
  display: block;
  padding: 20px;
  overflow-y: scroll;
  background: rgba($pageBg, .85);
  width: 100%;
}
