[data-tip],
.tip {
  position: relative;
}

[data-tip]:after,
.tip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

[data-tip]:hover:after,
[data-tip]:focus:after,
.tip:hover:after,
.tip:focus:after {
  visibility: visible;
  opacity: 1;
}

.tip:after,
[data-tip]:after {
  z-index: 1000;
  padding: 5px;
  width: 160px;
  background-color: #000;
  color: #fff;
  content: attr(data-tip);
  font-size: 12px;
  font-family: $settingsFont;
  font-weight: 400;
  line-height: 1.5;
}

[data-tip]:after,
.tip:after,
.tip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tip]:after,
.tip:after,
.tip-top:after {
  margin-left: -80px;
}

[data-tip]:hover:after,
[data-tip]:focus:after,
.tip:hover:after,
.tip:focus:after,
.tip-top:hover:after,
.tip-top:focus:after {
  transform: translateY(-7px);
}

.tip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tip-left:hover:after,
.tip-left:focus:after {
  transform: translateX(-7px);
}

.tip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tip-bottom:hover:after,
.tip-bottom:focus:after {
  transform: translateY(7px);
}

.tip-right:after {
  bottom: 50%;
  left: 100%;
}

.tip-right:hover:after,
.tip-right:focus:after {
  transform: translateX(7px);
}

.tip-left:after,
.tip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}