// CHECKBOX
.toggle {
	position: relative;
}
.toggle input[type="radio"],
.toggle input[type="checkbox"] {
	position: absolute;
  opacity: 0;
	height: 0;
	width: 0;
}
.toggle input[type="radio"] + label,
.toggle input[type="checkbox"] + label {
  display: flex;
	justify-content: center;
	align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: $radius;
	height: $fieldHeight;
  transition: all .12s;
  background: rgba($blue,.3);
  border: 1px solid $blue;
  box-shadow: none;
	min-width: $fieldMinWidth;
	padding: 0 5px;
}
.toggle input[type="radio"]:focus + label,
.toggle input[type="checkbox"]:focus + label {
	border-color: $lightBlue;
	box-shadow: 0 0px 0px 1px $lightBlue;
}

.toggle input[type="radio"]:checked + label,
.toggle input[type="checkbox"]:checked + label {
  background: $blue;
}
