h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
  font-weight: 400;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
small {
  display: block;
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  &.fieldHeight {
    display: inline-block;
    height: $fieldHeight;
  }
}
