<h2>{{ 'options.covidData.caption' | translate }}</h2>
<div class="input">
  <label>{{'options.covidData.enable' | translate}}</label>
  <options-toggle name="toggleCovidData" [(ngModel)]="settings.config.covidData.enabled" (ngModelChange)="ga.field('covidData.enabled', settings.config.covidData.enabled);"></options-toggle>
</div>
<ng-container *ngIf="settings.config.covidData.enabled">
  <h3>Country data</h3>
  <form #countryListForm="ngForm" novalidate *ngIf="settings.config.covidData.countries.length > 0">
    <div class="grid cols-19 mb15">
      <div class="span-13">
        <label>{{ 'options.covidData.country' | translate }}</label>
      </div>
      <div class="span-6">
        <label>{{ 'options.covidData.actions' | translate }}</label>
      </div>
    </div>
    <div class="grid cols-19">
      <ng-container
        *ngFor="
          let country of settings.config.covidData.countries;
          let i = index;
          trackBy: trackByFn;
          let isFirst = first;
          let isLast = last
        "
      >
        <div class="span-13">
          <select
            [name]="'country' + i"
            [id]="'country' + i"
            [(ngModel)]="country.code"
            (ngModelChange)="updateCountryName(i); ga.field('covidData.country', country.code)"
          >
            <option *ngFor="let countryOption of countryList" [ngValue]="countryOption.code">
              {{ countryOption.label }}
            </option>
          </select>
        </div>
        <div class="span-6 compactBtnList">
          <button
            type="button"
            class="btn btnIcon"
            title="{{
              (selected === i
                ? 'options.covidData.hideOptions'
                : 'options.covidData.showOptions'
              ) | translate
            }}"
            [ngClass]="{ active: selected === i }"
            (click)="setSelected(i); ga.field('button.covidSelect', 'true')"
          >
            <div class="icon" aria-hidden="true" *ngIf="selected !== i">
              more_horiz
            </div>
            <div class="icon" aria-hidden="true" *ngIf="selected === i">
              close
            </div>
          </button>
          <button
            type="button"
            title="Copy country"
            class="btn btnIcon btnIconSmall"
            (click)="copy(i); ga.field('button.covidCountryCopy', 'true')">
            <div class="icon" aria-hidden="true">content_copy</div>
          </button>
          <button
            type="button"
            title="{{ 'options.covidData.deleteCountry' | translate }}"
            class="btn btnIcon"
            (click)="removeCountry(i); ga.field('button.covidDelete', 'true')"
          >
            <div class="icon" aria-hidden="true">delete</div>
          </button>
        </div>

        <!-- Selected country data -->

        <div *ngIf="selected === i" class="span-19 mb">
          <h4>General</h4>
          <div class="indent">
            <div class="input">
              <label [for]="'covidEnableFlag' + i">
                Country flag
              </label>
              <options-toggle
                [name]="'covidEnableFlag' + i"
                [id]="'covidEnableFlag' + i"
                [(ngModel)]="country.enableFlag"
                (ngModelChange)="ga.field('covid.country.enableFlag', country.enableFlag)"
              ></options-toggle>
            </div>
            <div class="input">
              <label [for]="'covidEnableName' + i">
                Country name
              </label>
              <options-toggle
                [name]="'covidEnableName' + i"
                [id]="'covidEnableName' + i"
                [(ngModel)]="country.enableCountryName"
                (ngModelChange)="ga.field('covid.country.enableCountryName', country.enableCountryName)"
              ></options-toggle>
            </div>
            <div class="input">
              <label [for]="'covidEnablePer1M' + i">
                Per one million
              </label>
              <options-toggle
                [name]="'covidEnablePer1M' + i"
                [id]="'covidEnablePer1M' + i"
                [(ngModel)]="country.enablePer1M"
                (ngModelChange)="ga.field('covid.country.enablePer1M', country.enablePer1M)"
              ></options-toggle>
            </div>
            <div class="input">
              <label [for]="'covidEnableToday' + i">
                Today's cases
              </label>
              <options-toggle
                [name]="'covidEnableToday' + i"
                [id]="'covidEnableToday' + i"
                [(ngModel)]="country.enableToday"
                (ngModelChange)="ga.field('covid.country.enableToday', country.enableToday)"
              ></options-toggle>
            </div>
            <div class="input">
              <label [for]="'covidEnableActive' + i">
                Total active cases
              </label>
              <options-toggle
                [name]="'covidEnableActive' + i"
                [id]="'covidEnableActive' + i"
                [(ngModel)]="country.enableActive"
                (ngModelChange)="ga.field('covid.country.enableActive', country.enableActive)"
              ></options-toggle>
            </div>
            <div class="input">
              <label [for]="'covidEnableRecovered' + i">
                Total cases recovered
              </label>
              <options-toggle
                [name]="'covidEnableRecovered' + i"
                [id]="'covidEnableRecovered' + i"
                [(ngModel)]="country.enableRecovered"
                (ngModelChange)="ga.field('covid.country.enableRecovered', country.enableRecovered)"
              ></options-toggle>
            </div>
            <div class="input">
              <label [for]="'covidEnableDeaths' + i">
                Total deaths
              </label>
              <options-toggle
                [name]="'covidEnableDeaths' + i"
                [id]="'covidEnableDeaths' + i"
                [(ngModel)]="country.enableDeaths"
                (ngModelChange)="ga.field('covid.country.enableDeaths', country.enableDeaths)"
              ></options-toggle>
            </div>
          </div>
          <h4>Layout</h4>
          <div class="indent">
            <div class="input">
              <label [for]="'covidDataScaling' + i"
                >Size<tooltip
                  text="{{ 'options.covidData.textScalingDesc' | translate }}"
                ></tooltip
              ></label>
              <options-range
                [name]="'covidDataScaling' + i"
                [id]="'covidDataScaling' + i"
                min="1"
                max="40"
                [(ngModel)]="country.textScaling"
                (ngModelChange)="
                  ga.field(
                    'covidData.textScaling',
                    settings.config.covidData.textScaling
                  )
                "
              ></options-range>
            </div>
            <div class="input">
              <label [for]="'countryOrder'+i">{{'options.common.order' | translate}}</label>
              <div [id]="'countryOrder'+i" class="orderBtns">
                <button
                  type="button"
                  attr.aria-label="{{'options.common.moveUp' | translate}}"
                  title="{{'options.common.moveUp' | translate}}"
                  class="btn"
                  [disabled]="shared.isFirst(country.id, country.position)"
                  (click)="shared.changeOrder(country.id, true, country.position); ga.field('button.covidMoveUp', 'true')">
                  <div class="icon" aria-hidden="true">expand_less</div>
                </button>
                <button
                  type="button"
                  attr.aria-label="{{'options.common.moveDown' | translate}}"
                  title="{{'options.common.moveDown' | translate}}"
                  class="btn"
                  [disabled]="shared.isLast(country.id, country.position)"
                  (click)="shared.changeOrder(country.id, false, country.position); ga.field('button.covidMoveDown', 'true')">
                  <div class="icon" aria-hidden="true">expand_more</div>
                </button>
              </div>
            </div>
            <div class="input">
              <label for="covidPlacement">Position</label>
              <options-position
                id="covidPlacement"
                name="covidPlacement"
                [settingId]="country.id"
                [(ngModel)]="country.position"
                (ngModelChange)="
                  shared.changeOrder(country.id, true, country.position);
                  ga.field('country.position', country.position)
                "
              ></options-position>
            </div>
            <div class="input">
              <label for="countryWidth">Width</label>
              <options-range
                name="countryWidth"
                min="0"
                max="100"
                [(ngModel)]="country.width"
                (ngModelChange)="ga.field('country.width', country.width)"
              ></options-range>
            </div>
            <div class="input">
              <label [for]="'covidDataPadding' + i"
                >{{ 'options.covidData.padding' | translate
                }}<tooltip
                  text="{{ 'options.covidData.paddingDesc' | translate }}"
                ></tooltip
              ></label>
              <options-range
                [name]="'covidDataPadding' + i"
                [id]="'covidDataPadding' + i"
                min="0"
                max="20"
                [(ngModel)]="country.padding"
                (ngModelChange)="
                  ga.field('covidData.countries.padding', country.padding)
                "
              ></options-range>
            </div>
            <div class="input">
              <label for="countryMarginHeight">Margin Height</label>
              <options-range
                name="countryMarginHeight"
                min="0"
                max="100"
                [(ngModel)]="country.marginHeight"
                (ngModelChange)="
                  ga.field('country.marginHeight', country.marginHeight)
                "
              ></options-range>
            </div>
            <div class="input">
              <label for="countryMarginWidth">Margin Width</label>
              <options-range
                name="countryMarginWidth"
                min="0"
                max="100"
                [(ngModel)]="country.marginWidth"
                (ngModelChange)="ga.field('country.marginWidth', country.marginWidth)"
              ></options-range>
            </div>
            <div class="input">
              <label [for]="'covidDataOffset' + i"
                >{{ 'options.common.offset' | translate
                }}<tooltip
                  text="{{ 'options.common.offsetDesc' | translate }}"
                ></tooltip
              ></label>
              <options-range
                [name]="'covidDataOffset' + i"
                [id]="'covidDataOffset' + i"
                min="-20"
                max="20"
                [(ngModel)]="country.offset"
                (ngModelChange)="
                  ga.field('covidData.countries.offset', country.offset)
                "
              ></options-range>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
  <form #covid="ngForm" novalidate (ngSubmit)="addCountry(covid, covid.valid); ga.field('button.covidDataNewAdd', 'true');">
    <ng-container *ngIf="settings.config.covidData.enabled">
      <div class="grid cols-1">
        <div class="span-1">
          <div class="input">
            <select
              [id]="'newCountry'"
              [name]="'newCountry'"
              #newCountryCode="ngModel"
              [(ngModel)]="newCountry"
              required
            >
              <option [value]="null" disabled selected>Select a country</option>
              <option
                *ngFor="let newCountryOption of countryList"
                [ngValue]="newCountryOption.code"
              >
                {{ newCountryOption.label }}
              </option>
            </select>
            <button type="submit" class="btn">
              <div class="icon" aria-hidden="true">add</div>
              {{ 'options.covidData.addCountry' | translate }}
            </button>
          </div>
          <div class="valMsg" *ngIf="newCountryCode.invalid && covid.submitted">
            {{ 'options.common.emptyValueError' | translate }}
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</ng-container>
<p class="mt15 mb15">{{'options.covidData.disclaimer' | translate | translateCut:0}}<a href="https://corona.lmao.ninja/">{{'options.covidData.disclaimer' | translate | translateCut:1}}</a>{{'options.covidData.disclaimer' | translate | translateCut:2}}<a href="https://github.com/disease-sh/api/blob/master/README.md#sources">{{'options.covidData.disclaimer' | translate | translateCut:3}}</a>{{'options.covidData.disclaimer' | translate | translateCut:4}}</p>
