<div *ngIf="shared.optionsPage === 'Covid'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="this.shared.optionsPage = 'Dashboard'"
      class="panelBack matIcon"
      aria-label="Back to dashboard"
      title="Back to dashboard"
    >arrow_back</button>
    {{ 'options.covidData.covidData' | translate }}
  </h2>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="toggleCovidDataLabel" class="panelLabel">{{'options.covidData.enable' | translate}}</label>
        <p class="panelDescription">{{'options.common.requiresInternet' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="toggleCovidDataLabel" name="toggleCovidData" [(ngModel)]="settings.config.covidData.enabled"></options-toggle>
      </div>
    </div>
  </div>
  <ng-container *ngIf="settings.config.covidData.enabled">
    <h3 class="panelSubtitle">{{'options.covidData.countryData' | translate}}</h3>
    <form class="panelGroup" #countryListForm="ngForm" novalidate *ngIf="settings.config.covidData.countries.length > 0">
      <ng-container *ngFor="let country of settings.config.covidData.countries; let i = index; trackBy: trackByFn; let isFirst = first; let isLast = last">
        <div class="panelField">
          <div class="panelFieldContent">
            <label [for]="'country' + i" class="panelLabel">{{ 'options.covidData.country' | translate }}</label>
          </div>
          <div class="panelFieldInput">
            <select
              class="panelSelect"
              [name]="'country' + i"
              [id]="'country' + i"
              [(ngModel)]="country.code"
              (ngModelChange)="updateCountryName(i)"
            >
              <option *ngFor="let countryOption of countryList" [ngValue]="countryOption.code">
                {{ countryOption.label }}
              </option>
            </select>
            <button
              type="button"
              class="panelBtn"
              title="{{ 'options.covidData.showOptions' | translate }}"
              (click)="setSelected(i)"
            >
              <div class="matIcon" aria-hidden="true">edit</div>
            </button>
            <button
              type="button"
              title="{{'options.covidData.copyCountry' | translate}}"
              attr.aria-label="{{'options.covidData.copyCountry' | translate}}"
              class="panelBtn"
              (click)="copy(i)">
              <div class="matIcon" aria-hidden="true">content_copy</div>
            </button>
            <button
              type="button"
              title="{{ 'options.covidData.deleteCountry' | translate }}"
              attr.aria-label="{{ 'options.covidData.deleteCountry' | translate }}"
              class="panelBtn"
              (click)="removeCountry(i)"
            >
              <div class="matIcon" aria-hidden="true">delete</div>
            </button>
          </div>
        </div>
      </ng-container>
    </form>
    <form #covid="ngForm" novalidate (ngSubmit)="addCountry(covid, covid.valid)" *ngIf="settings.config.covidData.enabled">
      <div class="panelGroup">
        <div class="panelField">
          <div class="panelFieldContent">
            <label for="newCountry" class="panelLabel">{{'options.covidData.selectCountry' | translate}}</label>
            <p class="panelValidation" *ngIf="newCountryCode.invalid && covid.submitted">{{ 'options.common.emptyValueError' | translate }}</p>
          </div>
          <div class="panelFieldInput">
            <select
              class="panelSelect"
              [id]="'newCountry'"
              [name]="'newCountry'"
              #newCountryCode="ngModel"
              [(ngModel)]="newCountry"
              required
            >
              <option [value]="null" disabled selected>{{'options.covidData.selectCountry' | translate}}</option>
              <option
                *ngFor="let newCountryOption of countryList"
                [ngValue]="newCountryOption.code"
              >
                {{ newCountryOption.label }}
              </option>
            </select>
            <button type="submit" class="panelBtn panelBtnNoWrap">
              <div class="matIcon" aria-hidden="true">add</div>
              {{ 'options.covidData.addCountry' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <p class="panelParagraph">
    {{'options.covidData.disclaimer' | translate | translateCut:0}}<a href="https://disease.sh/">{{'options.covidData.disclaimer' | translate | translateCut:1}}</a>{{'options.covidData.disclaimer' | translate | translateCut:2}}<a href="https://github.com/disease-sh/api/blob/master/README.md#sources">{{'options.covidData.disclaimer' | translate | translateCut:3}}</a>{{'options.covidData.disclaimer' | translate | translateCut:4}}
  </p>

  <button class="panelBtn panelBackToDashLink" (click)="shared.optionsPage = 'Dashboard'"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Dashboard</button>
</div>

<div *ngIf="shared.optionsPage === 'EditCovidData'" class="panelPlate panelPage">
  <h2 class="panelTitle">
    <button
      (click)="this.shared.optionsPage = 'Covid'; selected = null;"
      class="panelBack matIcon"
      aria-label="Back to all clocks"
      title="Back to all clocks"
    >arrow_back</button>
    {{ settings.config.covidData.countries[selected].name }}
  </h2>
  <h3 class="panelSubtitle">{{'options.common.generalSettings' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnableFlagLabel" class="panelLabel">{{'options.covidData.countryFlag' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnableFlagLabel"
          name="covidEnableFlag"
          id="covidEnableFlag"
          [(ngModel)]="settings.config.covidData.countries[selected].enableFlag"
        ></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnableNameLabel" class="panelLabel">{{'options.covidData.countryName' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnableNameLabel"
          name="covidEnableName"
          id="covidEnableName"
          [(ngModel)]="settings.config.covidData.countries[selected].enableCountryName"
        ></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnablePer1MLabel" class="panelLabel">{{'options.covidData.perOneMillion' | translate}}</label>
        <p class="panelDescription">{{'options.covidData.perOneMillionDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnablePer1MLabel"
          name="covidEnablePer1M"
          id="covidEnablePer1M"
          [(ngModel)]="settings.config.covidData.countries[selected].enablePer1M"
        ></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnableTodayLabel" class="panelLabel">{{'options.covidData.todayCases' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnableTodayLabel"
          name="covidEnableToday"
          id="covidEnableToday"
          [(ngModel)]="settings.config.covidData.countries[selected].enableToday"
        ></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnableActiveLabel" class="panelLabel">{{'options.covidData.activeCases' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnableActiveLabel"
          name="covidEnableActive"
          id="covidEnableActive"
          [(ngModel)]="settings.config.covidData.countries[selected].enableActive"
        ></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnableRecoveredLabel" class="panelLabel">{{'options.covidData.recoveredCases' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnableRecoveredLabel"
          name="covidEnableRecovered"
          id="covidEnableRecovered"
          [(ngModel)]="settings.config.covidData.countries[selected].enableRecovered"
        ></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidEnableDeathsLabel" class="panelLabel">{{'options.covidData.deaths' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle
          labelledby="covidEnableDeathsLabel"
          name="covidEnableDeaths"
          id="covidEnableDeaths"
          [name]="'covidEnableDeaths' + i"
          [id]="'covidEnableDeaths' + i"
          [(ngModel)]="settings.config.covidData.countries[selected].enableDeaths"
        ></options-toggle>
      </div>
    </div>
  </div>
  <h3 class="panelSubtitle">{{'options.common.layout' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidDataScalingLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.common.sizeDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          class="panelInputLg"
          labelledby="covidDataScalingLabel"
          name="covidDataScaling"
          id="covidDataScaling"
          min="1"
          max="40"
          [(ngModel)]="settings.config.covidData.countries[selected].textScaling"
        ></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="countryOrderLabel" class="panelLabel">{{'options.common.order' | translate}}</label>
        <p class="panelDescription">{{'options.common.orderDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <div class="panelBtnGroup panelInputMd">
          <button
            type="button"
            attr.aria-label="{{'options.common.moveUp' | translate}}"
            title="{{'options.common.moveUp' | translate}}"
            class="panelBtn"
            [disabled]="shared.isFirst(settings.config.covidData.countries[selected].id, settings.config.covidData.countries[selected].position)"
            (click)="shared.changeOrder(settings.config.covidData.countries[selected].id, true, settings.config.covidData.countries[selected].position)">
            <div class="matIcon" aria-hidden="true">expand_less</div>
          </button>
          <button
            type="button"
            attr.aria-label="{{'options.common.moveDown' | translate}}"
            title="{{'options.common.moveDown' | translate}}"
            class="panelBtn"
            [disabled]="shared.isLast(settings.config.covidData.countries[selected].id, settings.config.covidData.countries[selected].position)"
            (click)="shared.changeOrder(settings.config.covidData.countries[selected].id, false, settings.config.covidData.countries[selected].position)">
            <div class="matIcon" aria-hidden="true">expand_more</div>
          </button>
        </div>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidPlacementLabel" class="panelLabel">{{'options.common.position' | translate}}</label>
        <p class="panelDescription">{{'options.common.positionDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-position
          labelledby="covidPlacementLabel"
          id="covidPlacement"
          name="covidPlacement"
          [settingId]="settings.config.covidData.countries[selected].id"
          [(ngModel)]="settings.config.covidData.countries[selected].position"
          (ngModelChange)="shared.changeOrder(settings.config.covidData.countries[selected].id, true, settings.config.covidData.countries[selected].position)"
        ></options-position>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="countryWidthLabel" class="panelLabel">{{'options.common.maxWidth' | translate}}</label>
        <p class="panelDescription">{{'options.common.maxWidthDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          class="panelInputLg"
          labelledby="countryWidthLabel"
          name="countryWidth"
          min="0"
          max="100"
          [(ngModel)]="settings.config.covidData.countries[selected].width"
        ></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidDataPaddingLabel" class="panelLabel">{{'options.common.padding' | translate}}</label>
        <p class="panelDescription">{{ 'options.covidData.paddingDesc' | translate }}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          class="panelInputLg"
          labelledby="covidDataPaddingLabel"
          id="covidDataPadding"
          name="covidDataPadding"
          min="0"
          max="50"
          [(ngModel)]="settings.config.covidData.countries[selected].padding"
        ></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="countryMarginHeightLabel" class="panelLabel">{{'options.common.marginHeight' | translate}}</label>
        <p class="panelDescription">{{'options.common.marginHeightDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          class="panelInputLg"
          labelledby="countryMarginHeightLabel"
          name="countryMarginHeight"
          min="0"
          max="50"
          [(ngModel)]="settings.config.covidData.countries[selected].marginHeight"
        ></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="countryMarginWidthLabel" class="panelLabel">{{'options.common.marginWidth' | translate}}</label>
        <p class="panelDescription">{{'options.common.marginWidthDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          class="panelInputLg"
          labelledby="countryMarginWidthLabel"
          name="countryMarginWidth"
          min="0"
          max="50"
          [(ngModel)]="settings.config.covidData.countries[selected].marginWidth"
        ></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="covidDataOffsetLabel" class="panelLabel">{{ 'options.common.offset' | translate }}</label>
        <p class="panelDescription">{{ 'options.common.offsetDesc' | translate }}</p>
      </div>
      <div class="panelFieldInput">
        <options-range
          class="panelInputLg"
          labelledby="covidDataOffsetLabel"
          name="covidDataOffset"
          min="-50"
          max="50"
          [(ngModel)]="settings.config.covidData.countries[selected].offset"
        ></options-range>
      </div>
    </div>
  </div>

  <button class="panelBtn panelBackToDashLink" (click)="shared.optionsPage = 'Covid'; selected = null;"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to COVID settings</button>
</div>

<!--
<p class="mt15 mb15"></p>
-->
