html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

p {
  line-height: 1.4;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Source Sans 3', sans-serif;
}

img {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: hsl(0deg 0% 10%);
  border: solid 2px transparent;
  .lightGrayMode &,
  .lightMode & {
    background: hsl(0deg 0% 90%);
  }
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 15px hsl(0deg 0% 30%);
  border: solid 2px transparent;
  border-radius: 10px;
  .lightGrayMode &,
  .lightMode & {
    box-shadow: inset 0 0 0 15px hsl(0deg 0% 60%);
  }
}

.allowPointerEvent {
  pointer-events: all;
}
