.title,
.subtitle {
  display: flex;
  align-items: center;
  gap: var(--s4);
  font-size: 2.2rem;
  font-weight: 600;
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
}

.paragraph {
  color: var(--cText);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
}

a.link {
  color: var(--cText);
  text-decoration: underline;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  font-size: 1.6rem;
  margin-block: var(--s4);
  margin-inline-start: var(--s6);
  margin-inline-end: var(--s4);
  padding-left: var(--s3);
  line-height: 1.2;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--s3);
  background-color: transparent;
  color: var(--cBtnFg);
  border: 1px solid var(--cBtnBorder);
  padding: var(--s2) var(--s4);
  border-radius: var(--radius);
  margin: 0;
  width: auto;
  min-height: 3.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow .3s;
  &:hover {
    box-shadow: 0 0 .5rem 0 var(--cBtnShadow);
  }

  .append {
    margin-left: auto;
  }

  &.active {
    background-color: var(--cBtnActive);
    color: var(--cBtnFgActive);
  }

  &:disabled {
    box-shadow: none;
    color: var(--cBtnFgDisabled);
    border-color: var(--cBtnBorderDisabled);
    cursor: not-allowed;
  }
}

.btnDesc {
  padding-block: var(--s3);
  > div {
    text-align: left;
    small {
      display: block;
      font-size: 1.2rem;
      color: var(--cTextSubtle);
    }
  }
}

.btnBlock {
  display: flex;
  width: 100%;
}

.btnText {
  border: 0;
}

.btnLink {
  min-height: auto;
  font-size: inherit;
  font-weight: inherit;
  color: var(--cText);
  text-decoration: underline;
  padding: 0;
  border: 0;
  &:hover {
    box-shadow: none;
  }
  &:focus-visible {
    outline: 1px solid var(--cText);
    outline-offset: 2px;
  }
}

.btnGroup {
  display: flex;
  gap: 0.1rem;

  .btn {
    flex: 1 1 auto;
    justify-content: center;
    border-radius: 0;
  }

  .btn:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
  }

  .btn:last-child {
    border-radius: 0 var(--radius) var(--radius) 0;
  }

  .btn:only-child {
    border-radius: var(--radius);
  }
}

.btnPlacementGroup {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.1rem;

  .btn {
    flex: 1 1 auto;
    justify-content: center;
    border-radius: 0;
    min-height: 2.4rem;
    padding-block: 0;
    padding-inline: 0;

    .svg-inline--fa {
      font-size: 1.6rem;
    }
  }

  .btn:first-child {
    border-top-left-radius: var(--radius);
  }

  .btn:nth-child(3) {
    border-top-right-radius: var(--radius);
  }

  .btn:nth-child(5) {
    .svg-inline--fa {
      font-size: 2.4rem;
    }
  }

  .btn:nth-child(7) {
    border-bottom-left-radius: var(--radius);
  }

  .btn:last-child {
    border-bottom-right-radius: var(--radius);
  }
}

.tabs {
  display: flex;
  gap: var(--s3);
  padding: 0 0 0 var(--s5);
  .tab.btn {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}

.pagination {
  display: flex;
  gap: var(--s5);
  justify-content: center;
  align-items: center;
  margin-top: var(--s5);
  .currentPage {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}

.panel {
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 40;
  width: 70rem;
  padding: 0 var(--s4);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--cText);
  background-color: var(--cPanelBackdrop);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: var(--s4);
  transition: opacity 0.2s;

  &.panelPreview {
    opacity: 0;
  }

  &.panelMove {
    inset: 0 auto 0 0;
  }

  &.toolbarToolPanel {
    left: var(--toolbarSize);
    right: unset;
    padding: var(--s4);
    scroll-behavior: smooth;
    .title {
      margin-top: 0;
      min-height: 3.4rem;
    }

    .page {
      overflow-y: auto;
      padding: var(--s5);
    }
  }

  a:not(.btn) {
    color: var(--cText);

    &:focus-visible {
      outline: 1px solid var(--cText);
      outline-offset: 2px;
    }
  }
}

.page,
.header,
.footer {
  position: relative;
  padding: 0 var(--s5);
  border-radius: var(--s4);
}

.page {
  flex: 1 1 auto;
  padding: var(--s5) .8rem var(--s5) var(--s5);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--cSettingsPage);

  &::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 10px 10px var(--cSettingsPageScrollbar);
    border: solid 4px transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--cSettingsPageScrollthumb);
    border: solid 6px transparent;
    border-radius: 10px;
  }
}

.bgTypeList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.bgTypeListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--cSubBlock);
  border-radius: var(--s3);
  background-color: var(--cSubBlock);
  color: var(--cBtnFg);
  padding: var(--s4);
  cursor: pointer;

  &.active {
    border-color: var(--cBtnBorder);
    background-color: var(--cBtnActive);
    color: var(--cBtnFgActive);
  }

  &:hover {
    border-color: var(--cBtnBorder);
  }
}

.bgTypeListItemPreview {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: var(--s3);
  border: 1px solid var(--g1);
  margin-bottom: var(--s3);
}

.bgTypeListItemName {
  margin-top: var(--s2);
  font-size: 1.4rem;
  font-weight: 400;
  color: currentColor;
}

.modal {
  display: grid;
  grid-template: auto 1fr / 1fr;
  
  p {
    font-size: 1.6rem;
    margin: 0 0 var(--s5) 0;
  }
}

.modalHeader {
  display: grid;
  grid-template: 1fr / 1fr auto;
  gap: var(--s4);
  align-items: center;
  margin: var(--s5) var(--s5) 0 var(--s5);
}

.modalClose {
  @extend .btn;
  padding: 0;
  width: var(--s7);
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.modalTitle {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 300;
  .lightGrayMode &,
  .lightMode & {
    font-weight: 400;
  }
}

.modalContent {
  margin: var(--s5);
}