$font-src: '/fonts';

/* source-sans-pro-300 - cyrillic_latin_vietnamese */
@font-face {
  font-display: swap; 
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-src}/source-sans-pro-v21-cyrillic_latin_vietnamese-300.woff2') format('woff2');
}
/* source-sans-pro-regular - cyrillic_latin_vietnamese */
@font-face {
  font-display: swap; 
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-src}/source-sans-pro-v21-cyrillic_latin_vietnamese-regular.woff2') format('woff2');
}
/* source-sans-pro-600 - cyrillic_latin_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-src}/source-sans-pro-v21-cyrillic_latin_vietnamese-600.woff2') format('woff2');
}
