$font-src: '/fonts';

@font-face {
  font-display: swap; 
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 100;
  src: url('#{$font-src}/source-sans-3-extralight.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 200;
  src: url('#{$font-src}/source-sans-3-extralight.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-src}/source-sans-3-light.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-src}/source-sans-3-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-src}/source-sans-3-medium.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-src}/source-sans-3-semibold.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-src}/source-sans-3-bold.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 800;
  src: url('#{$font-src}/source-sans-3-extrabold.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 900;
  src: url('#{$font-src}/source-sans-3-black.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Display Free TFB';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-src}/display-free-tfb.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: '7 Segments';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-src}/7-segments.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: '7 Segmental Digital Display';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-src}/7-segmental-digital-display.woff2') format('woff2');
}
