@for $i from 1 through 50 {
  .w#{$i} {
    width: #{$i}rem !important;
    flex: 0 0 auto;
  }
}

.mla {
  margin-left: auto !important;
}

.mra {
  margin-right: auto !important;
}

.fa-fw {
  width: 1.25em !important;
}
