@for $i from 1 through 50 {
  .w#{$i} {
    width: #{$i}rem !important;
    flex: 0 0 auto;
  }
}

.mla {
  margin-inline-start: auto !important;
}

.mra {
  margin-inline-end: auto !important;
}

.ml0 {
  margin-inline-start: 0 !important;
}

.mr0 {
  margin-inline-end: 0 !important;
}

.fa-fw {
  width: 1.25em !important;
}
