:root {
  color-scheme: light;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  
  #settings {
    color-scheme: dark;
  }

  // sizes
  --s1: 0.1rem;
  --s2: 0.2rem;
  --s3: 0.4rem;
  --s4: 0.8rem;
  --s5: 1.6rem;
  --s6: 2.4rem;
  --s7: 3.2rem;
  --s8: 4rem;
  --s9: 4.8rem;
  --radius: var(--s3);

  // greys
  --cGrey1: hsl(225 5% 17%);
  --cGrey1Alt: hsl(225 5% 10%);
  --cGrey2: hsl(225 6% 13%);
  --cGrey2Alt: hsl(225 6% 33%);
  --cGrey3: hsl(225 18% 6%);
  --cGrey3Alt: hsl(225 18% 20%);
  --cGrey4: hsl(225 8% 14%);

  // blues
  --cBlue1: hsl(210 80% 80%);
  --cBlue2: hsl(205deg 100% 18%);
  --cBlue3: hsl(210 80% 30%);
  --cBlue4: hsl(210 80% 30%);
  --cBlue5: hsl(210 30% 50%);
  --cBlue5Faded: hsl(210 30% 50% / 0.3);
  --cBlue6: hsl(210 10% 20%);
  --cBlue7: hsl(210 10% 50%);
  --cBlue8: hsl(210 10% 30%);
  --cBlue9: hsl(205deg 100% 95%);
  --cBlue10: hsl(220deg 15% 50%);
  --cBlue11: hsl(220deg 15% 70%);
  --cBlue12: hsl(220deg 30% 70%);

  // element colors
  --cError: hsl(10deg 90% 51%);
  --cSuccess: hsl(138, 56%, 60%);
  --cBackdrop: hsl(0 0% 5% / 0.5);
  --cArrow: hsl(210 30% 50%);
  --cArrowFade: hsl(210 30% 50% / 0.3);
  --cText: hsl(225 10% 80%);
  --cTextSubtle: hsl(225 10% 60%);
  --cShadow: hsl(0 0% 0% / 0.5);
}
