.changelog {
  padding: 0 0 0 30px;
  list-style: none;
  li {
    position: relative;
    padding: 0 0px 10px 0px;
    line-height: 1.4;
    &:before {
      content: '\2714';
      position: absolute;
      top: 0;
      left: -20px;
      color: #5CB85C;
    }
  }
}

#tipJar {
  width: 50px;
  height: auto;
  .jar {
    fill: $green;
  }
  .heart {
    fill: $green;
  }
}

.tipBtns {
  .btn {
    display: block;
    width: 100%;
    padding: 3px 2px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
  }
}