.presetColors label {
  transition: $transition;
  margin-bottom: 1px;
  &:hover {
    transform: scale(1.5, 1.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  &:focus {
    outline: 0;
  }
}

#presetColor01 + label {
  background: #FFFFFF;
  color: #000000 !important;
}

#presetColor02 + label {
  background: #FFFFFF;
  color: #7AC943 !important;
}

#presetColor03 + label {
  background: #FFFFFF;
  color: #00A99D !important;
}

#presetColor04 + label {
  background: #FFFFFF;
  color: #3FA9F5 !important;
}

#presetColor05 + label {
  background: #FFFFFF;
  color: #93278F !important;
}

#presetColor06 + label {
  background: #FFFFFF;
  color: #FF7BAC !important;
}

#presetColor07 + label {
  background: #FFFFFF;
  color: #FF1D25 !important;
}

#presetColor08 + label {
  background: #FFFFFF;
  color: #FF931E !important;
}

#presetColor09 + label {
  background: #000000;
  color: #FFFFFF !important;
}

#presetColor10 + label {
  background: #000000;
  color: #7AC943 !important;
}

#presetColor11 + label {
  background: #000000;
  color: #00A99D !important;
}

#presetColor12 + label {
  background: #000000;
  color: #3FA9F5 !important;
}

#presetColor13 + label {
  background: #000000;
  color: #93278F !important;
}

#presetColor14 + label {
  background: #000000;
  color: #FF7BAC !important;
}

#presetColor15 + label {
  background: #000000;
  color: #FF1D25 !important;
}

#presetColor16 + label {
  background: #000000;
  color: #FF931E !important;
}

#presetColor17 + label {
  background: #E6E6E6;
  color: #333333 !important;
}

#presetColor18 + label {
  background: #7AC943;
  color: #000000 !important;
}

#presetColor19 + label {
  background: #00A99D;
  color: #000000 !important;
}

#presetColor20 + label {
  background: #3FA9F5;
  color: #000000 !important;
}

#presetColor21 + label {
  background: #93278F;
  color: #000000 !important;
}

#presetColor22 + label {
  background: #FF7BAC;
  color: #000000 !important;
}

#presetColor23 + label {
  background: #FF1D25;
  color: #000000 !important;
}

#presetColor24 + label {
  background: #FF931E;
  color: #000000 !important;
}

#presetColor25 + label {
  background: #333333;
  color: #E6E6E6 !important;
}

#presetColor26 + label {
  background: #7AC943;
  color: #FFFFFF !important;
}

#presetColor27 + label {
  background: #00A99D;
  color: #FFFFFF !important;
}

#presetColor28 + label {
  background: #3FA9F5;
  color: #FFFFFF !important;
}

#presetColor29 + label {
  background: #93278F;
  color: #FFFFFF !important;
}

#presetColor30 + label {
  background: #FF7BAC;
  color: #FFFFFF !important;
}

#presetColor31 + label {
  background: #FF1D25;
  color: #FFFFFF !important;
}

#presetColor32 + label {
  background: #FF931E;
  color: #FFFFFF !important;
}

#presetColor33 + label {
  background: #BDCCD4;
  color: #534741 !important;
}

#presetColor34 + label {
  background: #E2EDC1;
  color: #00A055 !important;
}

#presetColor35 + label {
  background: #C9F2EE;
  color: #0000FF !important;
}

#presetColor36 + label {
  background: #C8EAF5;
  color: #00AEEF !important;
}

#presetColor37 + label {
  background: #D8D6EC;
  color: #702C8D !important;
}

#presetColor38 + label {
  background: #FCE3EE;
  color: #F190AC !important;
}

#presetColor39 + label {
  background: #EEDFAC;
  color: #534741 !important;
}

#presetColor40 + label {
  background: #FFFAC0;
  color: #F4783B !important;
}

#presetColor41 + label {
  background: #E1E9F2;
  color: #004080 !important;
}

#presetColor42 + label {
  background: #EAF3E0;
  color: #008080 !important;
}

#presetColor43 + label {
  background: #004040;
  color: #FFFFFF !important;
}

#presetColor44 + label {
  background: #0000FF;
  color: #FFFFFF !important;
}

#presetColor45 + label {
  background: #93278F;
  color: #FF931E !important;
}

#presetColor46 + label {
  background: #FAC8D3;
  color: #895881 !important;
}

#presetColor47 + label {
  background: #C1172C;
  color: #FFF200 !important;
}

#presetColor48 + label {
  background: #FF8040;
  color: #000000 !important;
}