.dashGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(120px, auto);
  grid-gap: 20px;
}

.dashBtn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  place-items: center center;
  background: transparent;
  border: 2px solid currentColor;
  transition: all .3s;
  border-radius: 10px;
  .dashBtnHead {
    flex: 1 1 auto;
    display: flex;
    place-items: center center;
    .icon {
      font-size: 60px;
    }
  }
  h2 {
    flex: 0 0 auto;
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 600;
  }
  &:nth-child(5n+1) {
    color: #FB910B;
  }
  &:nth-child(5n+2) {
    color: #49A54E;
  }
  &:nth-child(5n+3) {
    color: #16B8CD;
  }
  &:nth-child(5n+4) {
    color: #E84A47;
  }
  &:nth-child(5n+5) {
    color: #8a16cd;
  }
  &:hover {
    background: #eff0f3;
  }
  &:focus,
  &:hover {
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px white, inset 0px 0px 0px 2px currentColor;
  }
}
