.clockBracketType {
  display: flex;
  input.fieldGroup__field {
    display: inline-block;
    margin-right: 1px;
    width: 35px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.clockOption {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: ($fieldHeight + 10px);
  width: 100%;
  &:nth-child(even) {
    background: darken($pageBg, 2%);
  }
}
.clockHoverOptions {
  margin-left: auto;
  width: auto;
}