.clockBracketType {
  display: flex;
  input.fieldGroup__field {
    display: inline-block;
    margin-right: 1px;
    width: 35px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.clock {
  display: block;
  border: 1px dashed $blue;
  padding: 10px;
  margin: 0 0 20px 0;
}