.on-animation {
  .fadein {
    -webkit-backface-visibility: hidden;
    animation: fadeIn 1.1s ease-in-out;
    visibility: visible !important;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.8);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.on-animation {
  .fadein-dim {
    animation: fadeIn 1.1s ease-in-out;
    visibility: visible !important;
  }
  &.on-dimbrackets .fadein-dim {
    animation: fadeIn-dim 1.1s ease-in-out;
    visibility: visible !important;
  }
}

@keyframes fadeIn-dim {
  0% {
    transform: scale(0.8);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}