html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $settingsFont;
  font-size: 1.6rem;
  overflow: hidden;
}

p {
  line-height: 1.4;
}

button, input, optgroup, select, textarea {
  font-family: $settingsFont;
}

hr {
  margin: 10px 0;
  padding: 0;
  border: 0;
  height: 4px;
  border-radius: 2px;
  background: darken($lightGray, 10%);
}

img {
  vertical-align: middle;
}
