html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: $bg;
  font-family: $settingsFont;
  font-size: 1.6rem;
  color: #000;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 1.5rem;
}
 
::-webkit-scrollbar-thumb {
  background: lighten($bg, 15%); 
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($bg, 20%); 
}

::-webkit-scrollbar-track {
  background: $bg;
}

p {
  line-height: 1.4;
}

button, input, optgroup, select, textarea {
  font-family: $settingsFont;
}

hr {
  margin: 2rem 0;
  padding: 0 $pagePadding;
  border: 0;
  border-top: .1rem solid $bg-alt;
}

img {
  vertical-align: middle;
}