#date {
  display: none;
}

.on-date {
  #date {
    display: block;
    // align-items: center;
    // flex-wrap: nowrap;
    font-size: 6%;
    line-height: 1;
    // margin-bottom: 1em;
    margin-bottom: 0em;
  }
  #date>div {
    text-align: center;
  }
  #date .day {
    display: none;
  }
  #date .year {
    display: none;
  }
  #date .week {
    display: none;
  }
  &.on-day #date .day {
    display: block;
  }
  &.on-year #date .year {
    display: block;
  }
  &.on-week #date .week {
    display: block;
    font-size: 0.65em;
    margin-top: 0.4em;
  }
  // Font sizes
  // &.on-clock1.on-analog #date { margin-bottom: 0em; }
  // &.on-brackets #date { margin-bottom: 0em; }
  &.on-day #date {
    font-size: 4.8%
  }
  &.on-shortdate #date,
  &.on-shortdate.on-day #date {
    font-size: 7.0%
  }
  &.on-clock1 #date {
    font-size: 3.4%
  }
  &.on-clock1.on-day #date {
    font-size: 3.0%
  }
  &.on-shortdate.on-clock1 #date,
  &.on-shortdate.on-clock1.on-day #date {
    font-size: 3.4%
  }
  // Special Cases
  .font-press-start-2p #date {
    font-size: 4.5%
  }
  &.on-day .font-press-start-2p #date {
    font-size: 2.4%
  }
  &.on-shortdate .font-press-start-2p #date,
  &.on-shortdate.on-day .font-press-start-2p #date {
    font-size: 6.0%
  }
  &.on-clock1 .font-press-start-2p #date {
    font-size: 3.0%
  }
  &.on-clock1.on-day .font-press-start-2p #date {
    font-size: 2.0%
  }
  &.on-shortdate.on-clock1 .font-press-start-2p #date,
  &.on-shortdate.on-clock1.on-day .font-press-start-2p #date {
    font-size: 3.0%
  }
}