/* Exo 2 */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url(../fonts/Exo2-ExtraLight.ttf) format('woff2');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(../fonts/Exo2-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(../fonts/Exo2-Bold.ttf) format('truetype');
}

/* Quicksand */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(../fonts/Quicksand-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand'), local('Quicksand-Regular'), url(../fonts/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(../fonts/Quicksand-Bold.ttf) format('truetype');
}

/* Amatic SC */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 300;
  src: local('Amatic SC Light'), local('AmaticSC-Light'), url(../fonts/AmaticSC-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC'), local('AmaticSC-Regular'), url(../fonts/AmaticSC-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(../fonts/AmaticSC-Regular.ttf) format('truetype');
}

/* Anton */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 300;
  src: local('Anton Light'), local('Anton-Light'), url(../fonts/Anton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), local('Anton-Regular'), url(../fonts/Anton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 700;
  src: local('Anton Bold'), local('Anton-Bold'), url(../fonts/Anton-Regular.ttf) format('truetype');
}

/* EB Garamond */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 300;
  src: local('EB Garamond Light'), local('EBGaramond-Light'), url(../fonts/EBGaramond-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond-Regular'), url(../fonts/EBGaramond-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: local('EB Garamond Bold'), local('EBGaramond-Bold'), url(../fonts/EBGaramond-Regular.ttf) format('truetype');
}

/* Lobster */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 300;
  src: local('Lobster Light'), local('Lobster-Light'), url(../fonts/Lobster-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(../fonts/Lobster-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 700;
  src: local('Lobster Bold'), local('Lobster-Bold'), url(../fonts/Lobster-Regular.ttf) format('truetype');
}

/* Monoton */
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 300;
  src: local('Monoton Light'), local('Monoton-Light'), url(../fonts/Monoton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(../fonts/Monoton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 700;
  src: local('Monoton Bold'), local('Monoton-Bold'), url(../fonts/Monoton-Regular.ttf) format('truetype');
}

/* Press Start 2P */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 300;
  src: local('Press Start 2P Light'), local('PressStart2P-Light'), url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 700;
  src: local('Press Start 2P Bold'), local('PressStart2P-Bold'), url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

/* Special Elite */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 300;
  src: local('Special Elite Light'), local('SpecialElite-Light'), url(../fonts/SpecialElite.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(../fonts/SpecialElite.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 700;
  src: local('Special Elite Bold'), local('SpecialElite-Bold'), url(../fonts/SpecialElite.ttf) format('truetype');
}