//
// Material Icon font
//

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon.i-18 { font-size: 18px; }
.icon.i-24 { font-size: 24px; }
.icon.i-36 { font-size: 36px; }
.icon.i-48 { font-size: 48px; }

//
// Extension fonts
//

$font-src: "../assets/fonts";

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(#{$font-src}/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url(#{$font-src}/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(#{$font-src}/OpenSans-Bold.ttf) format('truetype');
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(#{$font-src}/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(#{$font-src}/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(#{$font-src}/Roboto-Bold.ttf) format('truetype');
}

/* Exo 2 */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url(#{$font-src}/Exo2-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(#{$font-src}/Exo2-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(#{$font-src}/Exo2-Bold.ttf) format('truetype');
}

/* Quicksand */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(#{$font-src}/Quicksand-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand'), local('Quicksand-Regular'), url(#{$font-src}/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(#{$font-src}/Quicksand-Bold.ttf) format('truetype');
}

/* Amatic SC */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 300;
  src: local('Amatic SC Light'), local('AmaticSC-Light'), url(#{$font-src}/AmaticSC-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC'), local('AmaticSC-Regular'), url(#{$font-src}/AmaticSC-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(#{$font-src}/AmaticSC-Regular.ttf) format('truetype');
}

/* Anton */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 300;
  src: local('Anton Light'), local('Anton-Light'), url(#{$font-src}/Anton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), local('Anton-Regular'), url(#{$font-src}/Anton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 700;
  src: local('Anton Bold'), local('Anton-Bold'), url(#{$font-src}/Anton-Regular.ttf) format('truetype');
}

/* EB Garamond */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 300;
  src: local('EB Garamond Light'), local('EBGaramond-Light'), url(#{$font-src}/EBGaramond-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond-Regular'), url(#{$font-src}/EBGaramond-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: local('EB Garamond Bold'), local('EBGaramond-Bold'), url(#{$font-src}/EBGaramond-Regular.ttf) format('truetype');
}

/* Lobster */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 300;
  src: local('Lobster Light'), local('Lobster-Light'), url(#{$font-src}/Lobster-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(#{$font-src}/Lobster-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 700;
  src: local('Lobster Bold'), local('Lobster-Bold'), url(#{$font-src}/Lobster-Regular.ttf) format('truetype');
}

/* Monoton */
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 300;
  src: local('Monoton Light'), local('Monoton-Light'), url(#{$font-src}/Monoton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(#{$font-src}/Monoton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 700;
  src: local('Monoton Bold'), local('Monoton-Bold'), url(#{$font-src}/Monoton-Regular.ttf) format('truetype');
}

/* Press Start 2P */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 300;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(#{$font-src}/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(#{$font-src}/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 700;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(#{$font-src}/PressStart2P-Regular.ttf) format('truetype');
}

/* Special Elite */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 300;
  src: local('Special Elite Light'), local('SpecialElite-Light'), url(#{$font-src}/SpecialElite.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(#{$font-src}/SpecialElite.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 700;
  src: local('Special Elite Bold'), local('SpecialElite-Bold'), url(#{$font-src}/SpecialElite.ttf) format('truetype');
}
