.loadsheddingLocationListItem {
  display: flex;
  border-bottom: 1px solid var(--panelGroupItemBorder);
  padding-bottom: var(--size400);
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.loadshedding {
  display: flex;
  justify-content: center;
  color: currentColor;
  flex-direction: row;
  width: max-content;
}

.loadsheddingDim {
  font-size: 0.7em;
}

.loadsheddingHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: .4em;
  h2 {
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom:0px;
  }
  .loadsheddingDim {
    font-size: 0.8em;
  }
}

.loadsheddingSuburb {
  display: flex;
  flex-direction: column;
}

.loadsheddingSchedules {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  margin-bottom: .4em;
  gap: .6em;
}
.loadsheddingDaySchedule {
  display: flex;
  flex-direction: column;
  gap: .2em;
  font-size: 1em;
  * {
    padding: 0 .4em 0 0;
  }
}

.loadsheddingDayName {
  font-style: italic;
  border-bottom: 1px solid currentColor;
  padding-bottom: .2em;
  margin-bottom: .2em;
  font-size: .9em;
}

.loadsheddingDaySchedule .loadsheddingDayName:only-child {
  display: none;
}
