#message {
  display: none;
  font-size: 3%;
  text-align: center;
}

.on-message {
  #message {
    display: block;
  }
  &.on-search,
  &.on-date,
  &.on-clock1 {
    #message {
      margin-bottom: 1em;
    }
  }
  .font-press-start-2p #message {
    font-size: 2.7%;
  }
}