.modal.in {
  position: fixed;
  inset: 0;
  z-index: z('modal');
  background: hsl(205 10% 10% / 75%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  animation: modalFadeIn .35s ease-out;
}

.premiumModal {
  position: fixed;
  inset: 0;
  z-index: +1;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.premiumModalContent {
  pointer-events: all;
  width: 80rem;
  max-width: 85vw;
  background-color: var(--getPremiumModalBg);
  color: var(--getPremiumModalColor);
  border-radius: var(--size400);
  padding: var(--size600);
  box-shadow: 0 0 2rem 0 var(--getPremiumModalShadow);
  animation: modalFadeIn .35s ease-out;
  a {
    color: var(--settingsLink);
    &:focus-visible {
      outline: 1px solid currentColor;
      outline-offset: 2px;
    }
  }

  background-image: radial-gradient(100% 65% at 0% 0%, var(--getPremiumModalBg2) 0%, var(--getPremiumModalBg) 100%);
  color: var(--getPremiumModalColor);
  // width: 70rem;
  position: relative;
  h2 {
    font-size: 3.2rem;
    font-weight: 300;
    margin: 0 0 var(--size300);
    text-transform: uppercase;
    text-align: center;
  }
  p {
    margin: 0 auto var(--size500);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    // max-width: 42rem;
  }
}

.premiumModalClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  padding: 1rem;
  border: 0;
  cursor: pointer;
  span {
    font-size: 2.4rem;
    color: hsla(0, 0%, 70%, 1);
  }
}

.premiumModalIcon {
  display: block;
  font-size: 6rem;
  margin: var(--size300) 0;
  text-align: center;
}

.premiumModalFeatures {
  list-style: none;
  margin: var(--size700) 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size400) var(--size800);
  li {
    display: flex;
    align-items: center;
    gap: var(--size500);
    padding: 0;
    span {
      flex: 0 0 auto;
      display: grid;
      place-items: center;
      font-size: 3rem;
      background-color: var(--getPremiumModalBg2);
      color: white;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      // font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
    }
    > div {
      font-size: 1.8rem;
      font-weight: 600;
      > div {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }
  }
}

.premiumModalFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size400);
}

.premiumModalSubscribedHeading {
  display: block;
  text-transform: none;
  font-size: .8em;
}

p.premiumModalJustSubscribedInstruction {
  font-size: 1.8rem;
  margin: var(--size600) 0;
  font-weight: 600;
}

.premiumModalPrice {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  span {
    font-weight: 600;
  }
}

.premiumModalDisclaimer {
  font-size: 1.4rem;
  font-weight: 300;
  margin: var(--size600) 0 0 0;
  text-align: center;
}

.premiumModalBtn {
  border: 0;
  background-color: var(--getPremiumModalBg2);
  color: var(--getPremiumModalColor);
  display: inline-flex;
  align-items: center;
  padding: 0 var(--size500);
  height: var(--size800);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--size400);
}

.premiumModalSubscribeBtn {
  font-size: 1.8rem;
  padding: 0 var(--size900);
  text-transform: uppercase;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
