#time {
  display: none;
}

.on-clock1 {
  #time {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 10%;
    font-weight: 300;
    line-height: 1;
  }
  #time>div {
    text-align: center;
  }
  &.on-date #time {
    margin-bottom: 0.05em;
  }
  #time .time-numbers {
    span {
      display: inline-block;
      width: 0.6em;
    }
  }
  #time .delimiter {
    visibility: hidden;
    width: 0.25em;
    opacity: 1;
  }
  &.on-dimdelimiter #time .delimiter {
    opacity: 0.5;
  }
  &.on-delimiter #time .delimiter {
    visibility: visible;
  }
  #time .delimiter-2 {
    display: none;
  }
  &.on-seconds #time .delimiter-2 {
    display: block;
  }
  #time .second {
    display: none;
  }
  &.on-seconds #time .second {
    display: block;
  }
  &.on-dimseconds #time .second {
    opacity: 0.5;
  }
  #time .meridiem {
    display: none;
    font-size: 0.5em;
    margin-left: 0.25em;
  }
  &.on-meridiem #time .meridiem {
    display: block;
  }
  &.on-meridiem.on-military #time .meridiem {
    display: none;
  }
  // Special Cases
  .font-exo-2 #time {
    .delimiter {
      margin-bottom: 0.25em;
    }
  }
  .font-quicksand #time {
    .delimiter {
      margin-bottom: 0.15em;
    }
  }
  &.on-date .font-exo-2 #time,
  &.on-date .font-quicksand #time {
    margin-bottom: 0;
  }
  .font-amatic-sc #time {
    // font-size: 12%;
    .time-numbers {
      span {
        width: 0.4em;
      }
    }
  }
  .font-eb-garamond #time {
    .time-numbers {
      span {
        width: 0.5em;
      }
    }
  }
  .font-monoton #time {
    // font-size: 8.5%;
    .time-numbers {
      span {
        width: 0.85em;
      }
    }
    .delimiter {
      width: 0.45em;
    }
  }
  .font-press-start-2p #time {
    font-size: 7%;
    .time-numbers {
      span {
        width: 1.1em;
      }
    }
    .delimiter {
      width: 0.75em;
    }
  }
  &.on-brackets .font-press-start-2p #time {
    font-size: 5.5%;
  }
}