$blue: #3FA9F5;
$lightBlue: lighten($blue, 20%);
$green: rgb(35, 148, 82);
$lightGreen: rgb(147, 209, 147);
$gray: #778888;
$lightGray: #fafafa;
$focus: 0 0 0 3px rgba(0, 0, 0, 0.12);
$transition: all .3s;

$settingsFont: 'Open Sans', sans-serif;
$fieldHeight: 30px;

// Breakpoints
$sm: 768px;
$md: 1024px;
$lg: 1200px;

// Z-index
$z-indexes: (
  'tabUI',
  'tabClock',
  'tabDate',
  'tabBookmarks',
  'tabQuickLinks',
  'tabQuickLinksMostVisited',
  'optionsPage',
  'optionsNav',
  'tabToggle',
  'tooltip'
);


$headerHeight: 50px;

$optionsToggleLine: 2px;
$optionsToggleSize: 16px;
$optionsToggleSpacing: 3px;
$optionsTogglePadding: 30px;
$optionsToggleHeight: ($optionsToggleSize + ($optionsTogglePadding * 2));

$navMargin: 10px;
$navHeight: ($optionsToggleHeight - ($navMargin * 2));
$navRadius: ($navHeight / 2);
$navButtonHeight: ($navHeight - 18);

$optionsMarginY: $navMargin;
$optionsMarginX: $optionsToggleHeight;
$optionsBg: #f5f7fa;
$optionsBorderColor: #1f2020;
$optionsBorder: 2px solid $optionsBorderColor;
$optionsWidth: 600px;
$optionsRadius: 15px;
$optionsTransition: all .3s ease-in-out;

$btnActiveShadow: inset 0 0 0 2px #000, inset 0 0 0 4px $optionsBg;
