$blue: #3FA9F5;
$lightBlue: lighten($blue, 20%);
$green: rgb(35, 148, 82);
$lightGreen: rgb(147, 209, 147);
$gray: #778888;
$lightGray: #fafafa;
$focus: 0 0 0 3px rgba(0, 0, 0, 0.12);
$transition: all .3s;

$settingsFont: 'Open Sans', sans-serif;
$fieldHeight: 30px;

// Breakpoints
$sm: 768px;
$md: 1024px;
$lg: 1200px;

// Z-index
$z-indexes: (
  'tabUI',
  'tabClock',
  'tabDate',
  'tabBookmarks',
  'tabQuickLinks',
  'tabQuickLinksMostVisited',
  'optionsPanel',
  'optionsPage',
  'optionsNav',
  'tabToggle',
  'tooltip'
);

$optionsBg: #f5f7fa;
$optionsWidth: 600px;
