$pageBg: #111e31;
$asideBg: #1b2b3f;
$theme1: #34405f;
$theme2: #1b2b3f;
$blue: #3FA9F5;
$green: rgb(35, 148, 82);
$lightGreen: rgb(147, 209, 147);
$gray: #778888;
$lightGray: #fafafa;
$text: #ededed;
$btn: $blue;
$btnActive: rgba($blue,.5);
$btnActiveHover: rgba($blue,.5);
$radius: 5px;
$shadow: 0 0 1px 1px rgba($btn,.2), inset 0 0 1px 1px rgba($btn,.2);
$shadowHover: 0 0 2px 1px rgba($btn,.8), inset 0 0 2px 1px rgba($btn,.8);
$transition: all .3s;
$field: rgba($blue,.2);
$disabledColor: $gray;

$settingsFont: 'Open Sans', sans-serif;
$asideWidth: 250px;
$asideWidthSm: 180px;
$pagePadding: 20px;
$fieldPaddingY: 0;
$fieldPaddingX: 7px;
$fieldHeight: 26px;
$fieldLineHeight: 1.9;

// Breakpoints
$sm: 768px;
$md: 1024px;
$lg: 1200px;

// Z-index
$z-indexes: (
  'tabUI',
  'tabBookmarks',
  'tabClock',
  'tabDate',
  'tabToggle',
  'optionsUI',
  'optionsAside',
  'optionsNav',
  'optionsClose',
  'tooltip'
);