$blue: #3FA9F5;
$lightBlue: lighten($blue, 20%);
$green: rgb(35, 148, 82);
$lightGreen: rgb(147, 209, 147);
$gray: #778888;
$lightGray: #fafafa;

:root {
  --optAccent: rgb(63, 169, 245);
  --optAccentLight: rgb(76, 182, 255);
  --optAccentDark: rgb(50, 156, 232);
  --optAccentDisabled: rgb(154, 154, 154);
  --optText: rgb(40,40,20);
  --optNavBase: 245,245,240;
  --optNavBg: rgb(var(--optNavBase));
  --optBgBase: 245,245,240;
  --optBg: rgb(var(--optBgBase));
  --optBgHighlight: rgb(220, 220, 215);
  --optBgHover: rgba(0,0,0,.05);
  --optBg70: rgba(var(--optBgBase),.70);
  --optBg85: rgba(var(--optBgBase),.85);
  --optBg95: rgba(var(--optBgBase),.95);
  --optShadow: rgba(0,0,0,.2);
  --optNavBorder: rgba(0,0,0,.1);
  @media (prefers-color-scheme: dark) {
    --optAccent: rgb(105,125,175);
    --optAccentLight: rgb(131, 151, 201);
    --optAccentDark: rgb(80, 100, 150);
    --optAccentDisabled: rgb(140, 140, 140);
    --optText: rgb(195,195,225);
    --optBgBase: 0,10,18;
    --optNavBase: 0,10,18;
    --optNavBg: rgb(var(--optNavBase));
    --optBg: rgb(var(--optBgBase));
    --optBgHighlight: rgb(26, 36, 44);
    --optBgHover: rgba(255,255,255,.05);
    --optBg70: rgba(var(--optBgBase),.70);
    --optBg85: rgba(var(--optBgBase),.85);
    --optBg95: rgba(var(--optBgBase),.95);
    --optShadow: rgba(255,255,255,.2);
    --optNavBorder: rgba(255,255,255,.15);
  }
}

$focus: 0 0 0 3px rgba(0, 0, 0, 0.12);
$transition: all .3s;

$settingsFont: 'Open Sans', sans-serif;
$fieldHeight: 30px;

// Breakpoints
$sm: 768px;
$md: 1024px;
$lg: 1200px;

// Z-index
$z-indexes: (
  'tabUI',
  'tabClock',
  'tabDate',
  'tabBookmarks',
  'tabQuickLinks',
  'tabQuickLinksMostVisited',
  'tabToggle',
  'optionsPanel',
  'optionsPage',
  'optionsNav',
  'tooltip',
  'splash'
);

// $optionsBg: $optBgDark;
$optionsWidth: 800px;
