<h1>
  Time
  <small>Add multiple clocks with multiple timezones.</small>
</h1>
<button class="btn" title="Add secondary clock"><i class="fas fa-plus"></i> Add New Clock</button> 
<div *ngFor="let item of [0,1]; let i of index;">
  <hr>
  <fieldset>
    <h2 class="flex flex--middle m0 mb1 pb1">
      <button class="btn active mr5" title="Enable clock."><i class="fas fa-check"></i> On</button> 
      <button class="btn mr5" disabled="disabled" title="Move clock up in list."><i class="fas fa-long-arrow-alt-up"></i></button> 
      <button class="btn mr1" disabled="disabled" title="Move clock down in list."><i class="fas fa-long-arrow-alt-down"></i></button> 
      Clock {{i + 1}}
      <button class="btn mlAuto" title="Delete clock."><i class="fas fa-trash-alt"></i> Delete</button> 
    </h2>
    <div class="row row--gap">
      <div class="fieldGroup colMd4">
        <label class="fieldGroup__label"><app-help title="Choose a timezone for the clock (the default is your local timezone).">Timezone</app-help></label>
        <select name="clock1Timezone" id="clock1Timezone" class="fieldGroup__field">
          <option value=""></option>
        </select>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Label" class="fieldGroup__label">Clock Label</label>
        <input type="text" class="fieldGroup__field" id="clock1Label">
      </div>
      <div class="fieldGroup colMd4">
        <label for="clockSize" class="fieldGroup__label"><app-help title="Change the size of the clock.">Size</app-help></label>
        <div class="flex">
          <input id="clockSize" type="range" class="fieldGroup__field flex__auto" value="50" min="0" max="100">
          <input class="fieldGroup__field rangeLabel flex__set" value="50">
        </div>
      </div>
      <div class="fieldGroup colMd4">
        <label class="fieldGroup__label"><app-help title="Choose a font to use for this clock.">Font</app-help></label>
        <select name="clock1Timezone" id="clock1Timezone" class="fieldGroup__field">
          <option value="">Use global font</option>
        </select>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Seconds" class="fieldGroup__label"><app-help title="Display the seconds on the clock.">Seconds</app-help></label>
        <div class="btnGroup btnGroup--justified">
          <input type="checkbox" id="enable">
          <label for="enable"><i class="fas fa-check"></i> On</label>
          <input type="checkbox" id="blink">
          <label for="blink" title="Flashes the seconds display every second."><i class="fas fa-eye"></i> <app-help>Blink</app-help></label>
          <input type="checkbox" id="dim">
          <label for="dim" title="Makes the seconds 50% transparent."><i class="fas fa-adjust"></i> <app-help>Dim</app-help></label>
        </div>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Seconds" class="fieldGroup__label"><app-help title="Display clock in 24-Hour format instead of 12-Hour (will disable meridiem).">24-Hour Format</app-help></label>
        <div class="btnGroup btnGroup--justified">
          <input type="checkbox" id="enable">
          <label for="enable"><i class="fas fa-times"></i> Off</label>
        </div>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Seconds" class="fieldGroup__label"><app-help title="Displays AM/PM on the clock (only for 12-Hour format)">Meridiem</app-help></label>
        <div class="btnGroup btnGroup--justified">
          <input type="checkbox" id="enable">
          <label for="enable"><i class="fas fa-times"></i> Off</label>
          <input type="checkbox" id="dim">
          <label for="dim" title="Makes the seconds 50% transparent."><i class="fas fa-adjust"></i> <app-help>Dim</app-help></label>
        </div>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Seconds" class="fieldGroup__label"><app-help title="Shows a seperator between hours/minutes/seconds.">Delimiter</app-help></label>
        <div class="btnGroup btnGroup--justified">
          <input type="checkbox" id="enable">
          <label for="enable"><i class="fas fa-check"></i> Enable</label>
          <input type="checkbox" id="blink">
          <label for="blink" title="Flashes the seconds display every second."><i class="fas fa-eye"></i> <app-help>Blink</app-help></label>
          <input type="checkbox" id="dim">
          <label for="dim" title="Makes the seconds 50% transparent."><i class="fas fa-adjust"></i> <app-help>Dim</app-help></label>
        </div>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Seconds" class="fieldGroup__label"><app-help title="Shows brackets around clock. Type a symbol in the text boxes to choose what type of bracket.">Brackets</app-help></label>
        <div class="btnGroup btnGroup--justified">
          <input type="checkbox" id="enable">
          <label for="enable"><i class="fas fa-check"></i> Enable</label>
          <input type="checkbox" id="dim">
          <label for="dim" title="Makes the seconds 50% transparent."><i class="fas fa-adjust"></i> <app-help>Dim</app-help></label>
          <input type="text" id="clockBracketsLeft" class="fieldGroup__field w40Px" value="{" maxlength="1">
          <input type="text" id="clockBracketsRight" class="fieldGroup__field w40Px" value="}" maxlength="1">
        </div>
      </div>
      <div class="fieldGroup colMd4">
        <label for="clock1Seconds" class="fieldGroup__label"><app-help title="Displays the clock in an analog style instead of digital.">Analog clock</app-help></label>
        <div class="btnGroup btnGroup--justified">
          <input type="checkbox" id="enable">
          <label for="enable"><i class="fas fa-check"></i> Enable</label>
          <select name="clockAnalogStyle" id="clockAnalogStyle" class="fieldGroup__field w100Px" title="Choose the style of analog clock.">
            <option value="">Style 1</option>
            <option value="">Style 2</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<hr>
<p>
  <b>Please note</b> that clocks are based on the time and timezone your computer is set to. The detection of your current timezone is pretty much an educated guess and may not reflect your actual timezone, thus potentially causing the time to be off. Currently CaretTab is detecting your current timezone to be: "America/Los_Angeles".
</p>