<h1>
  Settings Dashboard
</h1>
<button type="button" data-page="about" class="link notice notice--success">
  <div class="flex-set w100Px">
    <i class="fas fa-thumbs-up"></i>
  </div>
  <div>
    CaretTab has been updated... Click to see what's new!
  </div>
  <div>
    <div class="btn btn--transparent"><i class="fas fa-times"></i></div>
  </div>
</button>
<fieldset>
  <div class="row dashWrapper">
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="design">
        <div class="dashBox__icon"><i class="fas fa-paint-brush fa-fw"></i></div>
        <div class="dashBox__title">Design</div>
        <div class="dashBox__hero">
          <span class="dashBox__label">
            <span class="inlineBlock mt1 pl1 pr1 bgWhite textBlack">&nbsp;&nbsp;abc 123&nbsp;&nbsp;</span>
          </span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="time">
        <div class="dashBox__icon"><i class="fas fa-clock fa-fw"></i></div>
        <div class="dashBox__title">Time</div>
        <div class="dashBox__hero">
          <span class="dashBox__number">2</span>
          <span class="dashBox__label">clocks</span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="date">
        <div class="dashBox__icon"><i class="fas fa-calendar-alt fa-fw"></i></div>
        <div class="dashBox__title">Date</div>
        <div class="dashBox__hero">
          <span class="dashBox__number">On</span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="bookmarks">
        <div class="dashBox__icon"><i class="fas fa-link fa-fw"></i></div>
        <div class="dashBox__title">Bookmarks</div>
        <div class="dashBox__hero">
          <span class="dashBox__number">12</span>
          <span class="dashBox__label">links</span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="search">
        <div class="dashBox__icon"><i class="fas fa-search fa-fw"></i></div>
        <div class="dashBox__title">Search</div>
        <div class="dashBox__hero">
          <span class="dashBox__number">On</span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="message">
        <div class="dashBox__icon"><i class="fas fa-quote-left fa-fw"></i></div>
        <div class="dashBox__title">Message</div>
        <div class="dashBox__hero">
          <span class="dashBox__number">On</span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="extra">
        <div class="dashBox__icon"><i class="fas fa-text-height fa-fw"></i></div>
        <div class="dashBox__title">Scale</div>
        <div class="dashBox__hero">
          <span class="dashBox__number">50%</span>
        </div>
      </a>
    </div>
    <div class="col12 colSm6 colMd4 colLg3">
      <a href="#" class="dashBox" data-page="extra">
        <div class="dashBox__icon"><i class="fas fa-font fa-fw"></i></div>
        <div class="dashBox__title">Language</div>
        <div class="dashBox__hero">
          <span class="dashBox__label">English</span>
        </div>
      </a>
    </div>
  </div>
</fieldset>