<form novalidate #userlogin="ngForm" (ngSubmit)="performSearch()">
  <input
    class="allowPointerEvent"
    type="text"
    id="search-box"
    name="{{param}}"
    [(ngModel)]="searchText"
    placeholder="{{settings.config.search.label}}"
    [autocomplete]="settings.config.search.autocomplete ? 'on' : 'off'"
    [style.width]="settings.config.search.width + 'em'">
  <button class="allowPointerEvent" type="submit" attr.aria-label="{{'options.search.search' | translate}}"><div class="icon">search</div></button>
</form>
