app-splash {
  display: grid;
  place-content: center;
  background: var(--optBg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z('splash');
  text-align: center;

  h1 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 3rem;
    color: var(--optText);
    strong {
      display: block;
      font-weight: 700;
    }
  }
  .updated h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--optText);
  }

  svg {
    max-width: 10rem;
    width: 70%;
    height: auto;
    margin-bottom: 3rem;
    path,
    rect {
      fill: var(--optText);
    }
  }
  .updated svg {
    max-width: 5rem;
    margin-bottom: 0;
  }

  .btn--splash {
    font-size: 2rem;
    padding: .5rem 2rem;
  }
  .btn--start {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
  .updated .btn--start {
    font-size: 2rem;
    padding: 1rem 2.5rem;
  }
  .btn--skip,
  .btn--back {
    font-size: 1.2rem;
    padding: 0 1.2rem;
  }
  .btn--next {
    order: 2;
  }
  .splash-nav_misc {
    order: 1;
  }

}

.updated {
  overflow-y: auto;
  width: 100vw;
}

.splash-steps {
  display: grid;
  place-items: center;
  transform: scale(1);
  opacity: 1;
  animation: splash-steps-fade .7s ease-in-out;
  h2 {
    font-size: 2.6rem;
    line-height: 1.3;
    margin: 0 0 4rem 0;
  }
}

@keyframes splash-steps-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transition: .7s ease-in-out all;
  }
  100% {
    opacity: 1;
  }
}

.splash-options {
  max-width: 50rem;
  width: 95vw;
  padding: 3rem;
  margin: 0 auto 2rem;
  background-color: var(--optBgHighlight);
  border-radius: .5rem;
  text-align: left;
  max-height: 80vh;
  overflow-y: auto;
  h3 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
  }
  p {
    font-size: 1.4rem;
  }
  ul {
    padding: 0 0 0 3rem;
  }
  li {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
}
.updated .splash-options {
  max-width: 90rem;
  max-height: 60vh;
}

.splash-nav {
  max-width: 50rem;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.updated .splash-nav {
  max-width: 60rem;
}

.splash-settings-toggle {
  .openOptions {
    background: var(--optBg);
    box-shadow: 0 0 0 0 var(--optBg), 0 0 0 0 var(--optAccent);
    border-radius: 50%;
    animation: splash-settings-toggle 1s 2s ease-in-out forwards;
  }
}

.splash_lang-btns {
  button {
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
}

@keyframes splash-settings-toggle {
  0% {
    display: none;
    opacity: 0;
    box-shadow: 0 0 0 0 var(--optBg), 0 0 0 0 var(--optAccent), 0 0 0 0 var(--optAccent);
  }
  1% {
    display: block;
    opacity: 0;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 0 25rem var(--optBg), 0 0 0 35rem var(--optAccent), 0 0 100rem 30rem var(--optAccent);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 0 7rem var(--optBg), 0 0 0 7.5rem var(--optAccent), 0 0 40rem 20rem var(--optAccent);
  }
}

.splash-input.input {
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-start;
  .toggle input + label {
    margin-left: 0;
  }
}

.splash350_heading {
  font-size: 2.8rem;
  line-height: 1.5;
  margin-top: 0;
  text-align: center;
}

.splash350 {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: auto;
      height: 1em;
      margin-right: .3em;
      path,
      rect {
        fill: var(--optText);
      }
    }
  }

  .featureDotNav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem 0;
  }

  .featureDotBtn {
    border: 0;
    background-color: var(--optBgHover);
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &.featureDotBtn--active {
      width: 1.2rem;
      height: 1.2rem;
      background-color: var(--optShadow);
    }
  }

  
  .featureGrid {
    margin: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .featureGridNav {
      .btn--feature {
        height: 6rem;
        width: 6rem;
        min-height: auto;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        .icon {
          font-size: 5rem;
          width: auto;
        }
      }
    }
    section {
      width: 60rem;
      min-height: 29rem;
      background-color: var(--optAccent);
      color: var(--optBgHighlight);
      text-align: center;
      padding: 0 0 2rem 0;
      border-radius: 1rem;
      overflow: hidden;
      .icon {
        display: block;
        width: 100%;
        font-size: 6rem;
        text-align: center;
        margin-bottom: .3em;
        padding: 2rem;
        background-color: var(--optAccentDark);
      }
      h3 {
        font-size: 2.4rem;
        line-height: 1.3;
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        padding: 0 4rem;
      }
      p {
        font-size: 1.6rem;
        padding: 0 4rem;
      }
      ul {
        padding: 0 4rem 0 4rem;
      }
      li {
        font-size: 1.4rem;
        margin-top: 1.3rem;
        line-height: 1.3;
        text-align: left;
      }
    }
  }
}
