<div class="donate mb1">
  <ul class="supportList">
    <li>
      <a href="{{getReviewLink(false)}}" class="supportBtn">{{'options.dashboard.review' | translate}}</a> |
      <!-- <a href="https://paypal.me/bluecaret" class="supportBtn">{{'options.dashboard.donate' | translate}}</a> |  -->
      <a href="https://github.com/bluecaret/carettab" class="supportBtn">{{'options.dashboard.contribute' | translate}}</a>
    </li>
    <li>
      {{'options.dashboard.share' | translate}}:
      <a href="https://twitter.com/intent/tweet?url=https://www.carettab.com/" class="supportBtn">Twitter</a> |
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.carettab.com/" class="supportBtn">Facebook</a> |
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.carettab.com/" class="supportBtn">LinkedIn</a> |
      <a href="mailto:?body=https://www.carettab.com/" class="supportBtn">Email</a>
    </li>
  </ul>
</div>
<div class="donate mb15">
  <ul class="supportList mt0">
    <li>{{'options.dashboard.supportBox' | translate | translateCut:0 }}<a href="https://github.com/bluecaret/carettab" class="supportBtn">{{'options.dashboard.supportBox' | translate | translateCut:1 }}</a>{{'options.dashboard.supportBox' | translate | translateCut:2 }}<a href="mailto:bluecaret@outlook.com" class="supportBtn">{{'options.dashboard.supportBox' | translate | translateCut:3 }}</a></li>
  </ul>
</div>
<h2 class="mt15">
  <svg *ngIf="status === 'updated' && shared.updateType !== 'hidden'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm1 13h-2v-6h2v6zm0-8h-2V7h2v2z" fill="limegreen" /><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" fill="#000000"/></svg>
  {{'options.dashboard.new' | translate}}
</h2>
<p>{{'options.dashboard.updated' | translate}} October 16, 2021</p>
<ul class="changelog">
  <li>{{'splash.v362.m1' | translate}}</li>
</ul>
<p>{{'options.dashboard.updated' | translate}} October 12, 2021</p>
<ul class="changelog">
  <li>{{'splash.v361.m1' | translate}}</li>
</ul>
<p>{{'options.dashboard.updated' | translate}} September 19, 2021</p>
<ul class="changelog">
  <li>{{'splash.v360.m1' | translate}}</li>
  <li>{{'splash.v360.m2' | translate}}</li>
  <li>{{'splash.v360.m3' | translate}}</li>
  <li>{{'splash.v360.m4' | translate}}</li>
  <li>{{'splash.v360.m5' | translate}}</li>
  <li>{{'splash.v360.m6' | translate}}</li>
  <li>{{'splash.v360.m7' | translate}}</li>
</ul>
<p>{{'options.dashboard.updated' | translate}} August 21, 2021</p>
<ul class="changelog">
  <li>{{'splash.v350.weatherTitle' | translate}}: {{'splash.v350.weatherDesc' | translate}}</li>
  <li>{{'splash.v350.covidTitle' | translate}}: {{'splash.v350.covidDesc' | translate}}</li>
  <li>{{'splash.v350.binaryTitle' | translate}}: {{'splash.v350.binaryDesc' | translate}}</li>
  <li>{{'splash.v350.messageTitle' | translate}}: {{'splash.v350.messageDesc' | translate}}</li>
  <li>{{'splash.v350.duplicateTitle' | translate}}: {{'splash.v350.duplicateDesc' | translate}}</li>
  <li>{{'splash.v350.positionTitle' | translate}}: {{'splash.v350.positionDesc' | translate}}</li>
  <li>{{'splash.v350.backupTitle' | translate}}: {{'splash.v350.backupDesc' | translate}}</li>
  <li>{{'splash.v350.selectTitle' | translate}}: {{'splash.v350.selectDesc' | translate}}</li>
  <li>{{'splash.v350.dimTitle' | translate}}: {{'splash.v350.dimDesc' | translate}}</li>
  <li>{{'splash.v350.m1' | translate}}</li>
  <li>{{'splash.v350.m2' | translate}}</li>
  <li>{{'splash.v350.m3' | translate}}</li>
  <li>{{'splash.v350.m4' | translate}}</li>
  <li>{{'splash.v350.m5' | translate}}</li>
  <li>{{'splash.v350.m6' | translate}}</li>
  <li>{{'splash.v350.m7' | translate}}</li>
  <li>{{'splash.v350.b1' | translate}}</li>
  <li>{{'splash.v350.b2' | translate}}</li>
  <li>{{'splash.v350.b3' | translate}}</li>
  <li>{{'splash.v350.b4' | translate}}</li>
  <li>{{'splash.v350.b5' | translate}}</li>
  <li>{{'splash.v350.b6' | translate}}</li>
</ul>
<p>
  {{'options.dashboard.needHelp' | translate | translateCut:0 }}<a href="https://www.bluecaret.com">{{'options.dashboard.needHelp' | translate | translateCut:1 }}</a>{{'options.dashboard.needHelp' | translate | translateCut:2 }}<a href="https://twitter.com/bluecaret">{{'options.dashboard.needHelp' | translate | translateCut:3 }}</a>{{'options.dashboard.needHelp' | translate | translateCut:4 }}<a href="https://github.com/bluecaret/carettab">{{'options.dashboard.needHelp' | translate | translateCut:5 }}</a>{{'options.dashboard.needHelp' | translate | translateCut:6 }}
</p>
<p>
  <a href="https://www.carettab.com/">{{'options.dashboard.credit' | translate | translateCut:0 }}</a>{{'options.dashboard.credit' | translate | translateCut:1 }}<a href="https://www.bluecaret.com">{{'options.dashboard.credit' | translate | translateCut:2 }}</a>{{'options.dashboard.credit' | translate | translateCut:3 }}<a href="https://opensource.org/licenses/MIT">{{'options.dashboard.credit' | translate | translateCut:4 }}</a>{{'options.dashboard.credit' | translate | translateCut:5 }}
</p>
<p>
  <a href="https://github.com/bluecaret/carettab">{{'options.common.supportLink' | translate}}</a> |
  <a href="https://www.bluecaret.com/about">{{'options.common.aboutLink' | translate}}</a> |
  <a href="https://www.bluecaret.com/contact">{{'options.common.contactLink' | translate}}</a> |
  <a href="https://www.bluecaret.com/privacy">Privacy Policy</a> |
  <a href="https://www.bluecaret.com/terms">Terms of Use</a>
</p>


