<h2 class="panelTitle">
  <i class="matIcon" aria-hidden="true">widgets</i>
  {{'options.dashboard.dashboard' | translate}}
</h2>
<div *ngIf="!shared.clearFutureOf" class="panelGroup">
  <div class="panelGroupItem">
    <h3 class="newUpdateHeading">
      <div class="matIcon newUpdateIcon" aria-hidden="true">info</div>
      <div class="newUpdateContent">
        <div class="newUpdateTitle">{{'updates.futureOf.title' | translate}}</div>
        <button *ngIf="!showFutureOf" type="button" class="panelBtn newUpdateCloseRead" (click)="showFutureOf = true">{{'updates.futureOf.readmore' | translate}}</button>
        <button type="button" class="panelBtn newUpdateClose" (click)="handleClearFutureOf()"><div class="matIcon" aria-hidden="true">close</div>{{'options.dashboard.closeMessage' | translate}}</button>
      </div>
    </h3>
    <h4 *ngIf="showFutureOf" class="panelGroupTitle">{{'updates.futureOf.t1' | translate}}</h4>
    <p *ngIf="showFutureOf" class="panelParagraph">
      {{'updates.futureOf.p1' | translate}}
    </p>
    <p *ngIf="showFutureOf" class="panelParagraph">
      {{'updates.futureOf.p2' | translate}}
    </p>
    <h4 *ngIf="showFutureOf" class="panelGroupTitle">{{'updates.futureOf.t2' | translate}}</h4>
    <p *ngIf="showFutureOf" class="panelParagraph">
      {{'updates.futureOf.p3' | translate}}
    </p>
    <p *ngIf="showFutureOf" class="panelParagraph">
      {{'updates.futureOf.p4' | translate}}
    </p>
    <h4 *ngIf="showFutureOf" class="panelGroupTitle">{{'updates.futureOf.t3' | translate}}</h4>
    <p *ngIf="showFutureOf" class="panelParagraph">
      {{'updates.futureOf.p5' | translate}}
    </p>
    <ul *ngIf="showFutureOf" class="panelParagraphList">
      <li>{{'updates.futureOf.p6' | translate}}</li>
      <li>{{'updates.futureOf.p7' | translate}}</li>
      <li>{{'updates.futureOf.p8' | translate}}</li>
      <li>{{'updates.futureOf.p9' | translate}}</li>
      <li>{{'updates.futureOf.p10' | translate}}</li>
    </ul>
    <p *ngIf="showFutureOf" class="panelParagraph">
      {{'updates.futureOf.p11' | translate}}
    </p>
    <p *ngIf="showFutureOf" class="panelGroupTitle">{{'updates.futureOf.p12' | translate}}</p>
    <p *ngIf="showFutureOf" class="panelParagraph">- BlueCaret</p>
  </div>
</div>
<div *ngIf="!shared.clearWhatsNewBox" class="panelGroup">
  <div class="panelGroupItem">
    <h3 class="newUpdateHeading">
      <div class="matIcon newUpdateIcon" aria-hidden="true">notifications_active</div>
      <div class="newUpdateContent">
        <div class="newUpdateTitle">{{'options.dashboard.updatedTo' | translate}} v3.9.0</div>
        <button *ngIf="!showWhatsNew" type="button" class="panelBtn newUpdateCloseRead" (click)="showWhatsNew = true">{{'options.dashboard.whatsNew' | translate}}</button>
        <button type="button" class="panelBtn newUpdateClose" (click)="handleClearWhatsNew()"><div class="matIcon" aria-hidden="true">close</div>{{'options.dashboard.closeMessage' | translate}}</button>
      </div>
    </h3>
    <h4 *ngIf="showWhatsNew" class="panelGroupTitle">{{'updates.newFeatures' | translate}}</h4>
    <ul *ngIf="showWhatsNew" class="panelList">
      <li>{{'updates.v390.loadshedding' | translate}}</li>
      <li>{{'updates.v390.fiscalyear' | translate}}</li>
    </ul>
    <h4 *ngIf="showWhatsNew" class="panelGroupTitle">{{'updates.fixesAndOthers' | translate}}</h4>
    <ul *ngIf="showWhatsNew" class="panelList">
      <li>{{'updates.v390.wallpapersize' | translate}}</li>
      <li>{{'updates.v390.seconds' | translate}}</li>
    </ul>
  </div>
</div>
<button class="panelGetPremiumAd {{shared.paid ? 'panelGetPremiumAdManage' : ''}}" type='button' (click)="openGetPremiumModal()">
  <i class='matIcon' aria-hidden="true">diamond</i>
  <div *ngIf="shared.paid; else getPremiumAd">
    <h2>{{'options.dashboard.youHavePremium' | translate}}</h2>
    <p>{{'options.dashboard.clickToManageSubscription' | translate}}</p>
  </div>
  <ng-template #getPremiumAd>
    <div>
      <h2>{{'options.dashboard.getPremiumAccess' | translate}}</h2>
      <p>{{'options.dashboard.getPremiumAccessDesc' | translate}}</p>
    </div>
  </ng-template>
</button>
<div class="panelGroup">
  <div class="panelDashboardWidgets">
    <h4 class="panelGroupTitle">{{'options.dashboard.generalSettings' | translate}}</h4>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Design')">
      <i class="matIcon" aria-hidden="true">design_services</i>
      {{'options.design.design' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Extra')">
      <i class="matIcon" aria-hidden="true">settings</i>
      {{'options.extra.extra' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <h4 class="panelGroupTitle">{{'options.dashboard.widgets' | translate}}</h4>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Time')">
      <i class="matIcon" aria-hidden="true">schedule</i>
      {{'options.time.time' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Date')">
      <i class="matIcon" aria-hidden="true">event</i>
      {{'options.date.date' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Bookmarks')">
      <i class="matIcon" aria-hidden="true">bookmarks</i>
      {{'options.bookmarks.headingBar' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Weather')">
      <i class="matIcon" aria-hidden="true">partly_cloudy_day</i>
      {{'options.weather.weather' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Notepad')">
      <i class="matIcon" aria-hidden="true">sticky_note_2</i>
      {{'options.notepad.notepad' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Message')">
      <i class="matIcon" aria-hidden="true">chat</i>
      {{'options.message.msg' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Search')">
      <i class="matIcon" aria-hidden="true">search</i>
      {{'options.search.search' | translate}}
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
    <button class="panelBtn panelBtnBlock" (click)="goToPage('Loadshedding')">
      <i class="matIcon" aria-hidden="true">bolt</i>
      ZA Loadshedding
      <i class="matIcon append_icon" aria-hidden="true">chevron_right</i>
    </button>
  </div>
</div>
<h3 class="panelSubtitle">{{'options.dashboard.moreFromBluecaret' | translate}}</h3>
<div class="panelGroup">
  <div class="panelField panelFieldInline">
    <div class="panelFieldContent">
      <h4 id="tsfLink" class="panelGroupTitle">Two Steps Forward</h4>
      <p class="panelDescription">{{'options.dashboard.tsfDesc' | translate}}</p>
    </div>
    <div class="panelFieldInput">
      <a href="https://chrome.google.com/webstore/detail/two-steps-forward-a-new-t/ehfogconngjcielhngfamnbdgfomlimb" class="panelBtn panelOpenInNewBtn" aria-pressed="true" [attr.aria-label]="'options.dashboard.tsfLink' | translate" ></a>
    </div>
  </div>
  <div class="panelField panelFieldInline">
    <div class="panelFieldContent">
      <h4 id="tsfLink" class="panelGroupTitle">RMS (Run My Script)</h4>
      <p class="panelDescription">{{'options.dashboard.rmsDesc' | translate}}</p>
    </div>
    <div class="panelFieldInput">
      <a href="https://chrome.google.com/webstore/detail/rms-run-my-script-script/bifnofbpdbdmgopjoidbicngijjmlogj" class="panelBtn panelOpenInNewBtn" aria-pressed="true" [attr.aria-label]="'options.dashboard.rmsLink' | translate" ></a>
    </div>
  </div>
</div>
