<h2 class="panelTitle">
  <button
    (click)="goTo.emit('Dashboard')"
    class="panelBack matIcon"
    aria-label="Back to dashboard"
    title="Back to dashboard"
  >arrow_back</button>
  {{'options.weather.weather' | translate}}
</h2>
<form class="panelGroup" #weatherOptions="ngForm" novalidate>
  <div class="panelField panelFieldInline">
    <div class="panelFieldContent">
      <label id="enableWeather" class="panelLabel">{{'options.weather.enable' | translate}}</label>
      <p class="panelDescription">{{'options.common.requiresInternet' | translate}}</p>
    </div>
    <div class="panelFieldInput">
      <options-toggle labelledby="enableWeather" name="enableWeather" id="enableWeather" [(ngModel)]="settings.config.weather.enabled" (ngModelChange)="shared.toggleOrder(settings.config.weather.id, $event, settings.config.weather.position);"></options-toggle>
    </div>
  </div>
</form>
<ng-container *ngIf="settings.config.weather.enabled">
  <h3 class="panelSubtitle">{{'options.weather.location' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label for="weatherLocation" class="panelLabel">{{'options.weather.selectLocation' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <input type="text" class="panelInput panelInputXl" id="weatherLocation" name="weatherLocation" [(ngModel)]="weatherService.locName" />
        <button class="panelBtn" type="button" (click)="getLocation();" attr.aria-label="{{'options.weather.search' | translate}}"><div class="matIcon" aria-hidden="true">search</div></button>
      </div>
    </div>
    <ng-container *ngIf="hasSearched && (!locationList || locationList.length < 1)">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="setLocationLabel" class="panelLabel">No location found.</label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="hasSearched && (locationList && locationList.length >= 1)">
      <div class="panelField panelFieldInline" *ngFor="let loc of locationList">
        <div class="panelFieldContent">
          <label id="setLocationLabel" class="panelLabel">{{loc.name}}</label>
          <p class="panelDescription">{{loc.region}}<ng-container *ngIf="loc.region">, </ng-container>{{loc.country}}</p>
        </div>
        <div class="panelFieldInput">
          <button class="panelBtn" type="button" (click)="setLocation(loc.url);" attr.aria-label="{{'options.weather.select' | translate}} {{loc.name}}"><div class="matIcon" aria-hidden="true">check</div></button>
        </div>
      </div>
    </ng-container>
  </div>
  <h3 class="panelSubtitle">{{'options.common.generalSettings' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherPreciseNumbersLabel" class="panelLabel">{{'options.weather.preciseNumbers' | translate}}</label>
        <p class="panelDescription">{{'options.weather.preciseNumbersDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherPreciseNumbersLabel" name="weatherPreciseNumbers" id="weatherPreciseNumbers" [(ngModel)]="settings.config.weather.preciseDigits"></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherCelsiusLabel" class="panelLabel">{{'options.weather.tempScale' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherCelsiusLabel" name="weatherCelsius" id="weatherCelsius" [(ngModel)]="settings.config.weather.celsius" on="&deg;C" off="&deg;F"></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherMetricLabel" class="panelLabel">{{'options.weather.metricUnits' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherMetricLabel" name="weatherMetric" id="weatherMetric" [(ngModel)]="settings.config.weather.metric"></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherWindUnitsLabel" class="panelLabel">{{'options.weather.windUnits' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherWindUnitsLabel" name="weatherWindUnits" id="weatherWindUnits" [(ngModel)]="settings.config.weather.windUnits"  off="{{settings.config.weather.metric?'km/h':'mph'}}" on="{{settings.config.weather.metric?'m/s':'ft/s'}}"></options-toggle>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherTwentyFourLabel" class="panelLabel">{{'options.weather.twentyFour' | translate}}</label>
        <p class="panelDescription">{{'options.weather.twentyFourDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherTwentyFourLabel" name="weatherTwentyFour" id="weatherTwentyFour" [(ngModel)]="settings.config.weather.twentyFour"></options-toggle>
      </div>
    </div>
  </div>
  <h3 class="panelSubtitle">{{'options.weather.today' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherTodayLabel" class="panelLabel">{{'options.weather.enableToday' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherTodayLabel" name="weatherToday" id="weatherToday" [(ngModel)]="settings.config.weather.current.enabled"></options-toggle>
      </div>
    </div>
    <ng-container *ngIf="settings.config.weather.current.enabled">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentIconLabel" class="panelLabel">{{'options.weather.icon' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentIconLabel" name="currentIcon" id="currentIcon" [(ngModel)]="settings.config.weather.current.icon.enabled"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.weather.current.icon.enabled">
        <div class="panelFieldContent">
          <label id="currentIconSizeLabel" class="panelLabel">{{'options.weather.iconSize' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="currentIconSizeLabel" class="panelInputLg" name="currentIconSize" id="currentIconSize" min="1" max="50" [(ngModel)]="settings.config.weather.current.icon.size"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentCurrentlyLabel" class="panelLabel">{{'options.weather.currentTemp' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentCurrentlyLabel" name="currentCurrently" id="currentCurrently" [(ngModel)]="settings.config.weather.current.temp.currently"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentFeelsLikeLabel" class="panelLabel">{{'options.weather.feelsLike' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentFeelsLikeLabel" name="currentFeelsLike" id="currentFeelsLike" [(ngModel)]="settings.config.weather.current.temp.feelsLike"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.weather.current.temp.currently || settings.config.weather.current.temp.feelsLike">
        <div class="panelFieldContent">
          <label id="currentDegreeLabel" class="panelLabel">{{'options.weather.degreeSymbol' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentDegreeLabel" name="currentDegree" id="currentDegree" [(ngModel)]="settings.config.weather.current.temp.degree"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentWindLabel" class="panelLabel">{{'options.weather.wind' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentWindLabel" name="currentWind" id="currentWind" [(ngModel)]="settings.config.weather.current.wind.enabled"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentHumidityLabel" class="panelLabel">{{'options.weather.humidity' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentHumidityLabel" name="currentHumidity" id="currentHumidity" [(ngModel)]="settings.config.weather.current.humidity.enabled"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentPressureLabel" class="panelLabel">{{'options.weather.pressure' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentPressureLabel" name="currentPressure" id="currentPressure" [(ngModel)]="settings.config.weather.current.pressure.enabled"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentSunriseLabel" class="panelLabel">{{'options.weather.sunrise' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentSunriseLabel" name="currentSunrise" id="currentSunrise" [(ngModel)]="settings.config.weather.current.astro.sunrise"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentSunsetLabel" class="panelLabel">{{'options.weather.sunset' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentSunsetLabel" name="currentSunset" id="currentSunset" [(ngModel)]="settings.config.weather.current.astro.sunset"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="currentMoonPhaseLabel" class="panelLabel">{{'options.weather.moonPhase' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="currentMoonPhaseLabel" name="currentMoonPhase" id="currentMoonPhase" [(ngModel)]="settings.config.weather.current.astro.moonPhase"></options-toggle>
        </div>
      </div>
    </ng-container>
  </div>
  <h3 class="panelSubtitle">{{'options.weather.forecast' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherForecastLabel" class="panelLabel">{{'options.weather.enableForecast' | translate}}</label>
      </div>
      <div class="panelFieldInput">
        <options-toggle labelledby="weatherForecastLabel" name="weatherForecast" id="weatherForecast" [(ngModel)]="settings.config.weather.forecast.enabled"></options-toggle>
      </div>
    </div>
    <ng-container *ngIf="settings.config.weather.forecast.enabled">
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastDaysLabel" class="panelLabel">{{'options.weather.numOfDays' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="forecastDaysLabel" class="panelInputLg" name="forecastDays" id="forecastDays" min="1" max="5" [(ngModel)]="settings.config.weather.forecast.days"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastHideTodayLabel" class="panelLabel">{{'options.weather.hideToday' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastHideTodayLabel" name="forecastHideToday" id="forecastHideToday" [(ngModel)]="settings.config.weather.forecast.hideToday"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastHorizontalLabel" class="panelLabel">{{'options.weather.horzDisplay' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastHorizontalLabel" name="forecastHorizontal" id="forecastHorizontal" [(ngModel)]="settings.config.weather.forecast.horizontal"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastIconLabel" class="panelLabel">{{'options.weather.icon' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastIconLabel" name="forecastIcon" id="forecastIcon" [(ngModel)]="settings.config.weather.forecast.icon.enabled"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.weather.forecast.icon.enabled">
        <div class="panelFieldContent">
          <label id="forecastIconSizeLabel" class="panelLabel">{{'options.weather.iconSize' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-range labelledby="forecastIconSizeLabel" class="panelInputLg" name="forecastIconSize" id="forecastIconSize" min="1" max="50" [(ngModel)]="settings.config.weather.forecast.icon.size"></options-range>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastDayNameLabel" class="panelLabel">{{'options.weather.dayName' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastDayNameLabel" name="forecastDayName" id="forecastDayName" [(ngModel)]="settings.config.weather.forecast.day.enabled"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastHighLabel" class="panelLabel">{{'options.weather.highTemp' | translate}}</label>
          <p class="panelDescription"></p>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastHighLabel" name="forecastHigh" id="forecastHigh" [(ngModel)]="settings.config.weather.forecast.temp.high"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline">
        <div class="panelFieldContent">
          <label id="forecastLowLabel" class="panelLabel">{{'options.weather.lowTemp' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastLowLabel" name="forecastLow" id="forecastLow" [(ngModel)]="settings.config.weather.forecast.temp.low"></options-toggle>
        </div>
      </div>
      <div class="panelField panelFieldInline" *ngIf="settings.config.weather.forecast.temp.low || settings.config.weather.forecast.temp.high">
        <div class="panelFieldContent">
          <label id="forecastDegreeLabel" class="panelLabel">{{'options.weather.degreeSymbol' | translate}}</label>
        </div>
        <div class="panelFieldInput">
          <options-toggle labelledby="forecastDegreeLabel" name="forecastDegree" id="forecastDegree" [(ngModel)]="settings.config.weather.forecast.temp.degree"></options-toggle>
        </div>
      </div>
    </ng-container>
  </div>
  <h3 class="panelSubtitle">{{'options.common.layout' | translate}}</h3>
  <div class="panelGroup">
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherSizeLabel" class="panelLabel">{{'options.common.size' | translate}}</label>
        <p class="panelDescription">{{'options.common.sizeDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range labelledby="weatherSizeLabel" class="panelInputLg" name="weatherSize" id="weatherSize" min="1" max="50" [(ngModel)]="settings.config.weather.scaling"></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherOrderLabel" class="panelLabel">{{'options.common.order' | translate}}</label>
        <p class="panelDescription">{{'options.common.orderDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <div class="panelBtnGroup panelInputMd">
          <button
            type="button"
            attr.aria-label="{{'options.common.moveUp' | translate}}"
            title="{{'options.common.moveUp' | translate}}"
            class="panelBtn"
            [disabled]="shared.isFirst(settings.config.weather.id, settings.config.weather.position)"
            (click)="shared.changeOrder(settings.config.weather.id, true, settings.config.weather.position);">
            <div class="matIcon" aria-hidden="true">expand_less</div>
          </button>
          <button
            type="button"
            attr.aria-label="{{'options.common.moveDown' | translate}}"
            title="{{'options.common.moveDown' | translate}}"
            class="panelBtn"
            [disabled]="shared.isLast(settings.config.weather.id, settings.config.weather.position)"
            (click)="shared.changeOrder(settings.config.weather.id, false, settings.config.weather.position);">
            <div class="matIcon" aria-hidden="true">expand_more</div>
          </button>
        </div>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherPlacementLabel" class="panelLabel">{{'options.common.position' | translate}}</label>
        <p class="panelDescription">{{'options.common.positionDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-position labelledby="weatherPlacementLabel" id="weatherPlacement" name="weatherPlacement" [settingId]="settings.config.weather.id" [(ngModel)]="settings.config.weather.position"></options-position>
      </div>
    </div>
    <div class="panelField panelFieldInline" *ngIf="settings.config.weather.forecast.enabled">
      <div class="panelFieldContent">
        <label id="weatherPaddingLabel" class="panelLabel">{{'options.common.padding' | translate}}</label>
        <p class="panelDescription">{{'options.weather.paddingDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range labelledby="weatherPaddingLabel" class="panelInputLg" name="weatherPadding" min="0" max="50" [(ngModel)]="settings.config.weather.padding"></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherMarginHeightLabel" class="panelLabel">{{'options.common.marginHeight' | translate}}</label>
        <p class="panelDescription">{{'options.common.marginHeightDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range labelledby="weatherMarginHeightLabel" class="panelInputLg" name="weatherMarginHeight" min="0" max="50" [(ngModel)]="settings.config.weather.marginHeight"></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherMarginWidthLabel" class="panelLabel">{{'options.common.marginWidth' | translate}}</label>
        <p class="panelDescription">{{'options.common.marginWidthDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range labelledby="weatherMarginWidthLabel" class="panelInputLg" name="weatherMarginWidth" min="0" max="50" [(ngModel)]="settings.config.weather.marginWidth"></options-range>
      </div>
    </div>
    <div class="panelField panelFieldInline">
      <div class="panelFieldContent">
        <label id="weatherOffsetLabel" class="panelLabel">{{'options.common.offset' | translate}}</label>
        <p class="panelDescription">{{'options.common.offsetDesc' | translate}}</p>
      </div>
      <div class="panelFieldInput">
        <options-range labelledby="weatherOffsetLabel" class="panelInputLg" name="weatherOffset" min="-50" max="50" [(ngModel)]="settings.config.weather.offset"></options-range>
      </div>
    </div>
  </div>
</ng-container>

<button class="panelBtn panelBackToDashLink" (click)="goTo.emit('Dashboard')"><i class="matIcon" aria-hidden="true">arrow_back</i>Back to Dashboard</button>
